= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %h4 Enter your details below
  %h6 All fields are mandatory
  .input.name.optional.user_name
    %label.name.optional.control-label(for="user_name") Name
    = f.input_field :name, :required => true, :autofocus => true, class: "string name optional", placeholder: "Full Name..."
  .input.email.optional.user_email
    %label.email.optional.control-label(for="user_email") Email
    = f.input_field :email, :required => true, :autofocus => true, class: "string email optional", placeholder: "E-mail Address..."
  .input.password.optional.user_password
    %label.password.optional.control-label(for="user_password") Password
    = f.input_field :password, :required => true, class: "password optional", placeholder: "Password..."
  .input.password.optional.user_confirm_password
    %label.password.optional.control-label(for="user_confirm_password") Password
    = f.input_field :password_confirmation, :required => true, class: "password optional", placeholder: "Confirm Password..."
  %ul.inline-list.clearfix.terms-conditions
    %li
      %input.pretty(checked="checked" data-label="I agree to the" name="terms_conditions" type="checkbox" value="true")/
    %li
      %a(href="#") terms and conditions
      and
      %a(href="#") refund policy
  = hidden_field_tag :plan_remote_id, plan_remote_id
  = f.button :submit, "30 DAY FREE TRIAL", class: 'button radius green'
