%link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css")/
= stylesheet_link_tag    "application", :media => "all"
#wp-layout
  %header
    .row
      .twelve.columns
        %nav.topbar.clearfix
          %h1
            %a.brand(href="#")= image_tag "wp-layout/logo-nav.png"
          %a.button.radius.green(href="#") 30 DAY FREE TRIAL
          %ul.menu.clearfix
            %li
              %a(href="http://www.optimizeplayer.com/") Home
            %li
              %a(href="http://www.optimizeplayer.com/features/") Features
            %li
              %a(href="http://www.optimizeplayer.com/demos/") Demos
            %li
              %a(href="http://www.optimizeplayer.com/plans-pricing/") Plans &amp; Pricing
            %li.active
              %a(href="#") Sign In
            %li
              %a(href="http://www.optimizeplayer.com/blog/") Blog
  %section(role="sign-up")
    .free-trial
      .row
        .twelve.columns.centralize
          %h1 Start your 30 Day Free Trial
          %h4 The easiest way to publish, build a list, and generate revenue with your media
    .plans-tabs
      .row
        .ten.columns.offset-by-one
          %ul.navigation.inline-list.clearfix
            %li.plan.plan-1.active
              %a(href="#plan-1")
                %h3 FREE
                %ul.price
                  %li $
                  %li
                    %span.value 00
                    = image_tag "wp-layout/price-dash.png", class: "dash"
                  %li
                    %span.cents 00
                    %span.month /month
            %li.plan.plan-2
              %a(href="#plan-2")
                %h3 STARTER
                %ul.price
                  %li $
                  %li
                    %span.value 35
                    = image_tag "wp-layout/price-dash.png", class: "dash"
                  %li
                    %span.cents 00
                    %span.month /month
            %li.plan.plan-3
              %a(href="#plan-3")
                %h3 UNLIMITED
                %ul.price
                  %li $
                  %li
                    %span.value 99
                    = image_tag "wp-layout/price-dash.png", class: "dash"
                  %li
                    %span.cents 00
                    %span.month /month
    .plans-tabs-content
      .row
        .twelve.columns
          #plan-1.tab-content.active
            .row
              .six.columns
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-embeds.png"
                  %li
                    %div
                      %b 5 embeds
                    %div You can have up to 5 embeds
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-unbranded.png"
                  %li
                    %div
                      %b Branded
                    %div We put our logo or our link anywhere
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-std-features.png"
                  %li
                    %div
                      %b Standard Features
                    %div You get all the standard features
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-users.png"
                  %li
                    %div
                      %b 1 Users
                    %div Up to 1 users can use the app
                %ul.inline-list.clearfix
                  %li
                    %ul.price
                      %li $
                      %li
                        %span.value 25
                        = image_tag "wp-layout/price-dash-red.png", class: "dash"
                      %li
                        %span.cents 00
                        %span.month /month
                  %li
                    = image_tag "wp-layout/sticker-30-trial.png", class: "sticker"
                  %li
                    = image_tag "wp-layout/arrow-30-trial.png", class: "arrow"
              .six.columns
                = render "devise/registrations/form", plan_remote_id: "free2free2free"
          #plan-2.tab-content
            .row
              .six.columns
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-embeds.png"
                  %li
                    %div
                      %b 100 embeds
                    %div You can have up to 100 embeds
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-unbranded.png"
                  %li
                    %div
                      %b Unbranded
                    %div We won`t put our logo or our link anywhere
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-users.png"
                  %li
                    %div
                      %b 3 Users
                    %div Up to 3 users can use the app
                %ul.inline-list.clearfix.itens
                %ul.inline-list.clearfix
                  %li
                    %ul.price
                      %li $
                      %li
                        %span.value 35
                        = image_tag "wp-layout/price-dash-red.png", class: "dash"
                      %li
                        %span.cents 00
                        %span.month /month
                  %li
                    = image_tag "wp-layout/sticker-30-trial.png", class: "sticker"
                  %li
                    = image_tag "wp-layout/arrow-30-trial.png", class: "arrow"
              .six.columns
                = render "devise/registrations/form", plan_remote_id: "starter"
          #plan-3.tab-content
            .row
              .six.columns
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-embeds.png"
                  %li
                    %div
                      %b Unlimited embeds
                    %div You can have unlimited embeds
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-unbranded.png"
                  %li
                    %div
                      %b Unbranded
                    %div We won`t put our logo or our link anywhere
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-users.png"
                  %li
                    %div
                      %b Unlimited Users
                    %div Unlimited users can use the app
                %ul.inline-list.clearfix.itens
                  %li= image_tag "wp-layout/icon-std-features.png"
                  %li
                    %div
                      %b Premium Features
                    %div You get all the premium features
                %ul.inline-list.clearfix
                  %li
                    %ul.price
                      %li $
                      %li
                        %span.value 99
                        = image_tag "wp-layout/price-dash-red.png", class: "dash"
                      %li
                        %span.cents 00
                        %span.month /month
                  %li
                    = image_tag "wp-layout/sticker-30-trial.png", class: "sticker"
                  %li
                    = image_tag "wp-layout/arrow-30-trial.png", class: "arrow"
              .six.columns
                = render "devise/registrations/form", plan_remote_id: "unlimited"
    .depoiments.centralize
      .row
        .twelve.columns
          %h1 What our Happy Customers say about Pixel Serve
      .row
        .four.columns
          = image_tag "temp-profile.png", class: "photo"
          .speak
            = image_tag "wp-layout/arrow-depoiment.png", class: "arrow"
            %p
              %i Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor odio vel mauris pharetra, ac malesuada elit euismod. Vestibulum ipsum est, blandit fermentum fermentum non...
            %p.name
              %b Bill Gates
            %p.company Microsoft Corporation
        .four.columns
          = image_tag "temp-profile.png", class: "photo"
          .speak
            = image_tag "wp-layout/arrow-depoiment.png", class: "arrow"
            %p
              %i Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor odio vel mauris pharetra, ac malesuada elit euismod. Vestibulum ipsum est, blandit fermentum fermentum non...
            %p.name
              %b Bill Gates
            %p.company Microsoft Corporation
        .four.columns
          = image_tag "temp-profile.png", class: "photo"
          .speak
            = image_tag "wp-layout/arrow-depoiment.png", class: "arrow"
            %p
              %i Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor odio vel mauris pharetra, ac malesuada elit euismod. Vestibulum ipsum est, blandit fermentum fermentum non...
            %p.name
              %b Bill Gates
            %p.company Microsoft Corporation
  %section(role="footer")
    .row
      .three.columns.centralize
        = image_tag "wp-layout/mark-satisfaction.png"
        %a.button.radius.green(href="#") 30 DAY FREE TRIAL
      .three.columns
        %h4 optimizeplayer
        %ul.links
          %li
            %a(href="http://www.test.com/") Affiliate Program
      .three.columns
        %h4 optimizeplayer
        %ul.links
          %li
            %a(href="http://www.optimizeplayer.com/category/uncategorized/") Uncategorized
          %li
            %a(href="Lorem") Lorem
      .three.columns
        %h4 Get in Touch
        %ul.inline-list.contact.phone.clearfix
          %li
            %i.icon-mobile-phone
          %li
            %div Call us to ask any questions
            %div 18775 155 311
        %ul.inline-list.contact.email.clearfix
          %li @
          %li
            %div Call us at
            %a(href="#") info@optimizeplayer.com
        %ul.inline-list.contact.map.clearfix
          %li
            %i.icon-map-marker
          %li
            %div 2320 Peck Rd.,
            %div Whittier CA 90601
        %a.button.radius.blue(href="#") Contact Us
  %footer
    .row
      .three.columns
        Copyright © 2013 Pixel Serve
      .three.columns
        %ul.inline-list.social.clearfix
          %li
            %a(href="#")
              %i.icon-facebook-sign
          %li
            %div Find us
            %a(href="#") Facebook
      .three.columns
        %ul.inline-list.social.clearfix
          %li
            %a(href="#")
              %i.icon-twitter.icon-3
          %li
            %div Follow us on
            %a(href="#") Twitter
      .three.columns
        %ul.inline-list.social.clearfix
          %li
            %a(href="#")
              %i.icon-google-plus
          %li
            %div Follow us on
            %a(href="#") Google+
= javascript_include_tag "sign_up"
