#one_time.reveal-modal.billing-modal.centralize(modal=true)
  .modal-header
    %h4 Pay As You Go
    %h5
      You have selected to pay one time fee
  .modal-body
    .form
      .clearfix
        .pull-left.details
          = image_tag "arrow-plan-details-modal.png", class: "arrow"
          %p
            After you pay you will have:
          %ul.price
            %li $
            %li
              %span.value
                = AddonsPricelist.instance.formatted_pay_as_you_go
            %li
              %span.cents 00
              %span.month one time
          %p You have a cupon?
          .input-append.clearfix
            %input(name="cupon" placeholder="Cupon Code..." type="text")>/
            \/
            %span.add-on
              %a.button.blue.radius(href="#") Apply
        .pull-right.form-billing
          = render "account/billing/payment_form", url: account_buy_addon_path, price: AddonsPricelist.instance.pay_as_you_go, attrs: {addon_id: :pay_as_you_go}, recurring: false
