- content_for :title, "Settings"
%section(role="account")
  .page-body
    - addons = Array.new
    - addons << ['addon-skin', 'addon-skin.png', 'Custom Skin', :custom_skin, '', 'skin']
    - addons << ['addon-video', 'addon-importing.png', 'Video Importing', :video_importing, '/video', 'video']
    - addons << ['addon-screenshare', 'addon-screensharing.png', 'Screenshare Support', :screenshare_support, '', 'screenshare support']
    = render partial: 'plans', locals:{ plans: @plans, current_plan: @current_plan }
    = render "one_time_fee_modal"
    - addons.each do |addon|
      - price = AddonsPricelist.instance.send("formatted_#{addon[3]}")
      .reveal-modal.billing-modal.centralize(id="#{addon[0]}")
        .modal-header
          %h4 BUY ADDON
          %h5
            You have selected to buy #{addon[2]} Addon
        .modal-body
          .form
            .clearfix
              .pull-left.details.addons
                = image_tag "arrow-plan-details-modal.png", class: "arrow"
                .clearfix
                  .pull-left.image
                    = image_tag addon[1]
                  .pull-left
                    %h5
                      = addon[2]
                    %ul.price
                      %li $
                      %li
                        %span.value
                          = price
                      %li
                        %span.cents 00
                        %span.month
                          = addon[4]
                %p.centralize.charge
                  Each #{addon[5]} will
                  %b
                    charge you with $#{price}
                %ul.quantity(field-container="#{addon[3]}" inc-dec-field price="#{price}")
                  %li
                    $
                    %span
                      {{price}}
                      \.00
                    X
                  %li
                    .input-append.clearfix.inc-dec
                      %input(name="quantity" type="text" ng-model="quantity")/
                      %span.add-on
                        %a.inc(ng-click="quantity = quantity + 1")
                          %i.icon-sort-up
                        %a.dec(ng-click="quantity = quantity - 1")
                          %i.icon-sort-down
                  %li
                    %ul.price
                      %li $
                      %li
                        %span.value
                          {{price*quantity}}
                      %li
                        %span.cents 00
                %p You have a cupon?
                .input-append.clearfix
                  %input(name="cupon" placeholder="Cupon Code..." type="text")/
                  %span.add-on
                    %a.button.blue.radius(href="#") Apply
              .pull-right.form-billing(id="#{addon[3]}")
                = render "account/billing/payment_form", url: account_buy_addon_path, price: price, attrs: {addon_id: addon[3], quantity: 1}, recurring: false
    = render partial: 'payment_history'
    = render partial: 'payment_method'
    .row
      .twelve.columns
        #account
          .box-menu
            = render "account/shared/sidenav", {active: "billing"}
            .right-content
              .header.clearfix
                .pull-left
                  %ul
                    %li
                      %h3
                        = image_tag "icon-billing.png"
                        Billing
                    %li
                      %a(data-reveal-id="payment-method" href="#")
                        %i.picon-creditcard
                        Billing Information
                    %li
                      %a(data-reveal-id="payment-history" href="#")
                        %i.picon-moneyhistory
                        View Payment History
                .pull-right
                  %a.help(href="#") ?
              .body.billing
                .centralize
                  %h4 Please select the plan that suits your needs best
                  %p
                    Your current account is #{@current_plan.name}
                .plans.clearfix
                  - @plans.each do |plan|
                    %div(class="inline plan plan-#{plan.remote_id} #{'bigger' if plan.name == 'Pro'}")
                      - if plan.name == 'Pro'
                        = image_tag("plan-popular.png", class: "flag-popular")
                      .plan-header
                        %h5
                          = plan.name
                        %p
                          = raw("&mdash;$#{plan.amount/100}/mo &mdash;")
                      .plan-body
                        - plan.features.each do |feature|
                          %p
                            = feature.html_safe
                        - if plan.free?
                          %p &nbsp;
                        %ul.price.html_save
                          - if plan.free?
                            %li
                              %span.value FREE
                          - else
                            %li $
                            %li
                              %span.value
                                = plan.amount/100
                            %li
                              %span.cents 00
                              %span.month /month
                      .plan-footer
                        - if plan == @current_plan
                          %a.button.radius(data-reveal-id="#{plan.id}" href="#") CURRENT
                        - else
                          %a.button.radius(data-reveal-id="#{plan.id}" href="#") SELECT
                        %a.details(href="#") view details
                .clearfix
                  - unless current_account.prepaid
                    .pull-left.pay-as-you-go
                      %h4
                        Additional
                        %b Pay As You Go
                        Plan
                      .clearfix.description
                        .pull-left
                          %p
                            %b UNBRANDED
                          %p
                            %b UNLIMITED USERS
                          %p
                            %b PREMIUM FEATURES
                        .pull-left.price-box
                          %ul.price
                            %li $
                            %li
                              %span.value
                                = AddonsPricelist.instance.formatted_pay_as_you_go
                            %li
                              %span.cents 00
                              %span.month /month
                          %p (one time fee)
                      %a.button.radius(data-reveal-id="one_time" href="#") SELECT
                      %a.details(href="#") view details
                  .pull-left.doubts
                    .balloon
                      %p Have a question or you are not sure about something?
                      %p Don’t worry, we won’t leave you hanging.Contact us and we will help you.
                      = image_tag("arrow-balloon-doubt.png", class: "arrow")
                    = image_tag("logo-gray.png", class: "logo")
                    %a.button.radius(href="#") GET IN TOUCH
                .highlight.centralize
                  %h4 That`s not all. Try some of our great addons
                  %p Checkout our three addon services below
                .addons.clearfix
                  .pull-left.addon.centralize
                    = image_tag "addon-skin.png"
                    %h5 Custom Skin
                    %ul.price
                      %li $
                      %li
                        %span.value
                          = AddonsPricelist.instance.send(:formatted_custom_skin)
                      %li
                        %span.cents 00
                        %span.month
                    %a.button.radius.green(data-reveal-id="addon-skin" href="#") BUY NOW
                    %a.more(href="#") Learn More
                  .pull-left.addon.centralize
                    = image_tag "addon-importing.png"
                    %h5 Video Importing
                    %ul.price
                      %li $
                      %li
                        %span.value
                          = AddonsPricelist.instance.send(:formatted_video_importing)
                      %li
                        %span.cents 00
                        %span.month /video
                    %a.button.radius.green(data-reveal-id="addon-video" href="#") BUY NOW
                    %a.more(href="#") Learn More
                  .pull-left.addon.centralize
                    = image_tag "addon-screensharing.png"
                    %h5 Screenshare Support
                    %ul.price
                      %li $
                      %li
                        %span.value
                          = AddonsPricelist.instance.send(:formatted_screenshare_support)
                      %li
                        %span.cents 00
                        %span.month
                    %a.button.radius.green(data-reveal-id="addon-screenshare" href="#") BUY NOW
                    %a.more(href="#") Learn More
