@import "compass/css3";

.button.flat {
  box-shadow: none;
  text-shadow: none;
}

.blue.button.flat {
  border: 1px solid #4B8BD0;
  color: #4B8BD0;
  background: #FFFFFF;
}

.red.button.flat {
  border: 1px solid #F02E08;
  color: #F02E08;
  background: #FFFFFF;
}

.button-block {
  display: block;
  width: 100%;
}

.red.button.flat {
  border: 1px solid #F02E08;
  color: #F02E08;
  background: #FFFFFF;
}

.blue-submit {
  background: #2bc3e3;
  @include border-radius(4px);
  color: white;
  border: 0;
}