.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {clear: both;}

.clearfix {*zoom: 1;}

.checkbox,
.radio-button {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.checkbox a,
.radio-button a {
  width: 17px;
  height: 24px;
  background: image-url('controls.png') top left no-repeat;
  display: block;
  float: left;
  cursor: pointer;
  margin:0;
}

.radio-button a {background-position: 0 -47px;}
.checkbox a {background-position: 0 8px;}

.checkbox a:focus,
.radio-button a:focus {outline: 0 none;}

.checkbox a:focus{background-position: 0 -30px;}
.radio-button a:focus{background-position: 0 -150px;}

.checkbox a.checked{ background-position: 0 -20px; }
.radio-button a.checked { background-position: 0 -74px; }

.checkbox.green {
  a {
    background: image-url('checkbox-and-radio-green.png') no-repeat 0px -16px transparent;
    &.checked {
      background-position: 0 6px; 
    }
  }
}

.checkbox a.checked:focus{ background-position: 0 -90px; }
.radio-button a.checked:focus { background-position: 0 -210px; }

.checkbox label,
.radio-button label {
  display: block;
  float: left;
  margin: 6px 5px;
  cursor: pointer;
  font-weight: normal
}

.radio-button label {
  font-weight: bold;
}

.checkbox.disabled a,
.radio-button.disabled a,
.checkbox.disabled label,
.radio-button.disabled label{
  cursor:not-allowed;
}

.checkbox.disabled a {
  background-position: 0 -240px;
}

.radio-button.disabled a {
  background-position: 0 -270px;
}

.flat {
  box-shadow: none !important;
}

.input.boolean {
  margin-top: -3px;
  background: image-url('checkbox-and-radio-green.png') no-repeat 0px 4px transparent;

  .control-label {
    color: #999999;
    font-size: 15px;
    font-weight: 300;
  }

  input.boolean {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

.checked_false {
  .input.boolean {
    background-position: 0px -19px;
  }
}

.cPSkin {
  z-index: 100;
}
