- width, height = project.dimensions == "responsive" ? ['auto', 'auto'] : project.dimensions.split("x").map {|d| "#{d}px" }
- max_width = ''
- max_height = ''
- short_cid = project.short_cid
:css
  #{render partial: 'projects/player/styles.css.erb', locals: { width: width, height: height, short_cid: short_cid }}
%div{id: "player-container_#{short_cid}", class: "align-#{project.align}"}
  %div{id: "player#{short_cid}", class: "align-#{project.align}"}

    .outside-top
      = render partial: 'projects/player/ctas', locals: { project: project, embed: embed, position: 'outside', location: 'top' }

    .outside-left
      = render partial: 'projects/player/ctas', locals: { project: project, embed: embed, position: 'outside', location: 'left' }

    .inside
      %div{id: "player_cont_#{short_cid}", style:"position: relative; max-width:#{max_width}px; max-height:#{max_height}px", ng:{class: "project.dimensions"}}
        - if embed
          %a{id:"video#{project.cid}", style: "display:block; width:#{width}; height:#{height};"}
        - else
          .cta-overlay(ng-show="cta_store.currentCta")
          %a{id:"video#{project.cid}", href: "#{project.url}", style: "display:block;",
            ng: { style: "{ width: project.getWidth(), height: project.getHeight() }", class: "project.dimensions" },
            :'final-preview' => '',
            data: { short_cid: short_cid }}
          #logo-preview(style="display: none;")
            %img(cta src="{{logo.orig}}" ng-model="logo")

        = render partial: 'projects/player/ctas', locals: { project: project, embed: embed, position: 'inside', location: nil }
    .outside-right
      = render partial: 'projects/player/ctas', locals: { project: project, embed: embed, position: 'outside', location: 'right' }

    .clear

    .outside-bottom
      = render partial: 'projects/player/ctas', locals: { project: project, embed: embed, position: 'outside', location: 'bottom' }
.clear