- if embed
  - buttons = (location.nil?) ? project.cta_buttons.has_position(position) : project.cta_buttons.has_position(position).has_location(location)
  - buttons.each do |button|
    != button_html(button)

  - cta_htmls = (location.nil?) ? project.cta_htmls.has_position(position) : project.cta_htmls.has_position(position).has_location(location)
  - cta_htmls.each do |cta_html|
    != cta_html_code(cta_html)

  - if !project.optin.blank? && project.optin.position == position && (location.nil? || project.optin.location == location)
    != optin(project)
- else
  - filter, filter_type = (location.nil?) ? [position, 'position'] : [location, 'location']
  .cta(id="{{button.type}}{{button.cid}}#{position}#{location}"
       class="#{position} #{location}" 
       ng-repeat="button in cta_store.buttons | filter:'#{filter}'"
       ng-hide="cta_store.currentCta.cid && cta_store.currentCta.cid != button.cid"
       ng-class="{'cta-preview': button.cid == cta_store.currentCta.cid}")
    = render partial: 'projects/player/editor_cta_button'

  .cta(id="{{html.type}}{{html.cid}}#{position}#{location}"
       class="#{position} #{location}" 
       ng-repeat="html in cta_store.htmls | filter:'#{filter}'"
       ng-hide="cta_store.currentCta.cid && cta_store.currentCta.cid != html.cid"
       ng-class="{'cta-preview': html.cid == cta_store.currentCta.cid}")
    = render partial: 'projects/player/editor_cta_html'

  .cta(id="{{cta_store.optin.type}}{{cta_store.optin.cid}}#{position}#{location}"
       class="#{position} #{location}"
       ng-class="{'cta-preview': cta_store.optin.cid && cta_store.optin.cid == cta_store.currentCta.cid}"
       ng-hide="(cta_store.currentCta.cid && cta_store.currentCta.cid != cta_store.optin.cid) || (!cta_store.optin.cid || cta_store.optin.#{filter_type} != '#{filter}')")
    = render partial: 'projects/player/editor_cta_optin'