.button-code-custom(cta ng-model="button" ng-style="{left: button.left, top: button.top}")
  %a.button.radius(href="{{button.link}}" ng-style="{background: 'rgba(' + button.background_color + ',' + button.background_opacity + ')', color: 'rgba(' + button.text_color + ',' + button.text_opacity + ')', fontFamily: button.font_family, fontSize: button.font_size, fontWeight: button.font_style}")
    %span
      {{button.text}}