.optin(ng-class="{fullscreen: cta_store.optin.fullscreen == true || cta_store.optin.fullscreen == 'true' || cta_store.optin.position != 'inside'}"
  ng-style="{left: cta_store.optin.left, top: cta_store.optin.top, bottom: cta_store.optin.bottom, right: cta_store.optin.right, background: 'rgba('+cta_store.optin.background_color+','+cta_store.optin.background_opacity+')'}")
  .skip-btn(ng-show="isTrue(cta_store.optin.skip)" optinSkipBtn ng-style="{fontFamily: cta_store.optin.font_family}") Skip this step &rarr;
  .optin-form.centralize
    %p(ng-style="{color: 'rgba('+cta_store.optin.text_color+','+cta_store.optin.text_opacity +')', fontSize: cta_store.optin.font_size, fontFamily: cta_store.optin.font_family, fontWeight: cta_store.optin.font_style }")
      {{ cta_store.optin.header_text }}
    .input-append.clearfix
      %input(name="email" type="text" placeholder="Enter Your Email" ng-style="{fontFamily: cta_store.optin.font_family}")/
      %button(ng-style="{background: 'rgba('+cta_store.optin.button_background_color+','+cta_store.optin.button_background_opacity+')'}" type="submit")
        %span(ng-style="{color: 'rgba('+cta_store.optin.text_color+','+cta_store.optin.text_opacity +')', fontWeight: cta_store.optin.font_style}") {{ cta_store.optin.text }}