<% if defined? load_to_element %>
  document.getElementById('<%= load_to_element %>').innerHTML = '<%= escape_javascript render(partial: 'projects/player/code', locals: { project: project, embed: embed }) %>';
<% else %>
  document.write('<%= escape_javascript render(partial: 'projects/player/code', locals: { project: project, embed: embed }) %>');
<% end %>
var protocol = window.location.protocol;
var documentHidden = "hidden";
var short_cid = '<%= project.short_cid %>';
optimizeplayer_<%= project.short_cid %> = {
  project: JSON.parse('<%= raw escape_javascript(project.to_json) %>'),
  ctas_status: {},
  player: null,
  embed: <%= embed %>,
  emailValidation: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
  colorConverter: {
    // convert 0..255 R,G,B values to a hexidecimal color string
    RGBToHex: function(rgb) {
      var r = rgb[0];
      var g = rgb[1];
      var b = rgb[2];
      var bin = r << 16 | g << 8 | b;
      return (function(h){
        return new Array(7-h.length).join("0")+h
      })(bin.toString(16).toUpperCase())
    },
    RGBToBin: function(rgb) {
      var hex = this.RGBToHex(rgb);
      return '0x' + hex;
    }
  },
  getControls: function () {
    return {
      url: protocol + '<%= Yetting.cloudfront_host %>/assets/skins/' + (this.project.skin ? this.project.skin : 'skin0') + '.swf',
      color: ((this.project.skinColor) ? this.colorConverter.RGBToBin(this.project.skinColor.split(',')) : 0x449911),
      gap: ((this.project.cb_gap) ? parseInt(this.project.cb_gap) : 4),
      displayTime: this.isTrue(this.project.display_time),
      displayVolume: this.isTrue(this.project.display_volume),
      displaySmallPlay: this.isTrue(this.project.play_button),
      displayBigPlay: this.isTrue(this.project.big_play_button),
      displayFullscreen: this.isTrue(this.project.full_screen),
      displayControls: this.project.control_bar_hide_method != 'hide',
      allowPause: this.isTrue(this.project.allow_pause),
      allowMute: this.isTrue(this.project.mute),
      hideMethod: ((this.project.control_bar_hide_method && this.project.control_bar_hide_method != 'hide') ? this.project.control_bar_hide_method : "fade"),
      embedCode: (this.isTrue(this.project.allow_embed) ? ( this.embed ? document.querySelector("script[src*='<%= project.cid %>']").src : this.project.embedCode() ) : null),
      facebookShare: (this.isTrue(this.project.facebook_share) ? {} : null),
      twitterShare: (this.isTrue(this.project.twitter_share) ? {} : null),
      brandingURL: (this.isTrue(this.project.show_banner) ? this.project.affiliate_link : '')
    };
  },
  getLogo: function () {
    var logo = null;
    if (this.project.logo) {
      logo = {
        url: this.project.logo,
        fullscreenOnly: false,
        displayTime: 2000,
        top: this.project.logo_pos_top,
        left: this.project.logo_pos_left
      };
    }
    return logo;
  },
  getPlaylist: function() {
    var list = [];

    if (this.project.start_image)
      list.push({
        url: this.project.start_image,
        scaling: 'orig',
        eventCategory: this.project.name
      });

    var mainClip = {
      autoPlay: this.project.auto_start == 'autoplay',
      autoBuffering: true,
      scaling: this.project.scaling,
      url: this.project.url,
      eventCategory: this.project.title
    };

    if(this.cuepoints.length > 0) {
      mainClip.onCuepoint = [
        this.cuepoints,
        function (clip, cuepoint) {
          var optimizeplayer = optimizeplayer_<%= project.short_cid %>;
          optimizeplayer.toggleOptin(cuepoint);
        }
      ];
    }
    list.push(mainClip);
    return list;
  },
  toggleMobile: function(el) {
    var video = document.querySelector("video#video"+ this.project.cid +"_api");
    if (video && this.ctas_status[el] !== 'shown') {
      video.webkitExitFullscreen();
      this.ctas_status[el] = 'shown';
    }
  },
  toggleOptin: function (cuepoint) {
    var optimizeplayer = optimizeplayer_<%= project.short_cid %>;
    optimizeplayer.ctas.map(function (el) {
      var i = el.cuepoints.indexOf(cuepoint);
      if (i >= 0) {
        if (el.cuepoints && i % 2 == 0)
          optimizeplayer.showCta(el);
        else
          optimizeplayer.hideCta(el);
      }
    });
  },
  isTrue: function(val) {
    return (val != "false" && val != false && val !== undefined)
  },
  ctaCssId: function(cta) {
    return ((cta.type) ? cta.type : '') + ((cta.cid) ? cta.cid : '') + cta.position + ((cta.position == 'inside') ? '' : cta.location);
  },
  showCta: function(cta) {
    var ctaId = this.ctaCssId(cta);
    var element = document.getElementById(ctaId);
    this.toggleMobile(ctaId);
    if (cta.type == 'CtaOptin' && this.isTrue(cta.fullscreen)) {
      this.animateOptin(ctaId);
    } else {
      element.style.display = 'block';
    }
  },
  animateOptin: function(optinId) {
    var element = document.getElementById(optinId);
    var optin = document.querySelector('#' + optinId + ' .optin');
    optin.style.top = '-100%';
    optin.style.bottom = '100%';
    element.style.display = 'block';
    window.setTimeout(function() {
      optin.style.top = 0;
      optin.style.bottom = 0;
    }, 100);
  },
  getAnalytics: function() {
    if (this.project.analytics) {
      return {
        url: protocol + '<%= Yetting.cloudfront_host %>/assets/optimizeplayer.analytics.swf',
        accountId: this.project.analytics,
        events: {
          all: true
        }
      }
    }
    else
      return null
  },
  
  hideCta: function(cta) {
    document.getElementById(this.ctaCssId(cta)).style.display = 'none';
  },

  initplayer: function () {

    var optimizeplayer = this;

    if (this.project.optin) {
      var optinObj = document.querySelector("#" + this.ctaCssId(this.project.optin));
      if (optinObj) {
        optinObj.style.marginTop = document.querySelector("#<%= "player_cont_#{project.short_cid}" %>").offsetTop;
        // Send form by ajax
        optinObj.onsubmit = function(e) {
          e.preventDefault();
          var optimizeplayer = optimizeplayer_<%= project.short_cid %>;

          // Validate an email
          email = document.querySelector('#' + this.id + ' input[name=email]').value;
          if (!optimizeplayer.emailValidation.test(email)) {
            alert('Please enter a valid email');
            return 0;
          }

          optimizeplayerFormSubmitter.init(this).send(function() {
            optimizeplayer.hideCta(optimizeplayer.project.optin);
            optimizeplayer.player.play();
          });
        };
      }
    }

    // Bind skipping
    if (this.project.optin && this.isTrue(this.project.optin.skip)) {
      var skipBtn = document.querySelector(".skip-btn");
      if(skipBtn) {
        skipBtn.onclick = function() {
          this.parentNode.parentNode.style.display = 'none';
          optimizeplayer_<%= project.short_cid %>.player.play();
        };
      }
    }

    if (!this.ctas) {
      this.ctas = [];

      if (this.project.cta_buttons.length > 0)
        this.ctas = this.ctas.concat(this.project.cta_buttons);

      if (this.project.cta_htmls.length > 0)
        this.ctas = this.ctas.concat(this.project.cta_htmls);
      
      if (this.project.optin && ((this.embed && this.project.optin.html) || (!this.embed && this.isTrue(this.project.optin.preview))))
        this.ctas.push(this.project.optin);
    }
    
    this.cuepoints = [];

    this.ctas.map(function (el) {
      if (el) { // FIXME
        el.cuepoints = (typeof el.cuepoints == 'string') ? JSON.parse(el.cuepoints) : el.cuepoints;
        if (el.cuepoints)
          optimizeplayer.cuepoints = optimizeplayer.cuepoints.concat(el.cuepoints);
      }
    });

    this.player = flowplayer("video"+ optimizeplayer.project.cid,
        { src: protocol + "<%= Yetting.cloudfront_host %>/assets/optimizeplayer.swf", wmode: "opaque"}, {
          key: "<%= key.present? ? key : (Rails.env.staging? ? '84d22bc68423e16745d' : '0b3060f7e56aa58d35a') %>",
          playlist: optimizeplayer.getPlaylist(),
          onLoad: function () {
            optimizeplayer.ranges = [];
            var new_cuepoints = optimizeplayer.cuepoints.slice();

            while (new_cuepoints.length > 0) {
              optimizeplayer.ranges.push(new_cuepoints.splice(0, 2));
            }

            this.showOptinFromRange = function () {
              var range, show, time, i, _len, _ref;
              time = this.getTime() * 1000;
              show = false;
              _ref = optimizeplayer.ranges;
              for (i = 0; i < optimizeplayer.ranges.length; i++) {
                range = optimizeplayer.ranges[i];
                if (time >= range[0] && time < range[1]) {
                  optimizeplayer.toggleOptin(range[0]);
                  break;
                }
                else {
                  ctas.map(function (el) {
                    optimizeplayer.hideCta(el);
                  })
                }
              }
            };

            // Involve autoplay on view
            if (optimizeplayer.project.auto_start == 'autoplay_on_view') {
              optimizeplayer.playIfView();
              window.addEventListener('scroll', optimizeplayer.playIfView);
              
						  // Standards:
						  if (documentHidden in document)
						    document.addEventListener("visibilitychange", optimizeplayer.playIfView);
						  else if ((documentHidden = "mozHidden") in document)
						    document.addEventListener("mozvisibilitychange", optimizeplayer.playIfView);
						  else if ((documentHidden = "webkitHidden") in document)
						    document.addEventListener("webkitvisibilitychange", optimizeplayer.playIfView);
						  else if ((documentHidden = "msHidden") in document)
						    document.addEventListener("msvisibilitychange", optimizeplayer.playIfView);
						  // IE 9 and lower:
						  else if ('onfocusin' in document)
						    document.onfocusin = document.onfocusout = optimizeplayer.playIfView;
						  // All others:
						  else
						    window.onpageshow = window.onpagehide 
						      = window.onfocus = window.onblur = optimizeplayer.playIfView;
            }
          },

          onBegin: function() {
            if (optimizeplayer.isTrue(optimizeplayer.project.auto_mute)) this.setVolume(0);
            else this.setVolume(100);
          },

          onSeek: function () {
            this.showOptinFromRange();
          },
          onStart: function () {
            optimizeplayer.ctas.map(function (el) {
              if (optimizeplayer.isTrue(el.on_start)) {
                optimizeplayer.showCta(el);
              }
            })
          },
          onPause: function () {
            // Prevent onpause event on start
            if (this.getTime() == 0) return 0;

            optimizeplayer.ctas.map(function (el) {
              if (optimizeplayer.isTrue(el.on_pause)) {
                optimizeplayer.showCta(el);
              }
            })
          },
          onResume: function () {
            optimizeplayer.ctas.map(function (el) {
              if (optimizeplayer.isTrue(el.on_pause) || optimizeplayer.isTrue(el.on_start)) {
                optimizeplayer.hideCta(el);
              }
            })
          },
          onBeforePause: function () {
            if (!optimizeplayer.isTrue(optimizeplayer.project.allow_pause)) return false;
          },
          onFinish: function () {
            if (optimizeplayer.isTrue(optimizeplayer.project.loop)) this.play(0);
            optimizeplayer.ctas.map(function (el) {
              if (JSON.parse(el.on_finish)) {
                optimizeplayer.showCta(el);
              }
            });

            return false;
          },
          onMetaData: function() {
            // Stretch player if responsive
            if (optimizeplayer.project.dimensions == 'responsive') {
              window.addEventListener('resize', function() {
                optimizeplayer.stretchPlayer();
              });
              optimizeplayer.stretchPlayer();
            }
            if (typeof jQuery != 'undefined')
              $(window).trigger('metaDataLoaded')
          },
          plugins: {
            gatracker: optimizeplayer.getAnalytics(), 
            controls: null,
            skin_controls: optimizeplayer.getControls(optimizeplayer.project)
          },
          logo: optimizeplayer.getLogo(optimizeplayer.project),
          play: null,
          branding: null
        }).ipad();
  },
  stretchPlayer: function () {
    var playerNode = document.getElementById("video"+ this.project.cid);
    var playerContainer = document.getElementById("player-container_<%= project.short_cid %>");
    var originalWidth  = this.player.getClip().metaData.width;
    var originalHeight = this.player.getClip().metaData.height;
    var aspectRatio = originalWidth / originalHeight;
    if (playerContainer && playerNode) {
      var parentWidth = playerContainer.parentNode.style.width;
      var width = (parentWidth) ? parentWidth : window.innerWidth;
      var height = width / aspectRatio;
      playerNode.style.width = parseInt(width) + 'px';
      playerNode.style.height = parseInt(height) + 'px';
    }
  },
  playIfView: function(windowEvent) {
  	var videoHasFocus = true;
  	if (windowEvent != null && windowEvent.type != 'scroll')
  	{
	    var v = true, h = false,
	    evtMap = { 
	      focus:v, focusin:v, pageshow:v, blur:h, focusout:h, pagehide:h 
	    };
	
	    windowEvent = windowEvent || window.event;
	    if (windowEvent.type in evtMap)
	      videoHasFocus = evtMap[windowEvent.type];
	    else    
	      videoHasFocus = document[documentHidden] ? false : true;
	  }
  	
    var optimizeplayer = optimizeplayer_<%= project.short_cid %>;
    var playerNode = document.getElementById('video' + optimizeplayer.project.cid);
    var playAtPlayerY = parseInt(playerNode.style.height) / 2;
    var playAtOffset = playerNode.getBoundingClientRect().top + playAtPlayerY;
    var bottomPlayOffset = 0;
    
    // Play when got into viewport
    if (videoHasFocus == true && playAtOffset < window.innerHeight && playAtOffset > bottomPlayOffset && optimizeplayer.player.getState() != 3 && !optimizeplayer.playedOnView) {
      optimizeplayer.player.play();
      optimizeplayer.playedOnView = true;
    }

    // Pause when disappear from viewport
    if ((videoHasFocus == false || playAtOffset > window.innerHeight || playAtOffset < bottomPlayOffset) && optimizeplayer.player.getState() != 4 && optimizeplayer.playedOnView) {
      optimizeplayer.player.pause();
      optimizeplayer.playedOnView = false;
    }
  }
};

optimizeplayerFormSubmitter = {
  init: function(form) {
    this.form = form;
    this.fields = document.querySelectorAll('#' + form.id + ' input');
    this.frame = document.createElement('iframe');
    this.frame.style.display = 'none';
    this.constructRequest();

    return this;
  },
  send: function(sucessCallback) {
    this.frame.onload = function() {
      sucessCallback();
      this.parentNode.removeChild(this);
    };
    document.body.appendChild(this.frame);
  },
  constructRequest: function() {
    var params = '';
    for (var i = 0; i < this.fields.length; i++) {
      if (i != 0) params += '&';
      params += encodeURIComponent(this.fields[i].name);
      params += '=' + encodeURIComponent(this.fields[i].value);
    }

    var url = this.form.action + ((/\?/.test(this.form.action)) ? '&' : '?') + params;
    this.frame.src = url;
    return this;
  }
};