#player<%= short_cid %> {
    position: relative;
    display: block;
}
#player<%= short_cid %>.align-left {
    float: left;
}
#player<%= short_cid %>.align-right {
    float: right;
}
#player<%= short_cid %>.align-center {
    float: right;
    right: -50%;
    position: relative;
}
#player<%= short_cid %>.align-center {
    float: none;
}
#player-container_<%= short_cid %>.align-center {
    float: right;
    right: 50%;
    position: relative;
}
#player<%= short_cid %> .cta.inside {
    display: none;
    background-image: none !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin: 0;
    pointer-events: none;
}
#player_cont_<%= short_cid %> {
    width: <%= width %>;
    height: <%= height %>;
    overflow: hidden;
}
#player_cont_<%= short_cid %>.responsive {
    width: 100% !important;
    height: 535px !important;
}
#player_cont_<%= short_cid %>.responsive a.responsive{
    width: 100% !important;
    height: 100% !important;
}
#player<%= short_cid %> .cta {
    max-height: <%= height %>;
    max-width: <%= width %>;
}

#player<%= short_cid %> .cta.outside {
    position: relative;
}
#player<%= short_cid %> .cta.outside.right {
    float: right;
}
#player<%= short_cid %> .cta.outside.left {
    float: left;
}
#player<%= short_cid %> .cta.outside .button-code-custom {
    position: relative;
    top: 0;
}

#player<%= short_cid %> .cta * {
    pointer-events: auto;
}
#player<%= short_cid %> .button-code-custom {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(99, 99, 99);
    direction: ltr;
    display: block;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    height: 41px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 100px;
    visibility: visible;
}

#player<%= short_cid %> .button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 117, 63);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-radius: 3px;
    border-color: rgb(255, 255, 255);
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    height: 40px;
    white-space: nowrap;
    line-height: 10px;
    margin: 0;
    opacity: 1;
    padding: 15px 20px 15px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#player<%= short_cid %> .cta.outside .optin {
    position: relative;
    height: <%= height %>;
    width: <%= width %>;
}

#player<%= short_cid %> .cta.outside .optin .optin-form{
    position: absolute;
    margin-top: -60px;
    top: 50%;
    left: 0;
    right: 0;
}

#player<%= short_cid %> .optin {
    position: absolute;
}

#player<%= short_cid %> .fullscreen {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: top 1s, right 1s, bottom 1s, left 1s;
        -webkit-transtion: top 1s, right 1s, bottom 1s, left 1s;
        -o-transition: top 1s, right 1s, bottom 1s, left 1s;
        -ms-transition: top 1s, right 1s, bottom 1s, left 1s;
        -moz-transition: top 1s, right 1s, bottom 1s, left 1s;
}

#player<%= short_cid %> .fullscreen .optin-form {
    position: absolute;
    width: 80%;
    top: 80px;
    left: 50%;
    margin-left: -40%;
}

#player<%= short_cid %> .optin-form {
    width: 80%;
    margin: 15px auto;
    z-index: 20;
    color: #fff;
    text-align: center;
}

#player<%= short_cid %> .optin-form input[type=text] {
    float: left;
    width: 74%;
    height: 40px;
    border: none;
    border-radius: 4px;
}

#player<%= short_cid %> .optin-form button {
    float: right;
    width: 24%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    background: #2bc3e3;
}
#player<%= short_cid %> .input-append button {
    color: #fff;
    cursor: pointer;
}
#player<%= short_cid %> .outside-top, #player<%= short_cid %> .outside-bottom {
    width: 100%;
}
#player<%= short_cid %> .inside {
    width: 100%;
}
<% if width != 'auto' %>
    #player<%= short_cid %> .outside-left, #player<%= short_cid %> .outside-right, #player<%= short_cid %> .inside {
        float: left;
    }
<% end %>
#player<%= short_cid %> .clear, #player-container_<%= short_cid %> + .clear {
    clear: both;
}
#player<%= short_cid %> .skip-btn {
    /*background: url('<%= Yetting.cloudfront_host %>/assets/skipbutton.png') no-repeat;*/
    width: 124px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: #fff;
    text-align: right;
}

@media (max-width: 800px) {
    #player_cont_<%= short_cid %>.responsive {
        height: 425px !important;
    }
}

@media (max-width: 640px){
    #player_cont_<%= short_cid %>.responsive {
        height: 330px !important;
    }
}

@media (max-width: 480px){
    #player_cont_<%= short_cid %>.responsive {
        height: 245px !important;
    }
}

@media (max-width: 320px){
    #player_cont_<%= short_cid %>.responsive {
        height: 155px !important;
    }
}

@media (max-width: 280px){
    #player_cont_<%= short_cid %>.responsive {
        height: 135px !important;
    }
}