%h2 Forgot your password?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  - if devise_error_messages!.present?
    .alert-box.alert
      = devise_error_messages!
  .form-inputs
    %p
      Please enter your email below to reset your password
    = f.input :email, :required => true, :autofocus => true, placeholder: "Enter your e-mail address.."
  .form-actions
    = f.button :submit, "Reset password", class: 'button'
  .links
    = link_to "Sign in", new_user_session_path
