%div.side-block.clearfix.upload-block(upload-form logo-upload ng-model="project.logo")
  %h5 Brand Logo
  
  %csn-direct-upload(auto-upload="true" on-progress-change="onProgressChange" on-done="onDone")

  %button#logo_browse_btn.filezile.button.radius.flat.blue(ng-hide="!!uploadData" ng-click="browseFiles()") Browse
  %button.filezile.button.radius.green(ng-click="startUpload()" ng-show="!!uploadData") {{ btnText }}

  %a.pull-right.button.radius.flat.blue(ng-hide="!file || isMoving" ng-click="moveLogo()") Move
  %a.pull-right.button.radius.flat.blue(ng-show="!file && isMoving" ng-click="saveLogo()") Save
  
  %span(ng-show="file" ng-click="removeFile()") Remove logo

  .progress.flat
    %span.meter(ng-style="{ width: percentage }")


%div.side-block.clearfix.upload-block(upload-form logo-upload ng-model="project.start_image")
  %h5 Upload start image
  
  %csn-direct-upload(auto-upload="true" on-progress-change="onProgressChange" on-done="onDone")

  %button#logo_browse_btn.filezile.button.radius.flat.blue(ng-hide="!!uploadData" ng-click="browseFiles()") Browse
  %button.filezile.button.radius.green(ng-click="startUpload()" ng-show="!!uploadData") {{ btnText }}

  %span(ng-show="file" ng-click="removeFile()") Remove start image

  .progress.flat
    %span.meter(ng-style="{ width: percentage }")

%div.side-block.clearfix
  %h5 Player Colors
  .colors-controls
    %label.color-picker-label
      %span.color-picker-label.pull-left Skin Color
      %input.color-picker.flat(colorpicker ng-model="project.skinColor" type="text")/

%div.side-block.clearfix
  %h5 Choose Player Skin
  %ul.skins
    %li(ng-repeat="skin in skins" class="selected_{{skin.selected}}")
      %a.button.flat.blue.radius.pull-right.use-this(ng-click="setSkin(skin)") Use this
      %h6 {{skin.name}}
      %a.clearfix
        %img(ng-src="/assets/{{skin.preview}}")
%div.side-block.clearfix
  %h5 Refer OptimizePlayer
  %span.show_banner.pull-right(checkbox label="" ng-model="project.show_banner")
  .banner
    %label 
      %span.affiliate_link Display the "Powered By OptimizePlayer" banner and earn money!
      %a(href="#")
        Learn More.
      %input.affiliate_link(name="affiliate_link" ng-model="project.affiliate_link" placeholder="Enter Affiliate Link" type="text" ng-disabled="!project.show_banner || project.show_banner == 'false'")/

