%div.side-block.clearfix.dimensions
  %h5 Player Stretching
  %ul.checkboxes-list.clearfix(radio name="project_scaling" ng-model="project.scaling")
    %li
      %input.pretty(data-label="Fit" data-customclass="radio-button" ng-checked="project.scaling == 'fit'" name="project_scaling" type="radio" value="fit")/
    %li
      %input.pretty(data-label="Half" data-customclass="radio-button" ng-checked="project.scaling == 'half'" name="project_scaling" type="radio" value="half")/
    %li
      %input.pretty(data-label="Orig" data-customclass="radio-button" ng-checked="project.scaling == 'orig'" name="project_scaling" type="radio" value="orig")/
    %li
      %input.pretty(data-label="Scale" data-customclass="radio-button" ng-checked="project.scaling == 'scale'" name="project_scaling" type="radio" value="scale")/
  %h5 Align Video
  %ul.checkboxes-list.clearfix(radio ng-model="project.align" name="project_align")
    %li
      %input.pretty(data-label="None" data-customclass="radio-button" ng-checked="project.align == 'none'" name="project_align" type="radio" value="none")/
    %li
      %input.pretty(data-label="Left" data-customclass="radio-button" ng-checked="project.align == 'left'"  name="project_align" type="radio" value="left")/
    %li
      %input.pretty(data-label="Center" data-customclass="radio-button" ng-checked="project.align == 'center'" name="project_align" type="radio" value="center")/
    %li
      %input.pretty(data-label="Right" data-customclass="radio-button" ng-checked="project.align == 'right'" name="project_align" type="radio" value="right")/

%div.side-block.clearfix(tag-library prefilled="{{project.tags}}")
  %h5 Tags
  .tags
    .input-append.clearfix
      %input#inputTag.tagsManager(name="tags" ng-model="project.tags" placeholder="example: video, audio" type="text")/
      %span.add-on
        %a.button.blue.flat.radius.pushTag(eat-click href="#") Add Tags
  .tags-library
    %ul.list-tags
