%h5 Dimensions
%ul.checkboxes-list.clearfix
  %li.clearfix.width-full
    %span.pull-left
      %input.pretty(checked="checked" data-customclass="radio-button" ng-checked="project.dimensions=='responsive'" data-label="Responsive" name="dimension" type="radio" value="responsive")/
    %ul.maximum-dimensions-values.pull-right
      %li
        %input(name="max_width" type="text" ng-model="project.max_width")
      %li
        %input(name="max_height" type="text" ng-model="project.max_height")
%ul.checkboxes-list.clearfix
  %li.clearfix
    %span.pull-left
      %input.pretty(checked="checked" data-customclass="radio-button" data-label="640 x 360" ng-checked="project.dimensions=='640x360'" name="dimension" type="radio" value="640x360")/
  %li.clearfix
    %span.pull-left
      %input.pretty(data-customclass="radio-button" data-label="720 x 405" ng-checked="project.dimensions=='720x405'" name="dimension" type="radio" value="720x405")/
  %li.clearfix
    %span.pull-left
      %input.pretty(data-customclass="radio-button" data-label="960 x 540" ng-checked="project.dimensions=='960x540'" name="dimension" type="radio" value="960x540")/
  %li.custom-option
    %input.pretty(data-customclass="radio-button" data-label="Custom" ng-checked="isCustom" name="dimension" type="radio" value="custom")/
  %ul.custom-dimensions-values
    %li
      %input(name="custom_width" type="text" value="720" ng-model="custom_width")/
    %li
      %input(name="custom_height" type="text" value="405" ng-model="custom_height")/
