%h5 Media Controls

%ul.checkboxes-list
  %li
    %span(checkbox label="Display Time" ng-disabled="project.control_bar_hide_method == 'hide'" ng-model="project.display_time")
  %li
    %span(checkbox label="Display Volume" ng-disabled="project.control_bar_hide_method == 'hide'" ng-model="project.display_volume")
  %li
    %span(checkbox label="Small Play Button" ng-disabled="project.control_bar_hide_method == 'hide'" ng-model="project.play_button")
  %li
    %span(checkbox label="Big Play Button" ng-model="project.big_play_button")
  %li
    %span(checkbox label="Allow mute" ng-disabled="project.control_bar_hide_method == 'hide'" ng-model="project.mute")
  %li
    %span(checkbox label="Auto mute" ng-model="project.auto_mute")
  %li
    %span(checkbox label="Embed Code" ng-model="project.allow_embed")
  %li
    %label Gap
    %input(ng-model="project.cb_gap" min="0" max="20" type="number" value="{{project.cb_gap}}")/
%ul.checkboxes-list
  %li
    %span(checkbox label="Full Screen" ng-disabled="project.control_bar_hide_method == 'hide'" ng-model="project.full_screen")
  %li
    %span(checkbox label="Facebook Share" ng-model="project.facebook_share")
  %li
    %span(checkbox label="Twitter Share" ng-model="project.twitter_share")
  %li
    %span(checkbox label="Allow Pause" ng-model="project.allow_pause")
  %li
    %span(checkbox label="Loop" ng-model="project.loop" ng-change="initPlayer()")
  %li
    %label Auto Start
    %select(ng-dropkick ng-dropkick-watch="pingDropkick" ng-disabled="project.start_image" ng-model="auto_start_option" ng-options="option.name for option in auto_start_options" type="checkbox" title="Auto start is disabled when you've selected a start image")
  %li
    %label Control Bar Hide <br /> Method
    %select(ng-dropkick ng-dropkick-watch="pingDropkick" ng-model="control_bar_hide_method_option" ng-options="option.name for option in control_bar_hide_method_options" )
