%section(role="csns")
  .row
    .twelve.columns
      #message.centralize
        %h1
          %b OptimizePlayer
          requires the use of your cloud storage network like
          %b Amazon s3
          or
          %b RackSpace
          Cloud Files.
        = image_tag "water-mark-amazon.png", class: "water-mark"
        = image_tag "water-mark-rackspace.png", class: "water-mark"
        .clearfix
          .box.pull-left
            .header I DO NOT HAVE AN ACCOUNT
            .body
              %p
                If you do not have account there creating
                %br>/
                one is easy following these directions
              = image_tag "arrow-dashed-right.png", class: "arrow"
              / <iframe width="354" height="199" src="http://www.youtube.com/embed/aE2GCa-_nyU" frameborder="0" allowfullscreen></iframe>
          .box.pull-left
            .header ALREADY HAVE AN ACCOUNT
            .body
              %p
                If you already have a account with Amazon s3
                %br>/
                or RackSpace Cloud files you can easily
                %br>/
                connect your account following these
                %br>/
                directions
              = image_tag "arrow-dashed-left.png", class: "arrow"
              / <iframe width="354" height="199" src="http://www.youtube.com/embed/aHjpOzsQ9YI" frameborder="0" allowfullscreen></iframe>
        %h2 Not sure what to do?
        %h3 Get in touch and we will help!
        %a.button.green.radius(href="#") Contact us
