#modal-csn.modal.reveal-modal(csn-finder ng-controller="FileFinderCtrl")
  .header.clearfix
    .pull-left
      %h3
        = image_tag "icon-play.png", :class => 'icon'
        Select Media Files
    .pull-right
      .input-append.form-search.clearfix
        %form(action="/" method="get")
          %input(name="search" placeholder="Search for files..." type="text")/
          %button(type="submit")
            %i.pbigicon-search
  .main.clearfix(ng-init="csns=#{@csns.to_json}")
    .menu.pull-left
      .sub-header.clearfix
        .pull-left
          %h4 Storage Locations
        .pull-right
          %select.dropkick(ng-model="current_csn" ng-options="c.name for c in csns | filter: {provider: sourceType}")
            %option(value="") Select provider
      .sub-body
        %a.csn-name(href="#")
          %h4 {{current_csn.name}}
        .folders-content
          %h3.loader(ng-show="current_csn != undefined && current_csn.buckets == undefined")
            = image_tag "file-loading.gif"
          %ul.main-csn(ng-repeat="bucket in current_csn.buckets" ng-class="{transparent: bucket == current_folder}")
            %li
              %a.folder.main-folder(ng-click="setCurrentFolder(bucket)" ng-class="{selected: bucket == current_folder}")
                %i.picon-folder-p-blue
                %span {{bucket.name}}
              %ul(ng-tree="bucket.children")
                %li(ng-show="item.children.length > 0")
                  %a.folder(ng-click="setCurrentFolder(item)" ng-class="{selected: item == current_folder}")
                    %i.picon-box-expand
                    %i.picon-folder-p-blue
                    %span {{item.name}}
    .files.pull-right
      .sub-header.clearfix
        %ul.inline-list.clearfix
          %li.folder-qty(ng-show="current_folder") {{current_folder.children.length}}
          %li.folder-name
            %span {{current_folder.name}}
      .sub-body
        .folders-content
          %ul(ng-repeat="file in current_folder.children")
            %li(ng-show="file.children.length == 0")
              %a.clearfix(ng-class="{selected: file.url == asset.remote_url}" ng-click="setConnectedFile(file)")
                .pull-left
                  %span {{file.name}}
                .pull-right
                  %i.picon-ok
  .footer.clearfix
    .right
      %a.radius.button.gray.close-reveal-modal Cancel
      %a.radius.button.green.submit-file.close-reveal-modal(ng-show="asset.remote_url") I`m Done
