.row
  .twelve.columns
    #video-select
      .screen
        .upload-area(data-action="/file/video/put")
          = image_tag "icon-upload.png", :class => 'upload-icon'
          %span.spacing Drag your media files here
          %span.spacing or
          %span.spacing
            %a(data-reveal-id="modal-csn" href="") connect via your cloud service provider
