- content_for :title, "News"
%section{:role => "news"}
  -#- @posts.each do |post|
  #news.page-body{ "ng-controller" => 'NewsCountCtrl', 'ng-bind' => 'updateCount'}
    .row
      .twelve.columns
        .steps{ "ng-controller" => 'PostsCtrl' }
          .scrolling{ "infinite-scroll" => 'loadMore( )', 'infinite-scroll-disabled' => ' busy' }
            .box.step{ "ng-repeat" => "post in posts | orderBy:id" }
              .box-header
                %ul
                  %li
                    %span.marker
                      -#= post.created_at.strftime('%B')

                      {{ post.month  }}
                      %br>/
                      -#=post.created_at.day
                      {{ post.day }}
                      %br/
                      %span.year
                        {{ post.year }}
                        -#= post.created_at.year
                  %li
                    %h3
                      -#= post.title
                      {{post.title }}
              .box-body{'ng-html-raw' => 'post.body'}


