- content_for :title, "News"
%section(role="news")
  #news.page-body
    %div(ng-controller="NewsShowsCtrl")
      .row
        .twelve.columns
          .box.step(ng-repeat="n in news")
            .box-header
              %ul
                %li
                  %span.marker.ng-binding
                    {{n.created_at | date:'MMMM'}}
                    %br/
                    {{n.created_at | date:'d'}}
                    %br/
                    %span.year.ng-binding {{n.created_at | date:'yyyy'}}
                %li
                  %h3
                    {{n.title}}
                %li
                  .box-body(ng-html-raw="n.body")
