%section(role="account")
  .row
    .twelve.columns
      #account
        .box-menu
          %ul.left-menu
            %li
              %a(href="/account")
                %i.picon-user
                Account
            %li
              %a(href="/account-billing")
                %i.picon-money
                Billing
            %li
              %a.selected(href="/account-team")
                %i.picon-team
                Team
            %li
              %a(href="/account-encoders")
                %i.picon-encoder
                Encoders
            %li.actived
              %a(href="/account-connections")
                %i.picon-connection
                Connections
          .right-content
            .header.clearfix
              .pull-left
                %h3
                  = image_tag "icon-connections.png"
                  Connections
              .pull-right
                %a.help(href="#") ?
            .body.connections
              #tooltip-delete-csn
                = image_tag('/assets/tooltip-error-arrow.png')
                %span
                  %i.picon-trash
                  Delete Connection?
              %ul.inline-list.clearfix.csns
                %li
                  .csn
                    .icon
                      = image_tag('/assets/logo-amazon.png')
                    .actions
                      %a.edit(data-key="AMAZON-8475NQCH098DH74093287D" data-thingy="Lorem ipsum" href="#")
                        %i.picon-edit-lightgray
                      %a.use-tooltip.close(data-tooltip="delete-csn" href="#")
                        %i.picon-close-lightgray
                  %span Amazon
                %li
                  .csn
                    .icon
                      = image_tag('/assets/logo-rackspace.png')
                    .actions
                      %a.edit(data-key="RACKSPACE-A0SHD89F7HA0SHD8FA0S" data-thingy="Dolor sit amet" href="#")
                        %i.picon-edit-lightgray
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-csn" href="#")
                        %i.picon-close-lightgray
                  %span Rackspace
                %li.add
                  .csn
                    %a.add(href="#")
                      %i.picon-plus-green
                  %span Add CSN Account
              .add-account
                %h4 Add new Connection to your account
                %form.form-horizontal(action="" method="post")
                  .group
                    %label API Key
                    .input
                      %input(name="key" type="text")/
                  .group
                    %label Add API thingy
                    .input
                      %input(name="thingy" type="text")/
                  .group
                    .input
                      %input.radius.button.green(type="submit" value="Update Details")/
