%section(role="account")
  .row
    .twelve.columns
      #account
        .box-menu
          %ul.left-menu
            %li
              %a(href="/account")
                %i.picon-user
                Account
            %li
              %a(href="/account-billing")
                %i.picon-money
                Billing
            %li.actived
              %a.selected(href="/account-team")
                %i.picon-team
                Team
            %li
              %a(href="/account-connections")
                %i.picon-connection
                Connections
          .right-content
            .header.clearfix
              .pull-left
                %h3
                  = image_tag "icon-team.png"
                  Team
              .pull-right
                %a.help(href="#") ?
            .body.team
              #tooltip-delete-member
                = image_tag('/assets/tooltip-error-arrow.png')
                %span
                  %i.picon-trash
                  Delete team member?
              %ul.inline-list.clearfix.members
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") You!
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") Andre Souza
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") Andre Souza
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") Andre Souza
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") Andre Souza
                %li
                  .image
                    .overlay
                      %a.use-tooltip.close(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete-member" href="#")
                        %i.picon-close-white
                    = image_tag("temp-profile.png")
                  %a(href="#") Axel Rose
                %li
                  .image
                    %a.add(href="#")
                      %i.picon-plus
                  %a(href="#") + Team Member
              .invite
                %h4 Invite Team Members
                %form(action="" method="post")
                  %textarea(name="members" placeholder="Example: john@mail.com, tom@mail.com, ..." rows="4")
                  %input.radius.button.green(type="submit" value="Invite Members")/
