%section(role="earn_embeds")
  .row
    #earn-embeds.twelve.columns
      .box
        .header.clearfix
          %h3.inline
            %i.pbigicon-embed
            Earn More Embeds
          %a.help(href="#") ?
        .body
          %ul
            %li
              .clearfix
                .image.first.inline
                .text.inline
                  %h4 Upgrade your account
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very.
                .numbers.pull-right
                  .number 5
                  %span embeds
            %li
              .clearfix
                .image.second.inline
                .text.inline
                  %h4 Refer your friends
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very.
                .numbers.pull-right
                  .number 3
                  %span embeds
            %li
              .clearfix
                .image.third.inline
                .text.inline
                  %h4 Spread the love and earn embeds
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very.
                .numbers.pull-right
                  .number 1
                  %span embeds
            %li
              .clearfix
                .image.fourth.inline
                .text.inline
                  %h4 Like us and earn free embeds
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very.
                .numbers.pull-right
                  .number 1
                  %span embeds
            %li
              .clearfix
                .image.fifth.inline
                .text.inline
                  %h4 Tell us what we’re doing well, and not so well
                  %p
                    It suddenly struck me that that tiny pea, pretty and blue, was the Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn't feel like a giant. I felt very, very.
                .numbers.pull-right
                  .number 3
                  %span embeds
