%section(role="my-projects")
  #my-projects.outside
    .row
      .twelve.columns
        %div
          %ul.large-block-grid-4
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
            %li
              .folder
                .back
                  .papers
                    .front
                      .content
                        %a.title(href="#")
                          %h2 Football
                          %span 13 projects
                        .centralize
                          %a.btns.btn-audio(data-list="list-audio" href="#")
                            %i.picon-audio-blue
                            8 audio
                          %a.btns.btn-video(data-list="list-video" href="#")
                            %i.picon-video-blue
                            5 video
                        .lists.list-audio
                          .arrow
                          %ul
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #1
                                  .pull-right.count 6
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #2
                                  .pull-right.count 4
                              .files
                                .actions
                                  %a(href="#" title="08/08/2012 18:49")
                                    %i.picon-calendar-blue
                                  %a(href="#")
                                    %i.picon-code-blue
                                  %a(href="#")
                                    %i.picon-edit-blue
                                  %a(href="#")
                                    %i.picon-comment-blue
                                  %a.close(href="#")
                                    %i.picon-close-blue
                                %ul
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                                  %li
                                    %a(href="#") how_to_do_this.avi
                            %li
                              %a(href="#")
                                .clearfix
                                  .pull-left Wordpress Tutorial #3
                                  .pull-right.count 63
        .centralize
          %a.radius.button.green.add-folder(href="#")
            %i.picon-plus
            Add Folder
