%section(role="my-projects")
  #my-projects.inside
    .row.clearfix
      .twelve.columns
        .folders.pull-left
          .centralize.new-project
            %a.button.radius.green(href="#")
              %i.picon-plus
              Create Project
          %ul.main-csn
            %li
              %a.folder.main-folder.clearfix(href="#")
                .pull-left
                  %i.picon-folder-m
                  %span Tennis
                  / <i class="picon-close delete"></i>
                .pull-right
                  %span.count 33
              %ul
                %li
                  %a.folder(href="#")
                    / <i class="expand"></i>
                    %i.picon-folder-p
                    %span Tutorials
                  /
                    <ul>
                    <li>
                    <a href="#" class="folder">
                    <i class="picon-folder-p"></i>
                    <span>Videos</span>
                    </a>
                    </li>
                    <li>
                    <a href="#" class="folder">
                    <i class="picon-folder-p"></i>
                    <span>Audios</span>
                    </a>
                    
                    <ul>
                    <li>
                    <a href="#" class="folder">
                    <i class="picon-folder-p"></i>
                    <span>MP3</span>
                    </a>
                    </li>
                    <li>
                    <a href="#" class="folder">
                    <i class="picon-folder-p"></i>
                    <span>WAV</span>
                    </a>
                    </li>
                    </ul>
                    </li>
                    </ul>
                %li
                  %a.folder(href="#")
                    %i.picon-folder-p
                    %span Inspiration
          %ul.main-csn
            %li
              %a.folder.main-folder.clearfix(href="#")
                .pull-left
                  %i.picon-folder-m
                  %span Football
                .pull-right
                  %span.count 10
          %ul.main-csn
            %li
              %a.folder.main-folder.clearfix(href="#")
                .pull-left
                  %i.picon-folder-m
                  %span Hockey
                .pull-right
                  %span.count 22
        .folder-content.pull-left
          .box.projects
            .header.clearfix
              .pull-left
                %ul.inline-list.clearfix
                  %li
                    %i.folder-default
                  %li
                    %span.name Baseball
                    %span.count 33 projects
                  %li
                    %i.picon-audio
                    18 audio
                  %li
                    %i.picon-video
                    15 video
              .pull-right
                %a.button.radius.blue
                  %i.picon-settings
                  Bulk Actions
            .body
              %ul.list
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-off
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-video
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-on
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-audio
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-on
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-video
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-off
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-video
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-off
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-audio
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
                %li.project
                  %ul.content
                    %li.handle= image_tag "project-drag-drop-handle.png"
                    %li.info
                      %span.name Wordpress Tutorial #1
                      %a(href="#")
                        %i.picon-favourite-on
                      %span.date Date:03-03-2012
                    %li.files
                      %a(href="#")
                        %i.picon-audio
                        files
                      .tooltip-files.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-files-arrow.png")/
                        %ul
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                          %li
                            %a(href="#") how_to_do_this.avi
                    %li.actions.add-video
                      %a(href="#")
                        %i.picon-video-add
                    %li.actions.code
                      %a(href="#")
                        %i.picon-code
                      .tooltip-code.tooltip
                        .input-prepend.clearfix
                          %span.add-on
                            %i.picon-code-white
                          %input(type="text" value="<iframe width='560' height='315' src='http://www.youtube.com/embed/PpccpglnNf0' frameborder='0' allowfullscreen></iframe>")/
                    %li.actions.edit
                      %a(href="#")
                        %i.picon-edit
                    %li.actions
                      %a(href="#")
                        %i.picon-comment
                      .tooltip-tag.tooltip
                        %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                        %span
                          .input-append.clearfix
                            %form(action="/" method="get")
                              %input(name="tag" type="text")/
                              %button(type="submit")
                                %i.picon-plus
                          .tags
                            %label.tag
                              Wordpress
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tut
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Help
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tutorials
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Audio
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Example
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Tag
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Lorem
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Ipsum
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Dolor
                              %a(href="#")
                                %i.picon-close
                            %label.tag
                              Sit amet
                              %a(href="#")
                                %i.picon-close
                    %li.actions.delete
                      %a(href="#")
                        %i.picon-close
