= render 'shared/finder'
%section#new-project(role="projects")
  .video-menu
    %h4 Customize
    %a.accordion(href="#")
      %img(alt="" src="/assets/icon-accordion.png")
    %ul.customize-menu
      %li.visual
        %a.show-options(href="#")
          %h4 Visual
      %li.branding
        %a.show-options(href="#")
          %h4 Branding
      %li.controls
        %a.show-options(href="#")
          %h4 Controls
      %li.statics
        %a.show-options(href="#")
          %h4 Statics
    %h4 Add CTA
    %ul.cta-menu
      %li.option
        %h4.clearfix
          Option
          %a.button.blue.radius.pull-right(href="#") Add
      %li.buttons
        %h4.clearfix
          Buttons
          %a.button.blue.radius.pull-right(href="#") Add
      %li.html
        %h4.clearfix
          HTML
          %a.button.blue.radius.pull-right(href="#") Add
  .page-header
    .row
      .twelve.columns.clearfix
        .pull-left
          .video-title Mobile Marketing
        .pull-right
          %a.button.blue.radius Embed
  .page-body
    .row
      .twelve.columns
        .video-embed
          #final-video.skin-2
            .player.functional.skin-default.fixed-controls(style="width:640px; height:360px;")
              %video(controls="")
                %source(src="https://s3.amazonaws.com/lateshaburroughs/wordpress/installing-and-updating-wordpress-using-cpanel-1.mp4" type="video/mp4")
                  Your browser does not support the video tag.
        .timeline-box
          %h4 Video timeline
          .timeline.clearfix
            .intro.pull-left 
              Intro
              %img(alt="" src="/assets/icon-play-blue.png")
            .outro.pull-right 
              Outro
              %img(alt="" src="/assets/icon-play-blue.png")
            .timeline-start 0:00
            .timeline-end 1:00
            .cta-object(style="left:0px; width:165px;")
              .cta-type.optin
          %ul.labels
            %li.optin Optin
            %li.buttons Buttons
            %li.html HTML
        .video-options-content
          #cta.options-content.active
            %form.clearfix
              %h2 Option Options
              .col1
                .input-prepend.textarea.clearfix
                  %span.add-on
                    %i.icon-code
                  %textarea(name="autoresponder_html" placeholder="Autoresponder HTML Code" rows="4")
                .input-prepend.clearfix
                  %span.add-on
                    %i.icon-reorder
                  %input(name="optin_text" placeholder="Text that will show up above the Optin" type="text")/
                .input-prepend.clearfix
                  %span.add-on
                    %i.icon-reorder
                  %input(name="optin_button_text" placeholder="Submit Button Text" type="text")/

