%section(role="news")
  #news
    .row
      .twelve.columns
        .steps
          .box.step
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    17
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    12
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    12
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    12
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    12
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    12
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
          .box.step(style="display:none;")
            .box-header
              %ul
                %li
                  %span.marker
                    AUG
                    %br>/
                    03
                    %br/
                    %span.year 2013
                %li
                  %h3 New Interface in the New Project Section
            .box-body
              %img(src="/assets/news-sample.png")/
              %p(style="display: inline-block; width: 340px; vertical-align: top; margin-left: 20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum.
              %h2 New Features
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %ul(style="display:inline-block; width:440px;")
                %li
                  Aliquam vitae odio at libero
                  %a(href="#")
                    %b bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at bib
                %li
                  Aliquam vitae odio at libero
                  %a(href="#") bibendum bib
                %li Aliquam vitae odio at bibendum bib
                %li Aliquam vitae odio at
                %li Aliquam vitae odio at libero bibendum bib
                %li Aliquam vitae odio at
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta ultricies metus eu sagittis. Suspendisse ut nunc ligula. Nam eleifend nulla vitae enim dictum, at sollicitudin leo lacinia. Fusce vestibulum libero laoreet, sodales nunc a, tristique ipsum. Curabitur sem dui, cursus in ipsum eget, consectetur venenatis odio. Maecenas feugiat ultrices justo sit amet accumsan. Praesent consectetur tincidunt quam eu vestibulum. Cras vel mi rutrum, tempus ligula sit amet, egestas quam. Maecenas cursus odio erat, in bibendum lacus euismod a. Curabitur accumsan a elit sit amet hendrerit.
