%section(role="news")
  #news
    .row
      .seven.columns
        .box
          .header.clearfix
            %h3.inline
              %i.pbigicon-news
              Updates from Pixel Serve
          .body
            .breadcrumb
              %a(href="#") News and Updates
              \/
              %a(href="#") News
              \/
              %span Pixel Serve Launches it’s new Beta site
            .news.news-inner
              %h5 PIXEL SERVE LAUNCHES IT’S NEW BETA SITE!
              %b Published:
              13/03/2013
              %b Category:
              %a(href="#") News
              %p Pixel Serve has launched it’s new online video and audio service. No one had ever asked this before, and to be honest I was caught off guard. Not surprisingly I completely failed to communicate my process. I didn’t feel good about it. …
              %p Pixel Serve has launched it’s new online video and audio service. No one had ever asked this before, and to be honest I was caught off guard. Not surprisingly I completely failed to communicate my process. I didn’t feel good about it. …
              %iframe(allowfullscreen="" frameborder="0" height="315" src="http://www.youtube.com/embed/zalYJacOhpo" width="560")
              %p Pixel Serve has launched it’s new online video and audio service. No one had ever asked this before, and to be honest I was caught off guard. Not surprisingly I completely failed to communicate my process. I didn’t feel good about it. …
              %p Pixel Serve has launched it’s new online video and audio service. No one had ever asked this before, and to be honest I was caught off guard. Not surprisingly I completely failed to communicate my process. I didn’t feel good about it. …
            .comments
              .new.clearfix
                .inline.col1
                  %img(src="/assets/profile-photo-default.png")/
                .inline.col2
                  %form(action="" method="post")
                    %textarea(placeholder="Leave a comment..." rows="5")
                    .clearfix
                      .pull-left.social
                        %span CONNECT WITH
                        %a(href="#")
                          %img(src="/assets/icon-social-twitter.png")/
                        %a(href="#")
                          %img(src="/assets/icon-social-facebook.png")/
                        %a(href="#")
                          %img(src="/assets/icon-social-google.png")/
                        %a(href="#")
                          %img(src="/assets/icon-social-d.png")/
                      .pull-right
                        %input.button.radius.blue(type="submit" value="Post")/
              .comment.clearfix
                .inline.col1
                  %a(href="#")
                    %img.photo(src="/assets/temp-profile.png" width="50")/
                .inline.col2
                  .info
                    %a(href="#")
                      %b Steve Halliday
                    %span 13/03/2013
                  %p
                    Hey, I work at Disqus and it is nice manual you have here. If you want to share your views on how we could improve our widget and make it better for JavaScript developers, we'd really appreciate the feedback. Feel free to contact me via anton@disqus.com.
                  .comment.clearfix
                    .inline.col1
                      %a(href="#")
                        %img.photo(src="/assets/temp-profile.png" width="50")/
                    .inline.col2
                      .info
                        %a(href="#")
                          %b Steve Halliday
                        %span 13/03/2013
                      %p
                        Hey, I work at Disqus and it is nice manual you have here. If you want to share your views on how we could improve our widget and make it better for JavaScript developers, we'd really appreciate the feedback. Feel free to contact me via anton@disqus.com.
              .comment.clearfix
                .inline.col1
                  %a(href="#")
                    %img.photo(src="/assets/temp-profile.png" width="50")/
                .inline.col2
                  .info
                    %a(href="#")
                      %b Steve Halliday
                    %span 13/03/2013
                  %p
                    Hey, I work at Disqus and it is nice manual you have here. If you want to share your views on how we could improve our widget and make it better for JavaScript developers, we'd really appreciate the feedback. Feel free to contact me via anton@disqus.com.
      .five.columns
        .box.categories
          .header.clearfix
            %h3.inline
              Categories
            %a.pull-right.button.radius.blue.search-short(href="#")
              %i.picon-search-blue
            .input-append.clearfix
              %form(action="/" method="get")
                %input(name="search" type="text")/
                %button(type="submit")
                  %i.picon-search-blue
          .body
            %ul
              %li
                %a.clearfix(href="#")
                  .pull-left News
                  .pull-right
                    %span.round.success.label 2
              %li
                %a.clearfix(href="#")
                  .pull-left Updates
                  .pull-right
                    %span.round.success.label 12
              %li
                %a.clearfix(href="#")
                  .pull-left Promotions
                  .pull-right
                    %span.round.success.label 1
              %li
                %a.clearfix(href="#")
                  .pull-left General Interest
                  .pull-right
                    %span.round.success.label 5
        .box.clients
          .header.clearfix
            %h3.inline
              Client Provider Activity
          .body
            %ul
              %li
                %a.client.clearfix(href="#")
                  .pull-left Amazon S3
                  .pull-right
                    %i.picon-status-on
                  .tooltip
                    %img(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                    %span Online
              %li
                %a.client.clearfix(href="#")
                  .pull-left Rackspace Cloud Services
                  .pull-right
                    %i.picon-status-on
                  .tooltip
                    %img(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                    %span Online
              %li
                %a.client.clearfix(href="#")
                  .pull-left The Next Best Thing
                  .pull-right
                    %i.picon-status-off
                  .tooltip
                    %img(alt="tootltip" src="/assets/tooltip-info-arrow.png")/
                    %span Offline
