%section(role="split-test")
	#split-test.all
		.row.clearfix
			.twelve.columns
				.box
					.header.clearfix
						.pull-left
							%ul.inline-list.clearfix
								%li
									%i.folder-default
								%li
									%h2 Split Testing Projects
						.pull-right
							%a.button.radius.green
								%i.picon-plus
								Add New Split Test
					.body
						%ul.list
							%li.split
								%ul.content
									%li.handle= image_tag "project-drag-drop-handle.png"
									%li.info
										%span.name Wordpress Tutorial #1
										%a(href="#")
											%i.picon-favourite-on
										%span.date Date:03-03-2012
									%li.variations.centralize
										%p Variations
										%a(href="#")
											%i.picon-video
										.tooltip-files.tooltip
											%img.arrow(alt="tootltip" src="/assets/tooltip-variations-arrow.png")/
											%ul
												%li
													%a.trophy(href="#") Wordpress Tutorial #1
												%li
													%a(href="#") Wordpress #2
												%li
													%a(href="#") Tutorial #3
									%li.embed.centralize
										%p Embed
										%a(href="#")
											%i.picon-code
										.tooltip-code.tooltip(ng-show="embed")
											.input-prepend.clearfix
												%span.add-on
													%i.picon-code-white
												%input(type="text" value="lorem ipsum dolor sit amet" focus-me="embed" ng-blur="embed = false")/
									%li.visitors.centralize
										%p Visitors
										%span 358
									%li.conversions.centralize
										%p Conversions
										%span 5
									%li.rate.centralize
										%p Conversions rate
										%span 5.8
									%li.controls
										%ul
											%li.selected
												%a(href="#" data-control="play")
													%i.picon-play
											%li
												%a(href="#" data-control="pause")
													%i.picon-pause
											%li
												%a(href="#" data-control="record")
													%i.picon-record
							%li.split
								%ul.content
									%li.handle= image_tag "project-drag-drop-handle.png"
									%li.info
										%span.name Wordpress Tutorial #1
										%a(href="#")
											%i.picon-favourite-on
										%span.date Date:03-03-2012
									%li.variations.centralize
										%p Variations
										%a(href="#")
											%i.picon-video
										.tooltip-files.tooltip
											%img.arrow(alt="tootltip" src="/assets/tooltip-variations-arrow.png")/
											%ul
												%li
													%a.trophy(href="#") Wordpress Tutorial #1
												%li
													%a(href="#") Wordpress #2
												%li
													%a(href="#") Tutorial #3
									%li.embed.centralize
										%p Embed
										%a(href="#")
											%i.picon-code
										.tooltip-code.tooltip(ng-show="embed")
											.input-prepend.clearfix
												%span.add-on
													%i.picon-code-white
												%input(type="text" value="lorem ipsum dolor sit amet" focus-me="embed" ng-blur="embed = false")/
									%li.visitors.centralize
										%p Visitors
										%span 358
									%li.conversions.centralize
										%p Conversions
										%span 5
									%li.rate.centralize
										%p Conversions rate
										%span 5.8
									%li.controls
										%ul
											%li.selected
												%a(href="#" data-control="play")
													%i.picon-play
											%li
												%a(href="#" data-control="pause")
													%i.picon-pause
											%li
												%a(href="#" data-control="record")
													%i.picon-record
							%li.split
								%ul.content
									%li.handle= image_tag "project-drag-drop-handle.png"
									%li.info
										%span.name Wordpress Tutorial #1
										%a(href="#")
											%i.picon-favourite-on
										%span.date Date:03-03-2012
									%li.variations.centralize
										%p Variations
										%a(href="#")
											%i.picon-video
										.tooltip-files.tooltip
											%img.arrow(alt="tootltip" src="/assets/tooltip-variations-arrow.png")/
											%ul
												%li
													%a.trophy(href="#") Wordpress Tutorial #1
												%li
													%a(href="#") Wordpress #2
												%li
													%a(href="#") Tutorial #3
									%li.embed.centralize
										%p Embed
										%a(href="#")
											%i.picon-code
										.tooltip-code.tooltip(ng-show="embed")
											.input-prepend.clearfix
												%span.add-on
													%i.picon-code-white
												%input(type="text" value="lorem ipsum dolor sit amet" focus-me="embed" ng-blur="embed = false")/
									%li.visitors.centralize
										%p Visitors
										%span 358
									%li.conversions.centralize
										%p Conversions
										%span 5
									%li.rate.centralize
										%p Conversions rate
										%span 5.8
									%li.controls
										%ul
											%li.selected
												%a(href="#" data-control="play")
													%i.picon-play
											%li
												%a(href="#" data-control="pause")
													%i.picon-pause
											%li
												%a(href="#" data-control="record")
													%i.picon-record
							%li.split
								%ul.content
									%li.handle= image_tag "project-drag-drop-handle.png"
									%li.info
										%span.name Wordpress Tutorial #1
										%a(href="#")
											%i.picon-favourite-on
										%span.date Date:03-03-2012
									%li.variations.centralize
										%p Variations
										%a(href="#")
											%i.picon-video
										.tooltip-files.tooltip
											%img.arrow(alt="tootltip" src="/assets/tooltip-variations-arrow.png")/
											%ul
												%li
													%a.trophy(href="#") Wordpress Tutorial #1
												%li
													%a(href="#") Wordpress #2
												%li
													%a(href="#") Tutorial #3
									%li.embed.centralize
										%p Embed
										%a(href="#")
											%i.picon-code
										.tooltip-code.tooltip(ng-show="embed")
											.input-prepend.clearfix
												%span.add-on
													%i.picon-code-white
												%input(type="text" value="lorem ipsum dolor sit amet" focus-me="embed" ng-blur="embed = false")/
									%li.visitors.centralize
										%p Visitors
										%span 358
									%li.conversions.centralize
										%p Conversions
										%span 5
									%li.rate.centralize
										%p Conversions rate
										%span 5.8
									%li.controls
										%ul
											%li.selected
												%a(href="#" data-control="play")
													%i.picon-play
											%li
												%a(href="#" data-control="pause")
													%i.picon-pause
											%li
												%a(href="#" data-control="record")
													%i.picon-record	