%script(type="text/javascript" src="https://www.google.com/jsapi")
:javascript
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Year',		''],
			['1 Oct',		0],
			['8 Oct',		35],
			['15 Oct',	15],
			['22 Oct',  25],
			['29 Oct',  15],
			['5 Nov',		75],
			['12 Nov',	40],
			['19 Nov',	80],
			['26 Nov',	50],
			['3 Dec',		70]
		]);

		var options = {
			title: 'Conversion Rate',
			titleTextStyle: {color: '#4f73d7'},
			colors: ['#3b6eb3'],
			legend: {position: 'none'},
			pointSize: 10,
			vAxis: { textStyle: {color:'#b3b3b3'}},
			hAxis: { textStyle: {color:'#b3b3b3'},
							 gridlines: {color:'#b3b3b3'}}
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}

%section(role="split-test")
	#split-test.view
		.row.clearfix
			.twelve.columns
				.box
					.header.clearfix
						%ul.inline-list.clearfix
							%li
								%img(alt="add" src="/assets/icon-graphic.png")/
							%li
								%h2 View
					.body
						%ul.inline-list.clearfix.navigation
							%li
								%a.selected(href="#")
									.number 5.8%
									Conversion Rate
							%li
								%a(href="#")
									.number 665
									Unique Vistors
							%li
								%a(href="#")
									.number 5
									Conversions
							%li
								%a(href="#")
									.number 3
									Variation
						%div.graph_window
							%div.graph_container
								#chart_div(style="width:1050px; height:350px;")
					.body.variations_data
						%table
							%tr
								%th Variations
								%th Priority
								%th Conversions
								%th Visitors
								%th(width="140") Conversions Rate Range
								%th(width="80") Percentage Changed
								%th(width="100") Probability of Outperforming Original
								%th Action
							%tr
								%td
									Original
									%i.picon-circle-blue
								%td
									.percent 50%
									.percent-slider(data-value="50")
								%td
									3
								%td
									40
								%td
									9.00% + 8.95%
								%td.increase
									%i.picon-increase
									9.48%
								%td
									&minus;
								%td
									%a.select(href="#") Action
									%ul.actions
										%li
											%a.pause(href="#") Pause
										%li
											%a.delete(href="#") Delete
							%tr
								%td 
									Variation 1
								%td 
									.percent 100%
									.percent-slider(data-value="100")
								%td 
									3
								%td 
									40
								%td 
									9.00% + 8.95%
								%td.increase
									&minus;
								%td
									6.8%
								%td 
									%a.select(href="#") Action
									%ul.actions
										%li
											%a.pause(href="#") Pause
										%li
											%a.delete(href="#") Delete
							%tr
								%td 
									Variation 2
								%td 
									.percent 80%
									.percent-slider(data-value="80")
								%td 
									3
								%td 
									40
								%td 
									9.00% + 8.95%
								%td.decrease
									%i.picon-decrease
									15%
								%td
									&minus;
								%td 
									%a.select(href="#") Action
									%ul.actions
										%li
											%a.pause(href="#") Pause
										%li
											%a.delete(href="#") Delete