%section(role="split-test")
	#split-test.add
		.row.clearfix
			.twelve.columns
				.box
					.header.clearfix
						%ul.inline-list.clearfix
							%li
								%img(alt="add" src="/assets/icon-plus-blue.png")/
							%li
								%h2 Add New Split Test
					.body
						%form
							.control-group
								%label Provide Name
								%input(type="text" name="")
							.control-group
								%label Choose Metric
								%ul.metrics.inline-list.clearfix
									%li.views
										%input.pretty(type="checkbox" name="" data-label="View" data-color="skin1")
									%li.plays
										%input.pretty(type="checkbox" name="" data-label="Plays" data-color="skin1")
									%li.conversions
										%input.pretty(type="checkbox" name="" data-label="Conversion" data-color="skin1")
										.tooltip-code
											.input-prepend.clearfix
												%span.add-on
													%i.picon-code-white
												%input(type="text" value="lorem ipsum dolor sit amet" focus-me="embed" ng-blur="embed = false")/
							.control-group
								%label Select Control Project
								%input(type="text" name="control_project" placeholder="Start typing a project")
								%ul.projects
									%li
										Wordpress Tutorial #1
										%a.close(href="#")
											%i.picon-close-small
							.control-group.variations
								%label Select Variations
								.clearfix
									.pull-left
										%input(type="text" name="" placeholder="Provide Name")
									.pull-right
										%select.dropkick(dropkick="" name="")
											%option Select Variation
											%option Wodpress Tutorial #1
								.clearfix
									.pull-left
										%input(type="text" name="" placeholder="Provide Name")
									.pull-right
										%span.variation 
											Wordpress Tutorial #1
											%a.close(href="#")
												%i.picon-close-small
								.clearfix
									.pull-left
										%input(type="text" name="" placeholder="Provide Name")
									.pull-right
										%select.dropkick(dropkick="" name="")
											%option Select Variation
											%option Wodpress Tutorial #1
								%a.add-variation(href="#")
									+ Add another Variation
							.control-group.clearfix
								.pull-right
									%button.button.radius.green(type="submit")
										%i.picon-plus
										Add Split Test