.folders.pull-left
  .new-project.clearfix
    .pull-left
      %a.add-project.button.radius.green(eat-click="" href="#" ng-click="current.showDialogId = 'new'") Create Folder
    .pull-left
      %a.show-projects.button.radius.green(eat-click="" href="#" ng-class="{'open' : showDropdownFlag}" ng-click="showDropdownFlag = !showDropdownFlag")
        %img.arrow(alt="" src="/assets/arrow-down-white.png")/
      %ul.projects-list(ng-cloak="" ng-show="showDropdownFlag")
        %li
          %a(eat-click="" href="#" ng-class="{'disabled': current.data.name == 'uncategorized' || current.data.parent_id }"
             ng-click="showSubfolderDialog()") New Subfolder

  %folder(model="folder" current="current" system="folder.name == 'uncategorized'" on-remove="onFolderRemove" 
          ng-cloak ng-repeat="folder in folders")

  %ul.main-csn(ng-cloak="" ng-show="current.showDialogId == 'new'")
    %li
      .folder.main-folder.clearfix
        .pull-left
          %form(name="newFolder")
            %input(ng-model="newFolderName" required="" type="text")/
            %a.button.radius.gray(href="" ng-click="current.showDialogId = null") Close
            %a.button.green.radius(href="" ng-click="saveFolder()" ng-hide="newFolder.$error.required") Save
