.folder-content.pull-left
  .box.projects(ng-controller="ProjectListCtrl") 
    .header.clearfix
      .pull-left
        %ul.inline-list.clearfix(ng-show="current.data.name" ng-cloak)
          %li
            %i.folder-default
          %li
            %span.name(limit-text="300" text="current.data.name")
              %span.count
          %li
            %i.picon-video
            {{current.data.projects_count}} video
      .pull-right
        %a.button.radius.blue.bulk-actions(eat-click ng-click="_showBulk()" ng-class="{'active':showBulk}")
          %i.picon-settings
          Bulk Actions
          %span select project
    .body
      .bulk-actions-content(ng-show="showBulk" ng-cloak)
        %ul.inline-list.clearfix
          %li 
            %select.bulk-select-action(ng-init="action = 'Move'" ng-model="action" required)
              %option(value="Move") Move Selected Projects to
              %option(value="Delete") Delete Selected Projects
              %option(value="Export") Export Selected Projects Embeds to CSV
          %li(ng-show="action == 'Move'")
            %select.bulk-select-dest(ng-model="destFolderId" required)
              %option(value="{{folder.id}}" ng-repeat="folder in folders|foldersToOptions") {{folder.name}}
          %li
            %a.button.green.radius.move(eat-click ng-click="bulkAction()") {{action}}
          %li
            %a.button.gray.radius.cancel(eat-click ng-click="showBulk = false") Cancel
      %ul.list(ui-sortable="sortableOptions" ng-model="projects")
        %project-element(ng-cloak project="project" ng-repeat="project in projects" 
                         sync="tooltips" selected-ids="selectedIds" favorites-resort="favoritesResort")     

