- content_for :title, "{{projectName}}"

%section#edit-project(jquery-plugins ng-controller="ProjectCtrl" role="projects")
  .video-menu(ng-init="init(#{@project.to_json})" ng-class="{closed: minimized}")
    %h4
      Customize
      %button.blue.save-project(ng-click="saveProject()" ng-disabled="!isModified" type="submit")
        %span(ng-show="isSaving") Saving...
        %span(ng-show="!isSaving") Save
    %a.accordion(ng-click="toggleTab()")
      = image_tag "icon-accordion.png"
    %ul.customize-menu(accordion)
      %li.visual(ng-class="{active: active == 'visual'}")
        %a.show-options(ng-click="show('visual')")
          %h4 Visual
        %div.side-block.clearfix.dimensions(player-dimensions)
          = render 'projects/settings/dimensions'
        %div.side-block.clearfix.media-controls
          = render 'projects/settings/media_controls'
        %div.side-block.clearfix.media-controls(tag-library prefilled="{{project.allowed_urls}}")
          %h5 Limited Access to URL`s
          .urls
            .input-append.clearfix
              %input.tagsManager(name="urls" ng-model="project.allowed_urls" placeholder="example: google.com, yahoo.com, microsoft.com..." type="text")/
              %span.add-on
                %a.button.blue.flat.radius.pushTag(eat-click href="#") Set
          .tags-library
            %ul.list-tags
      %li.branding(ng-class="{active: active == 'branding'}")
        %a.show-options(ng-click="show('branding')")
          %h4 Branding
        = render 'projects/settings/branding'

      %li.controls(ng-class="{active: active == 'controls'}")
        %a.show-options(ng-click="show('controls')")
          %h4 Controls
        = render 'projects/settings/controls'

      %li.statics(ng-class="{active: active == 'statics'}")
        %a.show-options(ng-click="show('statics')")
          %h4 Statistics
        %div.side-block.clearfix
          = render 'projects/settings/statistics'
    %h4 Add CTA
    %ul.cta-menu.customize-menu(ng-controller="CtasCtrl")
      %li.option
        %h4.clearfix
          Optin
          %a.button.blue.radius.pull-right(ng-hide="cta_store.optin" ng-click="addCta('optin')") Add
      %li.buttons
        %h4.clearfix
          Buttons
          %a.button.blue.radius.pull-right(ng-click="addCta('button')") Add
      %li.html
        %h4.clearfix
          HTML
          %a.button.blue.radius.pull-right(ng-click="addCta('html')") Add
  .page-header
    .row
      .twelve.columns.clearfix
        .pull-left
          .video-title= @project.title
        .pull-right
          %a.button.blue.radius(eat-click ng-click="embed = !embed" ng-class="{expanded: embed}") 
            %span(ng-show="!embed") Embed
            %input(ng-show="embed" ng-cloak type="text" value="{{project.embedCode()}}" focus-me="embed" ng-blur="embed = false")
          / .tooltip-code.tooltip(ng-show="embed")
          /   .input-prepend.clearfix
          /     %span.add-on
          /       %i.picon-code-white
          /     %input(type="text" value="{{project.embedCode()}}" focus-me="embed" ng-blur="embed = false")/
  .page-body
    .row
      .twelve.columns(ng-controller="CtaCtrl")
        .video-embed
          #final-video
            #video-preview
            - unless @project.blank?
              :javascript
                #{render partial: 'projects/player/player.js.erb', locals: { project: @project, embed: false, key: @key, load_to_element: 'video-preview' }}
        .timeline-box(timeline)
          .timeline.clearfix
            .timeline-start 0:00
            .timeline-end {{duration}}
            %div(ng-repeat="cta in ctas")
              %div(timeline-block)
          %ul.labels
            %li.optin Optin
            %li.buttons Buttons
            %li.html HTML
          .no-cuepoints-ctas
            %div
              %h5 On Start:
              %ul(ng-repeat="cta in ctas | filter:{on_start: true}")
                %li(ng-click="setCta(cta)") {{cta.type}} - {{$index + 1}}
            %div
              %h5 On Pause:
              %ul(ng-repeat="cta in ctas | filter:{on_pause: true}")
                %li(ng-click="setCta(cta)") {{cta.type}} - {{$index + 1}}
            %div
              %h5 On End:
              %ul(ng-repeat="cta in ctas | filter:{on_end: true}")
                %li(ng-click="setCta(cta)") {{cta.type}} - {{$index + 1}}
        .video-options-content(ng-show="cta_store.currentCta")
          #cta.options-content.active(ng-switch="cta_store.currentCta.type")
            %form.clearfix(ng-switch-when="CtaButton")
              = render 'projects/settings/cta/buttons'
              .button.blue.flat.radius.save.pull-right(ng-click="saveCta()") Save
              .button.red.flat.radius.cancel.pull-right(ng-click="cancel()") Cancel
            %form.clearfix(ng-switch-when="CtaHtml")
              = render 'projects/settings/cta/htmls'
              .button.blue.flat.radius.save.pull-right(ng-click="saveCta()") Save
              .button.red.flat.radius.cancel.pull-right(ng-click="cancel()") Cancel
            %form.clearfix(ng-switch-when="CtaOptin")
              = render 'projects/settings/cta/optin'
              .button.blue.flat.radius.save.pull-right(ng-click="saveCta()") Save
              .button.red.flat.radius.cancel.pull-right(ng-click="cancel()") Cancel
