- content_for :title, "My Projects"
%section(jquery-plugins="" role="my-projects")
  #my-projects.inside.page-body
    .row.clearfix
      .twelve.columns(ng-controller="FoldersCtrl" ng-init="search = '#{j @search}'")
        = render 'folders_crud'
        = render 'projects_crud'

