%section#new-project.clearfix(ng-controller="NewProjectCtrl")
  %ul#new-project-tabs
    %li 
      %a.tab-1
    %li(ng-click="sourceType='rackspace'" ng-class="{selected: sourceType=='rackspace'}")
      %a.tab-2
    %li(ng-click="sourceType='aws'" ng-class="{selected: sourceType=='aws'}")
      %a.tab-3
    %li 
      %a.tab-4
  %article(ng-controller="CsnCtrl")
    = render 'projects/wizard/file_browser'
    = render 'projects/wizard/csn_form'

  = render 'projects/wizard/upload_form'

/(jquery-plugins ng-controller="ProjectCtrl" role="projects")
/   = render 'shared/finder'
/   .page-body
/     .row
/       .twelve.columns
/         .steps
/           .box.step.step2
/             .box-header
/               %h3 Please Upload or Connect a File
/               %p Before you start configuring your player you must upload atleast one file to OptimizePlayer.
/             .box-body
/               .blue-box(upload-form ng-controller="AssetUploadCtrl") 
/                 %csn-direct-upload(on-add="onFileAdd" on-progress-change="onProgressChange" on-done="onDone" csn="opts.csnForUpload")
/                 %ul.inline-list.upload-type(asset-origin)
/                   %li.selected
/                     %input(data-label="Upload" data-customclass="radio-button" name="asset[file_origin]" ng-model="asset.file_origin" type="radio" value="upload")/
/                   %li
/                     %input(data-label="Connect" data-customclass="radio-button" name="asset[file_origin]" ng-model="asset.file_origin" type="radio" value="connect")/
/                 %br/ 
/                 %br/ 
/                 %br/ 
/                 .upload-button.send-file
/                   .before-upload(ng-hide="asset.original_filename")
/                     %ul
/                       %li
/                         %i.icon-play-circle
/                         %span
/                           Please Select the file you want to upload
/                         %a(data-reveal-id="modal-csn" style='display:none;')
/                         %ng-switch(on="asset.file_origin")
/                           %button.button.radius.blue(ng-switch-when="upload" ng-click="browseFiles()") Browse
/                           %button.button.radius.blue(ng-switch-when="connect" ng-click="browseCsn()") Browse

/                   .select-csn(ng-show="asset.original_filename && asset.file_origin == 'upload' || asset.needs_encoding")
/                     %i.icon-cloud
/                     %span
/                       Select CSN for upload
/                     .dropdown
/                       %select(ng-dropkick ng-dropkick-watch="pingDropkick" ng-model="opts.csnForUpload" ng-options="csn.name for csn in csns")

/                   .after-upload
/                     .progressbar(ng-show="asset.original_filename && ( (statusNotice.length > 0) || asset.needs_encoding || (asset.file_origin != 'connect') )")
/                       .progress.large-6.round(ng-class="{secondary: statusNotice == 'Encoding', warning: statusNotice == 'Preparing', success: statusNotice == 'Uploading'}")
/                         %span.meter(ng-style="{ width: percentage }")
/                       %span.percent {{ percentage }}
/                     %ul.file-info(ng-show="asset.original_filename")
/                       %li
/                         %i.icon-play-circle
/                       %li
/                         %p 
/                           {{ statusNotice }}
/                         %p.file-name
/                           {{ asset.original_filename }}
/                           %a(ng-click="resetAsset()" ng-hide="processingStarted")
/                             %i.icon-remove
/                   .select-csn(ng-show="cloudfrontCheckbox()")
/                     .cloudfront
/                       %div(checkbox label="Deploy to cloudfront" ng-model="opts.cloudfront")

/                   - if can? :encode, Asset
/                     %ul.web-ready(ng-show="asset.needs_encoding && !processingStarted")
/                       %li
/                         = image_tag "exclamation-rounded.png"
/                         Your File is not Web Ready
/                       %li
/                         - if current_account.plan.number_of_jobs == -1
/                           %input.pretty(data-label="Make it web ready" name="asset[needs_encoding]" type="checkbox" value="true")/
/                         - else
/                           %input.pretty(data-label="Make it web ready ( #{current_account.number_of_jobs}/#{current_account.plan.number_of_jobs} jobs left )" name="asset[needs_encoding]" type="checkbox" value="true")/
/                       %li
/                         %input.pretty(data-label="Keep video size" name="asset[keep_video_size]" type="checkbox" value="true")/
/                   .centralize(ng-show="!processingStarted && asset.original_filename")
/                     %button.button.radius.blue(ng-click="processAsset()")
/                       Upload!

/                   .centralize(ng-show="project.url")
/                     %a.next-step.button.radius.green(ng-click="createProject()")
/                       Proceed to the Next Step &nbsp;
/                       %i.icon-chevron-right
