<%= render partial: 'projects/player/player', locals: { project: @project, embed: true, key: @key } %>

if (typeof flowplayer == "undefined") {
    var a = document.createElement("script");
    a.src = "<%= Yetting.cloudfront_host %>/assets/optimizeplayer.min.js";
    a.onload = function () {
        optimizeplayer_<%= @project.short_cid %>.initplayer();
    };
    document.getElementsByTagName("head")[0].appendChild(a);
} else {
    optimizeplayer_<%= @project.short_cid %>.initplayer();
}