%h2 Button Options
.five.columns
  %h5 Display Options
  %ul.inline-list.radio-position.clearfix(radio name="button_position{{cta_store.currentCta.id}}" ng-model="cta_store.currentCta.position")
    %li
      %input.pretty(data-label="On The Video" data-customclass="radio-button" ng-checked="cta_store.currentCta.position == 'inside'" name="button_position{{cta_store.currentCta.id}}" type="radio" value="inside")
    %li
      %input.pretty(data-label="Outside The Video" data-customclass="radio-button" ng-checked="cta_store.currentCta.position == 'outside'" name="button_position{{cta_store.currentCta.id}}" type="radio" value="outside")

  %h5(ng-hide="cta_store.currentCta.position == 'inside'") Select Button Location
  %ul.inline-list.optin-location.clearfix(radio ng-hide="cta_store.currentCta.position == 'inside'" name="button_location{{cta_store.currentCta.id}}" ng-model="cta_store.currentCta.location" )
    %li
      %input.pretty(data-label="Top" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'top'" name="button_location{{cta_store.currentCta.id}}" type="radio" value="top" )
    %li
      %input.pretty(data-label="Right" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'right'" name="button_location{{cta_store.currentCta.id}}" type="radio" value="right" )
    %li
      %input.pretty(data-label="Bottom" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'bottom'" name="button_location{{cta_store.currentCta.id}}" type="radio" value="bottom" )
    %li
      %input.pretty(data-label="Left" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'left'" name="button_location{{cta_store.currentCta.id}}" type="radio" value="left" )
      
  .button-preview.cta-preview
    .button-background
    .button-code-html
  .button-custom
    .input-prepend.clearfix
      %span.add-on
        %i.icon-reorder
      %input(placeholder="Button Text" type="text" ng-model="cta_store.currentCta.text")/
    .input-prepend.clearfix
      %span.add-on
        %i.icon-link
      %input(placeholder="Button Link" type="text" ng-model="cta_store.currentCta.link")/
.seven.columns
  %h5 When do you want to show the Button?
  %ul.inline-list.optin-show.clearfix
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_start" label="On Start")
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_pause" label="On Pause")
    %li 
      %span(checkbox ng-model="cta_store.currentCta.on_finish" label="On End")
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_cuepoints" label="At a Specific Time" )
  %ul.inline-list.optin-specific-time.clearfix(cuepoints ng-model="cta_store.currentCta.cuepoints" enabled="{{cta_store.currentCta.on_cuepoints}}" ng-show="cta_store.currentCta.on_cuepoints == 'true' || cta_store.currentCta.on_cuepoints == true")
    %li
      %ul
        %li.cuepoints(ng-repeat="cuepoint in cuepoints")
          .input-prepend.clearfix
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="0:00" type="text" ng-model="cuepoint[0]")
          .input-prepend.clearfix
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="1:48" type="text" ng-model="cuepoint[1]")
    %li.add-cuepoint
      %a(ng-click="addCuepoint()")
        %i.icon-plus
  %div.cta-visual-controls
    %h5 Button Visual Controls
    %ul.inline-list.optin-colors.clearfix
      %li Background Color
      %li
        %input.color-picker.flat(colorpicker ng-model="cta_store.currentCta.background_color" type="text")
      %li
        .clearfix
          .pull-left 0%
          .pull-right 100%
        .poster-slider(default-value="{{cta_store.currentCta.background_opacity}}" slider-width="190" strackbar ng-model="cta_store.currentCta.background_opacity")
    %ul.inline-list.optin-colors.clearfix
      %li Text Color
      %li
        %input.color-picker.flat(colorpicker ng-model="cta_store.currentCta.text_color" type="text")
      %li
        .clearfix
          .pull-left 0%
          .pull-right 100%
        .poster-slider(default-value="{{cta_store.currentCta.text_opacity}}" slider-width="190" strackbar ng-model="cta_store.currentCta.text_opacity")
    %ul.inline-list.optin-font.clearfix
      %li
        Font
      %li.optin-font-family.clearfix
        %select.dropkick(ng-dropkick ng-model="cta_store.currentCta.font_family")
          %option(selected="selected" value="") Change
          %option(value="Helvetica") Helvetica
          %option(value="fantasy") Fantasy
      %li.optin-font-weight.clearfix
        %select.dropkick(ng-dropkick name="cta_store.currentCta.font_style")
          %option(value="700") Bold
          %option(value="400") Normal
          %option(selected="selected" value="300") Light
      %li.optin-font-size.clearfix
        %input.flat(style-field format="px" type="text" ng-model="cta_store.currentCta.font_size")px

