%h2 Html Options
.five.columns
  .button-preview.cta-preview
    %ul.inline-list.radio-position.clearfix(radio name="html_position{{cta_store.currentCta.id}}" ng-model="cta_store.currentCta.position")
      %li
        %input.pretty(data-label="Inside" data-customclass="radio-button" ng-checked="cta_store.currentCta.position == 'inside'" name="html_position{{cta_store.currentCta.id}}" type="radio" value="inside")
      %li
        %input.pretty(data-label="Outside" data-customclass="radio-button" ng-checked="cta_store.currentCta.position == 'outside'" name="html_position{{cta_store.currentCta.id}}" type="radio" value="outside")

  %h5(ng-hide="cta_store.currentCta.position == 'inside'") Select Html Location
  %ul.inline-list.optin-location.clearfix(radio ng-hide="cta_store.currentCta.position == 'inside'" name="html_location{{cta_store.currentCta.id}}" ng-model="cta_store.currentCta.location" )
    %li
      %input.pretty(data-label="Top" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'top'"  name="html_location{{cta_store.currentCta.id}}" type="radio" value="top")
    %li
      %input.pretty(data-label="Right" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'right'"  name="html_location{{cta_store.currentCta.id}}" type="radio" value="right")
    %li
      %input.pretty(data-label="Bottom" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'bottom'"  name="html_location{{cta_store.currentCta.id}}" type="radio" value="bottom")
    %li
      %input.pretty(data-label="Left" data-customclass="radio-button" ng-checked="cta_store.currentCta.location == 'left'"  name="html_location{{cta_store.currentCta.id}}" type="radio" value="left")

.seven.columns
  %h5 When do you want to show the Html?
  %ul.inline-list.optin-show.clearfix
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_start" label="On Start" )
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_pause" label="On Pause" )
    %li 
      %span(checkbox ng-model="cta_store.currentCta.on_finish" label="On End" )
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_cuepoints" label="At a Specific Time" )
  %ul.inline-list.optin-specific-time.clearfix(cuepoints ng-model="cta_store.currentCta.cuepoints" enabled="{{cta_store.currentCta.on_cuepoints}}")
    %li(ng-show="cta_store.currentCta.on_cuepoints == 'true' || cta_store.currentCta.on_cuepoints == true")
      %ul
        %li.cuepoints(ng-repeat="cuepoint in cuepoints")
          .input-prepend.clearfix.pull-left
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="0:00" type="text" ng-model="cuepoint[0]")
          .input-prepend.clearfix
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="1:48" type="text" ng-model="cuepoint[1]")
    %li.add-cuepoint(ng-show="cta_store.currentCta.on_cuepoints == 'true' || cta_store.currentCta.on_cuepoints == true")
      %a(ng-click="addCuepoint()")
        %i.icon-plus
  .button-html
    .input-prepend.textarea.clearfix
      %span.add-on
        %i.icon-code
      %textarea(ng-model="cta_store.currentCta.html" placeholder="Enter HTML Code" rows="4")
