%h2 Optin Options
.five.columns
  .input-prepend.textarea.clearfix
    %span.add-on
      %i.icon-code
    %textarea(name="autoresponder_html" ng-model="cta_store.currentCta.html" placeholder="Autoresponder HTML Code" rows="4")
  .input-prepend.clearfix
    %span.add-on
      %i.icon-reorder
    %input(name="optin_text" ng-model="cta_store.currentCta.header_text" placeholder="Text that will show up above the Optin" type="text")/
  .input-prepend.clearfix
    %span.add-on
      %i.icon-reorder
    %input(name="optin_button_text" ng-model="cta_store.currentCta.text" placeholder="Submit Button Text" type="text")/

  %div.cta-visual-controls
    %ul.inline-list.optin-font.clearfix
      %li
        Font
      %li.optin-font-size.clearfix
        %input.flat(style-field format="px" type="text" ng-model="cta_store.currentCta.font_size")px
      %li.optin-font-weight.clearfix
        %select.dropkick(ng-dropkick name="cta_store.currentCta.font_style")
          %option(value="700") Bold
          %option(value="400") Normal
          %option(selected="selected" value="300") Light
      %li.optin-font-family.clearfix
        %select.dropkick(ng-dropkick ng-model="cta_store.currentCta.font_family")
          %option(selected="selected" value="Open Sans") Open Sans
          %option(value="Helvetica") Helvetica
          %option(value="fantasy") Fantasy

  %div
    %h5 Optin Visual Controls
    %ul.checkboxes-list
      %li
        %span(checkbox label="Fullscreen" ng-model="cta_store.currentCta.fullscreen")
      %li
        %span(checkbox label="Skip button" ng-model="cta_store.currentCta.skip")

.seven.columns
  %h5 When do you want to show the Optin?
  %ul.inline-list.optin-show.clearfix
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_start" label="On Start")
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_pause" label="On Pause")
    %li 
      %span(checkbox ng-model="cta_store.currentCta.on_finish" label="On End")
    %li
      %span(checkbox ng-model="cta_store.currentCta.on_cuepoints" label="At a Specific Time" )
  %ul.inline-list.optin-specific-time.clearfix(cuepoints ng-model="cta_store.currentCta.cuepoints" enabled="{{cta_store.currentCta.on_cuepoints}}")
    %li(ng-show="cta_store.currentCta.on_cuepoints == 'true' || cta_store.currentCta.on_cuepoints == true")
      %ul
        %li.cuepoints(ng-repeat="cuepoint in cuepoints")
          .input-prepend.clearfix
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="0:00" type="text" ng-model="cuepoint[0]")
          .input-prepend.clearfix
            %span.add-on
              %i.icon-time
            %input(time-field placeholder="1:48" type="text" ng-model="cuepoint[1]")
    %li.add-cuepoint(ng-show="cta_store.currentCta.on_cuepoints == 'true' || cta_store.currentCta.on_cuepoints == true")
      %a(ng-click="addCuepoint()")
        %i.icon-plus
  %div.cta-visual-controls
    %h5 Optin Visual Controls
    %ul.inline-list.optin-colors.clearfix
      %li Background Color
      %li
        %input.color-picker.flat(colorpicker ng-model="cta_store.currentCta.background_color" type="text")
      %li
        .clearfix
          .pull-left 0%
          .pull-right 100%
        .poster-slider(default-value="{{cta_store.currentCta.background_opacity}}" slider-width="190" strackbar ng-model="cta_store.currentCta.background_opacity")
    %ul.inline-list.optin-colors.clearfix
      %li Button Background Color
      %li
        %input.color-picker.flat(colorpicker ng-model="cta_store.currentCta.button_background_color" type="text")
      %li
        .clearfix
          .pull-left 0%
          .pull-right 100%
        .poster-slider(default-value="{{cta_store.currentCta.background_opacity}}" slider-width="190" strackbar ng-model="cta_store.currentCta.button_background_opacity")
    %ul.inline-list.optin-colors.clearfix
      %li Text Color
      %li
        %input.color-picker.flat(colorpicker ng-model="cta_store.currentCta.text_color" type="text")
      %li
        .clearfix
          .pull-left 0%
          .pull-right 100%
        .poster-slider(default-value="{{cta_store.currentCta.text_opacity}}" slider-width="190" strackbar ng-model="cta_store.currentCta.text_opacity")
