@import "compass/css3";

// Modal CSN
#file-browser {

  .header {
    margin: 0 30px;
    padding: 45px 0 20px 0;
    border-bottom: 1px dotted #d1d1d1;

    .dk_container {
      .dk_toggle {
        width: 300px !important;
        font-size: 15px;
        font-weight: normal;
        color: #A3A3A3;
        border: 1px solid #d8d8d8;
        background-color: #f8f8f8;
        background-image: url(/assets/dropdown-arrow-gray.png);
        background-position: 275px 14px;
      }
    }

    .add-folder, .remove-folder {
      display: block;
      height: 36px;
      width: 36px;
      margin-left: 8px;
      line-height: 34px;
      color: #fff;
      text-align: center;
      border-radius: 4px;
    }

    .add-folder {
      font-size: 34px;
      background: #80bb41;
    }

    .remove-folder {
      font-size: 28px;
      background: #596c81;
    }

    .form-search {
      margin: 0;
      border: 1px solid #d8d8d8;
      background: #f8f8f8;
      @include border-radius(4px);

      input {
        width: 350px;
        height: 34px;
        background: none;
        border: none;
        @include border-left-radius(4px);
      }

      button {
        padding: 10px 3px 8px 8px;
        border: none;
        background: none;
        @include border-right-radius(4px);
      }
    }
  }

  .main {
    margin: 0 25px 20px 25px;

    .sub-header {
      padding: 25px 0 20px 0;

      h2 {
        margin: 0;
        font-size: 28px;
        font-weight: 300;
        color: #5b5b5b;
      }

      h5 {
        margin: 10px 0 0 0;
        font-size: 14px;
        font-weight: 300;
        color: #b6b6b6;
      }
    }

    .dk_container {
      a {
        overflow: hidden;
      }
      margin-bottom: 0;
    }

    .folders-content {
      max-height: 420px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .menu {
      width: 49%;

      ul {
        list-style: none;
        margin: 0;
      }

      ul.main-csn {
        display: block;
        margin: 0;

        li {
          border-top: 1px solid #efefef;

          ul {
            margin-left: 0px;
            padding-left: 0;

            li { 
              a {
                padding-left: 15px;
              }
              li a {
                padding-left: 30px;
              }
            }
          }

          &.selected {
            > a {
              color: #7f8181;
            }

            .picon-folder {
              background-position: 0 -19px;
            }            
          }

          a {
            font-weight: 300;
            color: #25abc8;

            .picon-folder {
              margin-right: 5px;
              background: url(/assets/icons-folder.png) no-repeat 0 3px transparent;
            }

            &:hover {
              color: #7f8181;

              .picon-folder {
                background-position: 0 -19px;
              }
            }

            &.folder {
              position: relative;
              display: block;
              padding-top: 6px;
              padding-bottom: 6px;
              font-size: 14px;
            }

            &.main-folder {
              display: block;
            }
          }
        }

        > li {
          white-space: nowrap;

          &:last-child {
            border-bottom: 1px solid #efefef;  
          }
        }
      }
    }

    .files {
      width: 48%;

      .sub-body {
        ul {
          margin: 0;
          list-style: none;

          li {
            border-top: 1px solid #efefef;

            &:last-child {
              border-bottom: 1px solid #efefef;  
            }

            a {
              display: block;
              padding: 6px 10px;
              color: #787878;
              font-size: 14px;
              font-weight: 300;

              &:hover, &.selected {
                font-weight: 600;
                background: #fafafa;
              }

              &.selected {
                padding-left: 25px;
                background-image: url(/assets/arrow-file-selected.png);
                background-repeat: no-repeat;
                background-position: 10px center;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 0 20px 20px 20px;

    h3 {
      font-size: 15px;
      color: white;
      line-height: 30px;
      margin: 0;

      img {

        &.icon {
          margin-right : 6px;
          margin-bottom: -4px;
        }
      }
    }

    .select-error {
      display: none;
      color: #fff;
    }

    .button {
      margin-right: 25px;
    }
  }
}
