.timeline-box {
  width: 720px;

  .timeline {
    position: relative;
    height: 95px;
    margin-top: 60px;
    border: 1px solid #d7dbe1;
    background: image-url('timeline-lines.png') repeat-x left bottom #fff;


    .timeline-start, .timeline-end {
      position: absolute;
      top: 8px;
      font-size: 12px;
      font-weight: bold;
      color: #363636;
    }

    .timeline-start {
      left: 8px;
    }

    .timeline-end {
      right: 8px;
    }

    .cta-object {
      position: absolute;
      bottom: 0;
      height: 30%;
      border: 1px solid #4d85cf;
      background: image-url('cta-object-bg.png') repeat 0 0 transparent;

      &.CtaOptin {
        top: 0;
        .cta-type {
          background-position: 0px 0px;
        }
      }
      &.CtaButton {
        top: 35%;
        .cta-type {
          background-position: 0px -17px;
        }
      }
      &.CtaHtml {
        bottom: 0;
        .cta-type {
          background-position: 0px -34px;
        }
      }

      .cta-type {
        position: absolute;
        top: 10px;
        right: 0;
        width: 12px;
        height: 7px;
        background: image-url('timeline-labels.png') no-repeat 0 0 transparent;
      }
    }
  }
  ul.labels {
    margin-top: 20px;
    text-align: right;

    li {
      position: relative;
      display: inline-block;
      margin-left: 30px;
      padding-left: 20px;
      font-size: 13px;
      font-weight: bold;
      color: #5c636d;
      background: image-url('timeline-labels.png') no-repeat 0 0 transparent;

      &.optin {
        background-position: 0px 7px;
      }
      &.buttons {
        background-position: 0px -10px;
      }
      &.html {
        background-position: 0px -27px;
      }
    }
  }
}

.tooltip-cta {
  margin-top: -15px;
  padding: 0 20px 10px 20px;
  border: 1px solid #4d85cf;
  background: #F2F7FE;
  color: #333333;
  text-align: center;
  &:hover {
    display: block !important;
  }
  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
  }
  &:after {
    border-top: 8px solid #F2F7FE;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    margin-left: -8px;
  }
  &:before {
    border-top: 9px solid #4D85CF;
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-left: 9px solid rgba(0, 0, 0, 0);
    bottom: -9px;
    margin-left: -9px;
  }
  h6 {
    margin: 10px 0;
  }
  ul {
    margin-bottom: 10px;
    list-style: none;
    i {
      font-weight: normal;
    }
  }
  .button.edit {
    padding: 9px;
    margin-right: 10px;
    
  }
  .button.delete {
    padding: 9px;
  }
}

.no-cuepoints-ctas {
  > div {
    float: left;
    width: 33%;
  }
}