= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %img.arrow(alt="OptimizePlayer" src="/assets/logo-big.png")/
  %h6 Enter your details to sign into the dashboard.
  .form-inputs(ng-init="show_alert = false")
    .email_content
      = f.input :email, :required => false, :autofocus => true, :placeholder => "E-mail", :autocomplete => "off", input_html: {'ng-click' => 'show_alert = false'}
    .password_content
      .alert-box.alert(ng-show="show_alert") Incorrect password, please try again
      = f.input :password, :required => false, :placeholder => "Password", input_html: {'ng-click' => 'show_alert = false'}
  .form-actions
    = f.button :submit, "Sign In Now", class: "flat blue-submit button button-block"
  .links.clearfix
    .pull-left 
      %span(class="checked_{{remember}}" ng-init="remember=false")
        = f.input :remember_me, :as => :boolean, inline_label: "Remember?", input_html: {'ng-click' => 'remember = !remember'} if devise_mapping.rememberable?
    .pull-right
      = link_to "Forgot your password?", new_password_path(:user), class: "forgot-password"
