- fonts_array = default_google_fonts
- fonts_array.each do |font|
  = google_font_link_tag font
- unless @project.blank?
  - content_for :title, "Video page for \"#{@project.title}\""
  /Include FB
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=416744705050137";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  %section(ng-controller="VideoPageCtrl"){:role => "video-page"}
    %div.veil(ng-show="isLoading" )
    / %div.feedLoading(ng-show="isLoading" us-spinner)
    %div.feedLoading(ng-show="isLoading")
    #video-page.outside(ng-init="init(#{@project.to_json})")
      .row.clearfix
        .twelve.columns{:"ng-controller" => "dialogCtrl"}
          .settings.pull-left
            .header
              %h5
                %img{:src => "/assets/icon-widgets.png"} Widgets
            .body
              %div
                %p Choose widgets and Drag & drop them on the page
                %ul.inline-list.clearfix.widgets
                  %li
                    .tooltip{:style => "margin-left:-8px;"} Add Title
                    %a.open-modal{:href => "#widgets-title"}(ng-click="editWidget('title')" prevent-default pos-xy)
                      %img{:alt => "text", :src => "/assets/icon-widget-text.png"}
                  %li.spacing
                    .tooltip{:style => "margin-left:-27px;"} Add Paragraph
                    %a.open-modal{:href => "#widgets-paragraph"}(ng-click="editWidget('paragraph')" prevent-default pos-xy)
                      %img{:alt => "paragraph", :src => "/assets/icon-widget-paragraph.png"}
                  %li
                    .tooltip{:style => "margin-left:-15px;"} Add Image
                    %a.open-modal{:href => "#widgets-image"}(ng-click="editWidget('image')" prevent-default pos-xy)
                      %img{:alt => "image", :src => "/assets/icon-widget-image.png"}
                  %li
                    .tooltip{:style => "margin-left:-13px;"} Add HTML
                    %a.open-modal{:href => "#widgets-html"}(ng-click="editWidget('html')" prevent-default pos-xy)
                      %img{:alt => "code", :src => "/assets/icon-widget-code.png"}
                  %li.spacing
                    .tooltip{:style => "margin-left:-16px;"} Add Button
                    %a.open-modal{:href => "#widgets-button"}(ng-click="editWidget('button')" prevent-default pos-xy)
                      %img{:alt => "button", :src => "/assets/icon-widget-button.png"}
                  %li
                    .tooltip{:style => "margin-left:-17px;"} Add Twitter
                    %a.open-modal{:href => "#"}(ng-click="addWidget('twitter')" eat-click pos-xy)
                      %img{:alt => "twitter", :src => "/assets/icon-widget-twitter.png"}
                  %li
                    .tooltip{:style => "margin-left:-38px;"} Add Facebook Like
                    %a.add-directly{"data-type" => "face-like", "data-url" => request.original_url, :href => "#"}(ng-click="addWidget('fblike')" eat-click pos-xy)
                      %img{:alt => "facelike", :src => "/assets/icon-widget-facelike.png"}
                  %li.spacing
                    .tooltip{:style => "margin-left:-57px;"} Add Facebook Comments
                    %a.add-directly{"data-type" => "face-comment", "data-url" => request.original_url, :href => "#"}(ng-click="addWidget('fbcomments')" eat-click pos-xy)
                      %img{:alt => "facecomment", :src => "/assets/icon-widget-facecomment.png"}
            .header
              %h5
                %img{:src => "/assets/icon-layout.png"} Layout
            .body.centralize
              %p Change Appearance
              %ul.inline-list.clearfix.layouts
                %li
                  %a{"data-factor" => "0", "data-layout" => "layout-1", :href => "#"}(ng-click="changeLayout('layout-1')" ng-class="{selected: template.class == 'layout-1'}" eat-click)
                    %img{:alt => "layout-1", :src => "/assets/layout-type-1.png"}
                %li
                  %a{"data-factor" => "1", "data-layout" => "layout-2", :href => "#"}(ng-click="changeLayout('layout-2')" ng-class="{selected: template.class == 'layout-2'}" eat-click)
                    %img{:alt => "layout-2", :src => "/assets/layout-type-2.png"}
                %li
                  %a{"data-factor" => "2", "data-layout" => "layout-3", :href => "#"}(ng-click="changeLayout('layout-3')" ng-class="{selected: template.class == 'layout-3'}" eat-click)
                    %img{:alt => "layout-3", :src => "/assets/layout-type-3.png"}
                %li
                  %a{"data-factor" => "0", "data-layout" => "layout-4", :href => "#"}(ng-click="changeLayout('layout-4')" ng-class="{selected: template.class == 'layout-4'}" eat-click)
                    %img{:alt => "layout-4", :src => "/assets/layout-type-4.png"}
                %li
                  %a{"data-factor" => "0", "data-layout" => "layout-5", :href => "#"}(ng-click="changeLayout('layout-5')" ng-class="{selected: template.class == 'layout-5'}" eat-click)
                    %img{:alt => "layout-5", :src => "/assets/layout-type-5.png"}
                %li
                  %a{"data-factor" => "1", "data-layout" => "layout-6", :href => "#"}(ng-click="changeLayout('layout-6')" ng-class="{selected: template.class == 'layout-6'}" eat-click)
                    %img{:alt => "layout-6", :src => "/assets/layout-type-6.png"}
            .header
              %h5
                Background Color
            .body
              %label.color-picker-label
                %input.color-picker{:name => "style_color", :type => "text", :value => "{{settings.backgroundColor}}"}(ng-controller="VideoPageCtrl" colorpicker-widgets ng-model="settings.backgroundColor")
            .header
              %h5
                %i.icon-search
                SEO Tools
            .body
              %ul.tools
                %li
                  %a.button.radius.gray.open-modal{:href => "#widgets-seo"}(ng-click="seoForm()" pos-xy) SEO Options
          .page-content.pull-left
            .header
              .clearfix
                .pull-left
                  %ul.inline-list.clearfix
                    %li
                      %span.name Page Preview
                .pull-right
                  / .fb-like{"data-action" => "like", "data-href" => "root_url", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true"}
                  %form.form-page-name{ :name => 'video_page_slug' }(ng-controller="VideoPageCtrl" novalidate)
                    %ul.inline-list.clearfix
                      %li
                        %span.link http://#{!current_user.url.blank? ? current_user.url : "_your_url_"}.optimizeplayer.com/
                      %li
                        %input{:placeholder => "enter-page-name...", "type" => "text"}(ng-cloak ng-model="slug.slug" required ng-class="{error: video_page_slug.$invalid}" )
                      %li
                        %button.radius.button.blue(ng-click="saveSlug()")
                          %i.icon-ok

            .body(ng-class="template.class")
              %form{:action => "", :method => "post"}
                .widgets-layout-bg(style="height: {{ template.bgheight }}px")
                %gridster(ng-cloak)
                  %ul
                    %li{"data-col" => "1", "data-row" => "3", "data-sizex" => "12", "data-sizey" => "8", "class" => "gs_w video not-draggable not-resizable"}
                      - unless @project.blank?
                        %script{type: 'application/javascript', src: "#{root_url}projects/#{@project.cid}.js"}

                    %li{"data-type" =>"{{widget.type}}", id: "id_{{widget.id}}", "data-col" => "{{widget.dataCol}}", "data-row" => "{{widget.dataRow}}", "data-sizex" => "{{widget.dataSizex}}", "data-sizey" => "{{widget.dataSizey}}", "data-minx" => 2, "data-miny" => 2, "ng-repeat" => "widget in widgets",  "repeat-done" =>"layoutDone()", "class" => "gs_w {{widget.class}}"}
                      %div{proxy: "widget", "proxy-value" => "{{widget}}"}

                .actions.align-right
                  %a.video-preview.button.radius.blue(ng-click="goToPreview()") Page Preview
                  %button.video-submit.button.radius.green(ng-click="savePage()") Save