/Include social javascript
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=416744705050137";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

- if @preview_page and @preview_page[:videopage][:template]
  %section.content{:class => @preview_page[:videopage][:template][:class] }
    %div.veil(ng-show="isLoading" )
    %div.feedLoading(ng-show="isLoading")
    .widgets-layout-bg{:style => "height:#{@preview_page[:videopage][:template][:bgheight]}px"}
    %ul.widgets-container.gridster
      - if @preview_page.present?
        %li.widget-wrapper{ :class => "video not-draggable not-resizable", "data-col" => "1", "data-row" => "3", 'data-sizex' => "12", 'data-sizey' => "8"}
          %script{:type => "text/javascript", :src  => "#{root_path}projects/#{@project_preview.cid}.js"}
        - widgets = @preview_page[:videopage][:widgets]
        - if widgets.length > 0
          - widgets.each do |key, widget|
            - if widget[:component].present?
              - case widget[:component]
              - when 'title'
                - title_styles = add_to_style(widget, ["font", "fontStyle", "fontSize", "textColor"], ["font-family", "font-style", "font-size", "color"])
                - li_title_styles = add_to_style(widget, ["backgroundColor"], ["background-color"])
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey], :class => widget[:class], :style => li_title_styles }
                  %h1{ :style => title_styles }
                    =widget[:title]

              - when 'videoBox'
                - if @project_preview.present?
                  %li.widget-wrapper{ :class => widget[:class], "data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                    %script{:type => "text/javascript", :src  => "#{root_path}projects/#{@project_preview.cid}.js"}

              - when 'paragraph'
                - paragraph_styles = add_to_style(widget, ["font", "fontStyle", "textColor", "backgroundColor"], ["font-family", "font-style", "color", "background-color"])
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey], :class => widget[:class]}
                  %div.widget_html{ :style => paragraph_styles }
                    !=widget[:text]
                - fontSize = widget[:fontSize]
                :css
                  .widget_html > p {
                    font-size:#{fontSize}px;
                  }

              - when 'image'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  %img{ :src => widget[:image_url]}

              - when 'html'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  %div
                    !=widget[:customHtml]

              - when 'button'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  %button(onclick="alert('This is Button')")
                    %img{:src => widget[:button_url]}

              - when 'fbcomments'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  .fb-comments{ "data-href" => widget[:url], "data-numposts" => 5, "data-colorscheme" => "light", "width" => "690px"}

              - when 'fblike'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  .fb-like{"data-action" => "like", "data-href" => widget[:url], "data-share" => "true", "data-show-faces" => "true"}

              - when 'twitter'
                %li.widget-wrapper{"data-col" => widget[:dataCol], "data-row" => widget[:dataRow], 'data-sizex' => widget[:dataSizex], 'data-sizey' => widget[:dataSizey]}
                  %div
                    %a{ :href=>"{{widget[:url]}}", :class=>"twitter-share-button", "data-lang"=>"en" } Tweet