%section(ng-show="csn")
  %h3 Sign In or Connect to Upload a Video
  #err
  %form.csn-form(ng-submit="save()" ng-show="csn.provider == 'aws'")
    %input(ng-model="csn.name" placeholder="Nickname" required type="text" required)/
    %input(ng-model="csn.bucket" placeholder="Bucket" required type="text" required)/
    %input(ng-model="csn.access_key" placeholder="Access key" required type="text" required)/
    %input(ng-model="csn.secret_key" placeholder="Secret Key" required type="text" required)/
    .group
      %span(checkbox ng-model="csn.use_cloudfront" class="green" label="Use Cloudfront")
    %button.button.blue-submit.flat.button-block.radius(ng-disabled="loading" type="submit") Connect Provider
  %form.csn-form(ng-submit="save()" ng-show="csn.provider == 'rackspace'")
    %input(ng-model="csn.name" placeholder="Nickname" required type="text" required)/
    %input(ng-model="csn.bucket" placeholder="Container name" required type="text" required)/
    %input(name="access_id" placeholder="Username" type="text" ng-model="csn.access_key" required)/
    %input(name="access_key" placeholder="API Key" type="text" ng-model="csn.secret_key" required)/
    %button.button.blue-submit.flat.button-block.radius(ng-disabled="loading" type="submit") Connect Provider
