%section(csn-finder id="file-browser" ng-show="!csn && (csns | filter: {provider: sourceType}).length > 0")
  .header.clearfix
    .pull-left
      %select(ng-dropkick ng-model="current_csn" ng-dropkick-watch="[csns, sourceType]" ng-options="c.name for c in csns | filter: {provider: sourceType}")
        %option(value="") Select provider
    .pull-left
      %a.add-folder(ng-click="addCsn()") +
    .pull-left(ng-show="current_csn")
      %a.remove-folder(ng-click="removeCsn(current_csn)") &minus;
    .pull-right(ng-show="current_csn")
      .input-append.form-search.clearfix
        %form(action="/" method="get")
          %button(type="submit")
            %i.picon-search
          %input(name="search" placeholder="Search for a file" type="text")/
  .main.clearfix
    .menu.pull-left
      .sub-header(ng-hide="current_csn")
        %h2 Choose CSN
      .sub-header(ng-show="current_csn")
        %h2 Browsing {{current_csn.name}} Files
        %h5 Showing {{current_csn.buckets.length}} folders
      .sub-body
        .folders-content
          %h3.loader(ng-show="current_csn && current_csn.buckets == undefined")
            = image_tag "file-loading.gif"
          %ul.main-csn(ng-repeat="bucket in current_csn.buckets" ng-class="{transparent: bucket == current_folder}")
            %li(ng-class="{selected: bucket == current_folder}")
              %a.folder.main-folder(ng-click="setCurrentFolder(bucket, true)")
                %i.picon-folder
                %span {{bucket.name}}
              %ul(ng-tree="bucket.subdirs")
                %li(each="item in subdirs" ng-show="item.files.length > 0 || item.subdirs.length > 0")
                  %a.folder(ng-click="setCurrentFolder(item)" ng-class="{selected: item == current_folder}")
                    %i.picon-folder
                    %span {{item.name}}
    .files.pull-right
      .sub-header
        %h2(ng-show="current_folder") {{current_folder.name}}
        %h5 Showing {{current_folder.files.length}} files
      .sub-body
        .folders-content
          %h3.loader(ng-show="current_folder && current_folder.isBucket && !current_folder.loaded")
            = image_tag "file-loading.gif"
          %ul(ng-repeat="file in current_folder.files")
            %li
              %a(ng-class="{selected: file.url == asset.remote_url}" ng-click="setConnectedFile(file)")
                {{file.name}}
  .footer.clearfix
    .right
      %a.radius.button.green.submit-file(ng-show="asset.remote_url" ng-click="selectFile()") Select File
