#upload-new-video.reveal-modal(upload-form ng-controller="AssetUploadCtrl")
  %h3 Upload a New Video
  %label Select account to upload to
  %select(ng-dropkick)
    %option(value="amazon") Amazon S3
    %option(value="rackspace") Rackspace        
  %label Browse and select file
  
  %csn-direct-upload(on-add="onFileAdd" on-progress-change="onProgressChange" on-done="onDone" csn="opts.csnForUpload")

  .clearfix.input-file
    %input(type="text" class="pull-left" value="{{asset.original_filename}}")
    %a.button.radius.gray.pull-right(href="#" ng-click="browseFiles()") Browse

  %label(ng-show="asset.needs_encoding && !processingStarted") File is not web ready. Would you like to:
  - if can? :encode, Asset
    .clearfix(ng-show="asset.needs_encoding && !processingStarted")
      .pull-left
        %input.pretty(data-label="Make it web ready" data-customclass="checkbox" name="asset[needs_encoding]" type="checkbox" value="true")
      .pull-left
        %input.pretty(data-label="Keep video size" data-customclass="checkbox" name="asset[keep_video_size]" type="checkbox" value="true")
  
  .clearfix(ng-show="cloudfrontCheckbox()")
    .pull-left
      %span(checkbox label="Deploy to cloudfront" ng-model="opts.cloudfront")

  .percentage {{statusNotice}} {{percentage}} 
  .clearfix
    .pull-left
      .progress-container
        .progress-bar(ng-style="{ width: percentage }")
    .pull-right(ng-click="resetAsset()" ng-hide="processingStarted")
      %i.picon-cancel
  %a.button.green.radius.upload(ng-show="!processingStarted && asset.original_filename" ng-click="processAsset()") Upload Video
  %a.button.green.radius.upload(ng-show="project.url" ng-click="createProject()") Proceed to the Next Step