/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 += require_tree ./application
 *= require foundation
 *= require jquery.tinyscrollbar
 *= require jquery.prettycheckable
 *= require jquery.fileinput
 *= require jquery-ui
 *= require ./application/dropkick
 *= require font-awesome.min
 *= require ./application/wp_layout
 *= require ./application/video_page
 *= require ./application/video_preview
 += require_tree ./elements
 += require_tree ./modules
 *= require_self
 *= require colorpicker
 *= require redactor-rails
 */

@import "compass/css3";

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #F0F8FF;
  color: #636363;
}

label {
  color: #636363;
}

input[type=text], textarea {
  @include border-radius(3px);
  resize: none;
}

.row {
  width: 980px;
  position: relative;
}

.columns {
  &.alpha {
    padding-left: 0;
  }

  &.omega {
    padding-right: 0;
  }
}

.loader {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, header[role=banner] {
  font-family: 'Open Sans', sans-serif;
}

header[role=banner] {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #a6a6a6;
  border-bottom: 1px solid #dcdcdc;

  nav {
    ul {
      padding: 0;
      margin: 0;

      li {
        margin: 0;
      }
    }
  }

  .top-menu {
    padding: 15px 0;
    
    .logo img {
      display: block;
    }

    .form-search {
      margin: 6px 0 0 30px;
      border: 1px solid #e2e2e2;
      background: #fff;
      @include border-radius(4px);

      input {
        width: 330px;
        height: 31px;
        border: none;
        @include border-left-radius(4px);
      }

      button {
        padding: 8px 3px 7px 8px;
        border: none;
        background: none;
        @include border-right-radius(4px);
      }
    }

    .more-embeds {
      height: auto;
      margin-top: 6px;
      padding: 8px 16px;
      font-weight: 300;
      font-size: 15px;
      line-height: 15px;
      background: #85bd40;
      border: none;
      box-shadow: none;
    }

    .open-user-dropdown {
      margin-left: 16px;
      padding: 6px 30px 0 0;
      background: url('dropdown-arrow-gray.png') no-repeat right center transparent;

      img {
        @include border-radius(2px);  
      }
    }

    .user-dropdown {
      display: none;
      position: absolute;
      z-index: 100;
      width: 160px;
      right: 0;
      top: 50px;
      
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        right: 17px;
        width: 0;
        height: 0;
        border-bottom: 5px solid #5e6e7f;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }

      ul {
        list-style: none;
        margin: 0;

        li {

          &:first-child a {
            @include border-top-radius(4px);
          }

          &:last-child a {
            @include border-bottom-radius(4px);
          }

          a {
            display: block;
            color: #fff;
            padding: 10px 15px;
            background: #5e6e7f;
            font-weight: 300;
            font-size: 15px;

            &:hover, &.selected {
              background: #53687E;
            }

            [class^="picon"] {
              margin-right: 10px;
              vertical-align: middle;
            }

            [class^="icon"] {
              margin-right: 12px;
              margin-left: 1px;
            }
          }
        }
      }
    }
  }

  .main-menu {
    border-top: 1px solid #f3f3f3;

    ul li {
      position: relative;
      text-align: center;

      a {
        margin: -1px -1px -1px 0;
        padding: 12px 25px;
        color: #a6a6a6;
        font-size: 16px;
        border: 1px solid #f3f3f3;
        border-bottom: 1px solid #dcdcdc;

        &:hover, &.active {
          color: #2cadc8;
          border-bottom-color: #fff;
        }
      }

      ul {
        display: none;
        position: absolute;
        z-index: 99;
        margin-top: 1px;
        list-style: none;
        background: #fff;
        border: 1px solid #dcdcdc;
        border-top: none;

        li {

          a {
            display: block;
            white-space: nowrap;
            margin: 0;
            padding-left: 50px;
            font-size: 15px;
            border: none;
            border-bottom: 1px solid #F3F3F3;
            text-align: left;

            &:hover, &.active {
              border-bottom: 1px solid #F3F3F3;
            }
          }

          &.new-project a {
            background: url(/assets/icon-new-project.png) no-repeat 20px center transparent;
          }

          &.split-testing a {
            background: url(/assets/icon-split-testing.png) no-repeat 20px center transparent;
          }
        }
      }

      &:hover {
        > a {
          border-bottom-color: #fff;
        }

        ul {
          display: block;
        }
      }
    }
  }
}

#main-content > section {
  position: relative;
}

.page-header {
  padding: 14px 0;
  border-bottom: 3px solid #d9dcdf;
  background: #fff;

  .page-title {
    padding: 5px 0px 5px 0px;
    color: #4d89d6;
    font-size: 24px;
    font-weight: 600;
  }

  .arrow {
    display: inline-block;
    height:0;
    margin: 10px 0 -10px 30px;
    border-top: 10px solid #dae4f0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }
}

.page-body {
  padding: 35px 0;
}

footer {
  margin-top: 50px;
  color: #FFF;

  &.no-padding {
    padding-bottom: 0;
  }

  section[role=info] {
    height: 75px;
    padding-top: 20px;
    background-color: #4c87d3;

    span {
      margin-top: 10px;
      margin-right: 50px;
    }
  }

  section[role=copyright] {
    background-color: #33598c;

    span {
      line-height: 70px;
    }
  }
}

.button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  border: 0;

  &.green {
    background: #80bb41;
  }
  &.gray {
    background: #ededed;
    color: #666666;
  }
  &.blue {
    background: #4C86D2;
  }
  &[disabled] {
    background: #bdbdbd;

    &:hover {
      background: #b2b2b2;
    }
  }
}

.box {
  border: 1px solid #345E92;
  margin-top: 20px;
  padding: 0;

  @include border-radius(5px);
  @include background(linear-gradient(top, #ECECEC, #DBDBDB));
  @include box-shadow(#5A5A5A 0px 1px 4px);

  .header, .body {
    padding: 0 20px;
  }

  .header {
    height: 50px;
    border-bottom: 1px solid #28476F;
    background: #4C87D3;
    @include background(#4C87D3 linear-gradient(top, #4C87D3, #4479BC));
    @include box-shadow(#5A5A5A 0px 1px 4px);

    &.list {
      ul {
        float: right;
        margin: 0 20px;

        li {
          margin: 0;

          a {
            padding: 13px 25px 14px;
            color: #fff;
            border-right: 1px solid #28476f;

            &.selected {
              @include background(linear-gradient(top, #2a4d83, #457ac1));
            }
          }

          &:first-child {
            a {
              &.selected {
                border-left: 1px solid #28476f;
              }
            }
          }

          &:last-child {
            a {
              border-right: none;

              &.selected {
                border-right: 1px solid #28476f;
              }
            }
          }
        }
      }
    }

    h3 {
      font-size: 15px;
      font-weight: normal;
      color: white;
      line-height: 50px;
      margin: 0;

      img {
        vertical-align: middle;
      }
    }

    .help {
      float: right;
      color: #fff;
      border: 1px solid #294871;
      height: 20px;
      width: 20px;
      @include border-radius(20px);
      padding-top: 2px;
      text-align: center;
      margin-top: 15px;
      @include box-shadow(inset 0px 1px 2px #5d93d6);
    }

    .button {
      border: 1px solid #294871;
      margin-top: 10px;
      @include box-shadow(0px 1px 2px #3e6eac);
    }
  }

  .body {
    padding-bottom: 25px;

    &.padded {
      padding-top: 25px;
    }
  }
}

.sub-box {
  .sub-header {
    border: 1px solid #929292;
    @include border-top-radius(5px);
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    @include background(linear-gradient(top, #dfe6f0, #c0c7d1));
  }

  .sub-body {
    border: 1px solid #929292;
    @include border-bottom-radius(5px);
    border-top: none;
    padding: 40px 105px;
    background: #dae2ed;
  }
}

label {
  &.inline {
    margin: 0;
  }
}
// Form Horizontal
.form-horizontal {
  .group {
    margin-bottom: 15px;

    label {
      float: left;
      width: 130px;
      text-align: right;
      padding-top: 8px;
      font-weight: bold;
    }

    .input {
      margin-left: 150px;
    }
  }
}

// Customize Checkbox and Radio Button
form {
  &.custom {
    span {
      &.custom {
        &.checkbox {
           height: 21px;
           width: 20px;
           background: url('checkbox-and-radio.png') no-repeat 0 0 transparent;
           border: none;

           &.checked {
            background-position: 0 -31px;

            &:before {
              content:"";
            }
          }
        }

        &.radio {
           height: 21px;
           width: 20px;
           background: url('checkbox-and-radio.png') no-repeat 0 -62px transparent;
           border: none;

           &.checked {
            background-position: 0 -93px;

            &:before {
              content:"";
              background: none;
            }
          }
        }
      }
    }

    span {
      &.checkbox-text {
        display: inline-table;
        margin: -4px 20px 0 5px;
        vertical-align: top;
      }

      &.radio-text {
        display: inline-table;
        margin: -4px 20px 0 5px;
        vertical-align: top;
      }
    }
  }
}

// Customize Labels
.label {
  &.success {
    padding: 0 10px;
  }
}

// Customize Modal
.reveal-modal {
  border: 1px solid #28476f;
  padding: 0;
  width: 800px;
  margin-left: -400px;
  z-index: 9999;
}

.reveal-modal-bg {
  z-index: 9998;
}

// Tooltips
.use-tooltip {
  position: relative;
}

[id^="tooltip-"] {
  display: none;
  position: absolute;
  text-align: center;
  left: 50%;
  z-index: 20;

  span {
    display: block;
    padding: 7px 10px;
    @include border-radius(4px);
    color: #fff;
    margin-top: -5px;
  }
}

#tooltip-new {
  width: 96px;
  margin-left: -48px;

  span {
    background: #4c87d3;
    border: 1px solid #3563a1;
  }
}

#tooltip-delete {
  width: 112px;
  margin-left: -56px;

  span {
    background: #cd4b3f;
    border: 1px solid #b44237;
  }
}

#tooltip-delete-member {
  width: 160px;
  margin-left: -80px;
  margin-top: -10px;

  img {
    margin-bottom: -2px;
  }

  span {
    background: #cd4b3f;
    border: 1px solid #b44237;
    font-size: 12px;
    padding: 2px 5px;
  }
}

#tooltip-delete-csn {
  width: 160px;
  margin-left: -80px;
  margin-top: -10px;

  img {
    margin-bottom: -2px;
  }

  span {
    background: #cd4b3f;
    border: 1px solid #b44237;
    font-size: 12px;
    padding: 2px 5px;
  }
}

#tooltip-delete-encoder {
  width: 140px;
  margin-left: -70px;
  margin-top: -10px;

  img {
    margin-bottom: -2px;
  }

  span {
    background: #cd4b3f;
    border: 1px solid #b44237;
    font-size: 12px;
    padding: 2px 5px;
  }
}

#tooltip-dismiss {
  width: 98px;
  margin-left: -49px;

  span {
    background: #cd4b3f;
    border: 1px solid #b44237;
  }
}

// Default class
.input-append {
  margin-top: 8px;

  form {
    margin: 0;
  }

  input {
    float: left;
    width: 140px;
    margin: 0;
    border: 1px solid #345e92;
    @include border-right-radius(0px);
    box-shadow: none;
  }

  button {
    float: left;
    margin: 0;
    border: 1px solid #345e92;
    border-left: none;
    @include border-right-radius(4px);
    background: #4c87d3;
    @include background(linear-gradient(top, #4c86d2, #4377ba));
    color: #fff;
    cursor: pointer;
  }

  &.inc-dec {
    width: 60px;
    margin-top: 0;

    input[type=text] {
      width: 40px !important;
      font-weight: bold;
    }

    .add-on a {
      display: block;
      height: 10px;
      color: #000;

      &:hover {
        color: #4a6db8;
      }
    }
  }
}

.input-prepend {
  .add-on {
    float: left;
    padding: 7px 10px;
    border: 1px solid #345e92;
    @include background(linear-gradient(top, #4c86d2, #4377ba));

    &:first-child {
      border-right: none;
      @include border-left-radius(4px);
    }

    &:last-child {
      border-left: none;
      @include border-right-radius(4px);
    }
  }

  input {
    float: left;
    width: 250px;
    border: 1px solid #345e92;
    @include border-left-radius(0px);
  }

  &.input-append {
    input {
      border-right: none;
    }
  }
}

.unstyled {
  list-style: none;
}

.inline {
  float: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

  content: ' ';
}

.centralize {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

@media(max-width: 980px){
  .row {
    width: 100%;
  }

  #main-content {
    min-width: inherit;
  }
}

@media(max-width: 767px){
  .button {
    display: inline-block;
  }
}
