= render 'shared/finder'
%section(role="my_uploads")
  .row
    #my-uploads.twelve.columns
      .box
        .header.clearfix
          %h3.inline
            = image_tag('/assets/icon-upload-white.png')
            My Uploads
          %a.help(href="#") ?
        .body
          .main-area
            .clearfix
              .pull-left.select-all
                %input(type="checkbox")/
                %a.radius.button.blue.active-checkbox(href="#") Select All
                %a.radius.button.blue.begin-project(href="#") Begin project with selected files
              .pull-right.upload-box
                %form#my-uploads-dropzone.px-dropzone.upload-action(action=assets_path enctype="multipart/form-data" method="post")
                  %input(name="token" type="hidden" value="")/
                = image_tag "icon-upload-gray.png", :class => 'upload-icon'
                %span.message Drag files here...
                %a.radius.button.blue.pc(href="#") Select from PC
                %a.radius.button.blue.csn(data-reveal-id="modal-csn" href="#" onclick="fileDestination='TESTE';") Select from CSN
          .files
            #tooltip-new
              = image_tag('/assets/tooltip-info-arrow.png')
              %span New Project
            #tooltip-delete
              = image_tag('/assets/tooltip-error-arrow.png')
              %span Delete Upload
            #tooltip-dismiss
              = image_tag('/assets/tooltip-error-arrow.png')
              %span Dismiss File
            %table
              %tbody
                - for asset in @assets
                  %tr
                    %td.col1
                      %input(name="assets[]" type="checkbox" value="#{asset.id}")/
                    %td.col2
                      = image_tag('/assets/icon-song.png')
                      %span.file-name= asset.original_filename
                    %td.col3
                      .progress.success.round
                        %span.meter(style="width: 40%")
                      %a(href="#")
                        %i.picon-pause
                      %a.use-tooltip(data-confirm="Are You sure?" data-method="delete" data-tooltip="delete" href="#{asset_path(asset)}")
                        %i.picon-close
                    %td.col4
                      %a.use-tooltip(data-tooltip="new" href="#")
                        %i.picon-new
                    %td.col5
                      %a.use-tooltip(data-tooltip="dismiss" href="#")
                        %i.picon-dismiss
