%ul.main-csn(ng-class="{ 'transparent': folder.id == expandedId() }")
  %li
    .folder.main-folder.clearfix(ng-click="view(folder)")
      .pull-left
        %i.picon-folder-m
        %span(limit-text="120" text="folder.name")
      .pull-right.folder-remove(ng-hide="system()")
        %a(href="" eat-click ng-click="remove(folder)") X
      .pull-right(ng-class="{ 'folder-pcount': !system() }")
        {{folder.projects_count}}
    %ul
      %li(ng-repeat="subfolder in folder.subfolders")
        .subfolder(ng-class="{ 'current': subfolder.id == current.data.id }" ng-click="view(subfolder)")
          %i.picon-folder-p
          %span(limit-text="110" text="subfolder.name" refresh-switch="folder.id == expandedId()")
          .pull-right.subfolder-remove
            %a(href="" ng-click="remove(subfolder)") X
          .pull-right.subfolder-pcount
            {{subfolder.projects_count}}
      %li
        .subfolder
          %form(name="newSubfolder" ng-show="current.showDialogId == folder.id")
            %input(name="name" ng-model="newSubfolderName" required type="text")
            %a.button.radius.gray(href="" ng-click="current.showDialogId = null") Close
            %a.button.green.radius(href="" ng-click="saveSubfolder()" ng-hide="newSubfolder.$error.required") Save
