%li.actions
  %a(href="#" eat-click ng-click="switch()")
    %i.picon-comment
  .tooltip-tag.tooltip(ng-show="sync.tagsId == project.id")
    %img.arrow(alt="tootltip" src="/assets/tooltip-info-arrow.png")
    %span
      .input-append.clearfix
        %form(name="newTagsForm" ng-submit="addTag()")
          %input(ng-model="newTags" type="text" required)
          %button(type="submit")
            %i.picon-plus
      .tags
        %label.tag(ng-repeat="tag in project.tags.split(',').compact(true)")
          {{tag}}
          %a(href="#" eat-click ng-click="removeTag(tag)")
            %i.picon-close

