%li.project(data-id="{{project.id}}" ng-class="{'static':project.favorite || project.dashboard, 'active-green':selected}")
  %ul.content.clearfix
    %span.project-id(style="display: none") {{ project.id }}
    %li.checkbox(ng-hide="dashboard")
      %input.pretty(type="checkbox" ng-model="selected" ng-change="toggleIdInIds()")
    %li.handle(ng-class="{'draggable': !project.favorite && !project.dashboard}" ng-hide="dashboard")= image_tag "project-drag-drop-handle.png"
    %li.info
      %span.name(ng-click="clickOnProject()" ng-dblclick="dblclickOnProject()" ng-hide="nameEditing" limit-text="170" text="project.title" refresh-switch="sync.tab")
      %form.name(ng-submit="updateProjectName(project)" ng-show="nameEditing")
        %input(ng-model="newTitle" type="text" ng-blur="updateProjectName()" required focus-me="nameEditing")
      %project-favorite(project="project" on-update="onFavoriteUpd")
      %project-dashboard(project="project" on-update="onFavoriteUpd")
      %span.date Date: {{ project.date }}

    %li.actions.delete
      %a(href="/projects/{{project.cid}}" data-method="delete" data-confirm="Are you sure?" rel="nofollow")
        %i.picon-close
    %li.actions.edit
      %a(href="/projects/{{project.cid}}/edit")
        %i.picon-edit
    %project-tags(project="project" sync="sync")
    %li.actions.edit
      %a(ng-href="videopage/{{project.cid}}")
        %i.picon-video-add
    %li.actions.code
      %a(href="#" eat-click ng-click="embed = !embed")
        %i.picon-code
      .tooltip-code.tooltip(ng-show="embed")
        .input-prepend.clearfix
          %span.add-on
            %i.picon-code-white
          %input(type="text" value="{{project.embedCode()}}" focus-me="embed" ng-blur="embed = false")
    %project-files(project="project" sync="sync") 