:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
%div
  .widget-buttons
    %a.remove{href: "#"}(ng-click="removeWidget({{widget.id}})" prevent-default)
      %i.icon-remove
  .wg-content-wrapper
    %a.twitter-timeline{ :href=>"{{widget.url}}", :class=>"twitter-share-button", "data-lang"=>"en" } Tweet