@import "compass/css3";

section[role=account] {
	.errors {
		color: darkred;
		margin: 0 0 24px 0;
		text-align: center;
	}
	.billing-modal {
		width: 690px;
		margin-left: -345px;
		border: 1px solid #fff;
		@include border-radius(5px);

		.popup {
			position: relative;
			display: inline-block;

			.popup-creditcard {
				display: none;
				position: absolute;
				bottom: -63px;
				left: 47px;
				width: 270px;
				padding: 20px;
				background: #5178c3;
				z-index: 5;
				@include border-radius(5px);

				&:after {
					content: " ";
					display: block;
					position: absolute;
					bottom: 65px;
					left: -10px;
					border-right: 10px solid #5178c3;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
				}

				h6 {
					margin-top: 0;
					color: #fff;
					line-height: 20px;
				}

				p {
					font-size: 12px;
					color: #97b9ed;
				}
			}
		}

		.modal-header {
			padding: 23px 0;
			background: #537abf;
			@include background(linear-gradient(top, #5a86c6, #496db7));
			@include border-top-radius(5px);

			h4 {
				margin: 0 0 14px 0;
				font-size: 20px;
				color: #fff;
			}

			h5 {
				margin: 0;
				font-size: 16px;
				font-weight: normal;
				color: #b2cdff;
			}
		}

		.modal-body {
			padding: 25px;
			text-align: left;

			&.no-padding {
				padding: 0;
			}

			form {
				margin-bottom: 0;
			}

			.details {
				position: relative;
				width: 270px;
				padding: 20px;
				color: #929292;
				border: 1px solid #d1d1d1;
				@include border-radius(4px);

				.arrow {
					position: absolute;
					top: 18px;
					right: -11px;
				}

				p {
					font-size: 15px;
				}

				ul.itens {
					margin: 0;
					list-style: none;

					li {
						margin-bottom: 5px;
						color: #666666;
						font-size: 12px;

						[class^="icon"] {
							margin-right: 8px;
							font-size: 14px;
							color: #64bb58;
						}
					}
				}

				ul.price {
					margin: 15px 0 10px 0;
					list-style: none;
					color: #90b9eb;

					li {
						display: inline-block;
						vertical-align: top;
						font-size: 18px;

						.value {
							margin: 0;
							font-size: 35px;
							line-height: 40px;
							font-weight: bold;
							color: #2e68d3;
						}

						.cents {
							display: block;
							text-align: left;
							font-weight: bold;
							font-size: 16px;
							color: #2e68d3;
						}

						.month {
							display: block;
							line-height: 0;
							font-size: 13px;
						}
					}
				}

				.input-append {
					padding: 2px;
					border: 1px solid #345e92;
					@include border-radius(4px);

					input[type=text] {
						width: 145px;
						border: none;
					}
				}

				&.addons {
					.image {
						width: 90px;
						margin-right: 10px;
					}

					h5 {
						margin: 0;
						width: 125px;
					}

					.price {
						margin: 10px 0 0 0;
						color: #bebebe;

						.value, .cents, .month {
							color: #545454;
						}
					}

					.charge {
						margin-top: 5px;
						font-size: 13px;
						color: #707070;
					}

					.quantity {
						list-style: none;
						margin: 0 -20px 15px;
						padding: 13px 0px;
						background: #f0f0f0;
						text-align: center;

						> li {
							display: inline-block;
							vertical-align: middle;
							margin-left: 10px;

							&:first-child { 
								margin-left: 0;

								span {
									color: #545454;
								}
							}
						}

						.input-append {
							background: #fff;
						}

						.price {
							margin-top: 0;
							color: #7a9fe9;

							.value {
								color: #4a6db8;
							}

							.cents {
								color: #7a9fe9;
							}
						}
					}
				}
			}

			.form-billing {
				width: 340px;
				background: url(/assets/water-mark-satisfaction.png) no-repeat 230px 100px transparent;

				&.no-background {
					background: none;
				}

				&.payment-method {
					width: auto;

					input[name='card[name]'], input[name='card[number]'] {
						width: 340px;
					}

					.terms-conditions {
						li {
							vertical-align: middle;

							&:last-child {
								margin-left: 0;

								a {
									line-height: 34px;

									&:hover {
										text-decoration: underline;
									}
								}
							}
						}

						.prettycheckbox {
							label {
								font-weight: normal;
							}
						}
					}

					.you_sure {
						display: inline-block;
						margin-left: 10px;
						font-size: 12px;
						color: #949494;
					}
				}

				.current-card {
					p {
						color: #333333;
						margin-bottom: 5px;
					}

					h5 {
						color: #666666;
						margin-bottom: 40px;
					}
				}

				.confirmation {
					display: none;
					background: #fff;

					h5 {
						color: #666666;
						margin: 0;
					}

					p {
						font-size: 13px;
						margin: 70px 0 0 0;
						color: #000;
					}

					a {
						font-size: 13px;
					}

					.back-form {
						display: block;
						margin: 5px 0 80px 0;
					}

					&.downgrade {
						display: block;

						h5 {
							margin-bottom: 80px;
						}
					}
				}

				h5 {
					font-size: 16px;
					line-height: 24px;
					margin-top: 0;
				}

				ul.card-flags {
					list-style: none;
					margin-bottom: 5px;

					li {
						display: inline-block;
						margin-right: 6px;
					}
				}

				input[type=text] {
					height: 39px;
					border: 1px solid #345e92;
					box-shadow: none;
				}

				input[name=billing_zip] {
					display: inline-block;
					width: 150px;
					margin-right: 11px;
					margin-bottom: 15px;
				}

				input[name=ccv] {
					display: inline-block;
					width: 80px;
					margin-bottom: 15px;
				}

				.help {
					display: inline-block;
					width: 26px;
					height: 26px;
					padding-top: 6px;
					margin-left: 10px;
					font-size: 12px;
					font-weight: bold;
					color: #666666;
					text-align: center;
					vertical-align: middle;
					border: 1px solid #d3d3d3;
					background: #f7f7f7;
					@include border-radius(13px);
				}

				.button {
					height: auto;
					font-size: 13px;
				}
			}
		}

		.payment-history {
			table {
				width: 100%;
				margin: 0;
				border-collapse: collapse;
				border: none;

				tr {
					height: 60px;

					th:nth-child(2) {
						width: 270px;	
					}
					th:nth-child(3) {
						width: 120px;
					}
					&.hidden {
						display: none;
					}
				}

				thead tr {
					background: #e3e3e3;

					th {
						color: #666666;
						font-size: 16px;
					}
				}

				tbody {
					tr {
						border-top: 1px solid #fff;

						&:nth-child(odd) {
							background: #f4f4f4;
							border-bottom: 1px solid #eaeaea;
						}
						&:nth-child(even) {
							background: #fcfcfc;
						}
					}

					td {
						color: #818181;
						vertical-align: middle;
						font-size: 16px;

						&:nth-child(1) {
							color: #5076bc;
						}
					}
				}
			}

			.download {
				padding: 20px 0;

				a {
					color: #a5a5a5;
					font-size: 15px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	#account {

		.box-menu {

			ul.left-menu {
				width: 20.8%;
				margin-top: 30px;
				float: left;
				list-style: none;
				border: 1px solid #2e5a9c;
				@include border-radius(4px);

				> li {
					background: image-url('sidebar-texture.png') repeat 0 0 transparent;
					@include box-shadow(inset 0px 1px 1px #599bda);
					border-bottom: 1px solid #376dbe;

					&:last-child {
						border-bottom: none;
					}

					&.actived {
						background: #2e5a9c;
						@include box-shadow(inset 0 8px 8px -8px #16325f, inset  0 -8px 8px -8px #16325f);
					}

					> a {
						display: block;
						padding: 15px;
						font-weight: bold;
						color: #fff;

						[class^="picon"] {
							margin-right: 5px;
						}
					}
				}
			}

			.right-content {
				width: 79.2%;
				float: left;
				margin-left: -2px;
				background: #fff;
				@include border-radius(5px);
				@include box-shadow(#444 -3px 2px 10px);

				.header {
					padding: 25px 20px;
					margin-bottom: 50px;
					border-bottom: 1px solid #e5e5e5;
					@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));
					@include border-top-radius(5px);

					ul {
						list-style: none;
						margin: 0;

						li {
							display: inline-block;
							margin-right: 40px;
							vertical-align: middle;

							a {
								color: inherit;

								&:hover {
									text-decoration: underline;
								}
							}
						}
					}

					h3 {
						font-size: 30px;
						font-weight: normal;
						margin: 0;
						color: #666666;

						img {
							vertical-align: middle;
							display: inline-block;
						}
					}

					.help {
						display: block;
						width: 24px;
						height: 24px;
						padding-top: 4px;
						background: #f0f0f0;
						border: 1px solid #d5d5d5;
						text-align: center;
						color: #666666;
						@include border-radius(12px);
					}
				}
			}

			.body {
				.inline-list {
					margin: 0;
				}

				p {
					margin-bottom: 5px;
				}

				input[type=submit] {
					margin-top: 20px;
				}

				.image {
					padding: 5px;
					border: 1px solid #2f5b9e;
					@include border-radius(4px);
					@include background(linear-gradient(top, #4c87d3, #2f64bf));
					@include box-shadow(inset 0px 1px 2px #83ace1, #b4b4b4 0px 2px 4px);
					width: 115px;
					height: 115px;
					margin: 0 auto;

					> img {
						border: 1px solid #3763a7;
						width: 100%;
						height: 100%;
					}
				}

				.usage {
					padding: 30px 40px;
					margin: -50px 0 40px 0;
					background: #f6f6f6;
					border-top: 1px solid #ebebeb;
					border-bottom: 1px solid #ebebeb;
					@include box-shadow(inset 0 8px 10px -6px #ebebeb, inset 0 -8px 10px -6px #ebebeb);

					a {
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
					}

					.progress {
						display: inline-block;
						width: 595px;
						margin-bottom: -2px;
					}

					.percent {
						padding: 4px 6px;
						margin-left: 10px;
						color: #fff;
						font-size: 12px;
						background: #474747;
						@include border-radius(4px);

						&:before {
							content: "";
							display: inline-block;
							margin: 0 6px 0 -11px;
							border-top: 5px solid transparent;
							border-bottom: 5px solid transparent;
							border-right: 5px solid #474747;
						}
					}

					.earn-embeds {
						margin-top: 15px;
						font-size: 12px;
					}
				}

				.user-info {
					padding-left: 50px;
					margin-bottom: 40px;

					.passwords {
						margin: 40px 0 10px 0;
					}

					.upload-photo {
						margin: 25px 0 0 25px;
					}

					.button.gray {
						box-shadow: none;
						margin-top: 9px;
					}

					.formats {
						color: #999999;
						font-size: 12px;
					}
					.inline {
						width: 41%;
					}
				}

				&.team {
					background: none;

					.members {
						margin-left: 25px;

						li {
							text-align: center;
							margin: 0px 30px 50px 30px;

							.image {
								position: relative;

								.overlay {
									display: none;
									position: absolute;
									width: 103px;
									height: 103px;
									background: url('/assets/bg-overlay.png') repeat 0 0 transparent;

									a {
										&.close {
											position: absolute;
											top: 10px;
											right: 10px;
										}
									}
								}

								.add {
									display: block;
									width: 103px;
									height: 103px;
									padding-top: 37px;
									border: 1px solid #1d375d;
									background: #2a4c7c;
								}
							}

							> a {
								margin-top: 10px;
							}
						}
					}

					.invite {
						display: none;
						padding: 40px 80px;
						margin-bottom: 40px;
						text-align: center;
						background: #f6f6f6;
						border-top: 1px solid #ebebeb;
						border-bottom: 1px solid #ebebeb;
						@include box-shadow(inset 0 8px 10px -6px #ebebeb, inset 0 -8px 10px -6px #ebebeb);

						h4 {
							font-size: 20px;
							margin: 0 0 30px 0;
						}

						form {
				      margin: 0;

				      textarea {
				        border: 1px solid #929292;
				        padding: 15px;
				      }
				    }
					}
					.folders-list {
						margin: 20px auto;
						width: 80%;
					}
				}

				&.connections {
					.csns {
						margin-left: 7px;

						li {
							width: 190px;
							height: 120px;
							margin: 0 28px 55px 28px;
							border: 1px solid #c4c4c4;
							@include border-radius(4px);
							background: #eeeeee;
							color: #c3c3c3;
							text-align: center;
							font-weight: bold;

							.csn {
								height: 85px;
								position: relative;

								.icon {
									position: absolute;
									width: 100%;
									text-align: center;
									top: 35px;
									left: 0px;
								}

								.actions {
									padding-top: 10px;
									text-align: right;

									a {
										margin-right: 10px;
									}
								}

								.add {
									display: block;
									width: 100%;
									height: 100%;
									padding-top: 40px;
								}
							}

							&.add {
								background: #fff;
								color: #52ac47;
							}
						}
					}

					.add-account {
						padding: 40px 80px;
						margin-bottom: 40px;
						text-align: center;
						background: #f6f6f6;
						border-top: 1px solid #ebebeb;
						border-bottom: 1px solid #ebebeb;
						@include box-shadow(inset 0 8px 10px -6px #ebebeb, inset 0 -8px 10px -6px #ebebeb);

						h4 {
							font-size: 20px;
							margin: 0 0 30px 0;
						}

						form {
							.input {
								text-align: left;
							}
						}
					}
				}

				&.billing {
					h4 {
						font-size: 20px;
					}

					ul.price {
						margin: 30px 0 0 0;
						list-style: none;

						li {
							display: inline-block;
							vertical-align: top;
							font-size: 18px;

							.value {
								margin: 0;
								font-size: 35px;
								line-height: 40px;
								font-weight: bold;
							}

							.cents {
								display: block;
								text-align: left;
								font-weight: bold;
								font-size: 16px;
							}

							.month {
								display: block;
								line-height: 0;
								font-size: 13px;
							}
						}
					}

					.plans {
						margin: 40px auto 40px auto;
						width: 700px;

						.plan {
							position: relative;
							width: 232px;
							text-align: center;
							color: #666666;
							margin: 15px 1px 0 0;
							z-index: 10;
							ul.price {
								margin: 0;
								position: absolute;
								bottom: 90px;
								left: 0;
								right: 0;
							}
							
							.flag-popular {
								position: absolute;
								top: -5px;
								left: -5px;
							}

							.plan-header {
								@include border-top-radius(4px);
								padding: 20px 0 15px 0;
								font-size: 15px;

								h5 {
									color: #fff;
									margin: 0 0 5px 0;
								}

								p {
									margin: 0;
								}
							}

							.plan-body {
								padding: 25px 10px 20px 10px;
								height: 200px;
								
								p {
									font-size: 12px;
								}

								.value {
									margin: 35px 0 0 0;
									font-size: 20px;
									font-weight: bold;
								}
							}

							.plan-footer {
								text-align: center;
								background: #e4e4e4;
								padding: 15px;
								border-bottom: 1px solid #d2d2d2;
								@include border-bottom-radius(4px);
								@include box-shadow(inset 0px 3px 3px #d7d7d7);

								.button {
									width: 130px;
									height: auto;
									padding: 10px 0;
									margin-bottom: 10px;
									font-size: 12px;
								}

								.details {
									display: block;
									color: #515151;
									font-size: 12px;
									font-weight: bold;
								}
							}

							&.plan-free2free2free {
								.plan-header {
									background: url('/assets/bg-plan-1.jpg') repeat 0 0 transparent;

									p {
										color: #999999;
									}
								}

								.plan-body {
									background: url('/assets/arrow-plan-1.png') no-repeat top center #efefef;
								}

								.value {
									color: #444444;
								}
								
								.button {
									border: 1px solid #545454;
									background: #7a7a7a;
									@include background(linear-gradient(top, #7a7a7a, #545454));
									@include box-shadow(inset 0px 1px 0px #9d9d9d);
								}
							}

							&.plan-starter {
								.plan-header {
									background: url('/assets/bg-plan-2.jpg') repeat 0 0 transparent;

									p {
										color: #d5f294;
									}
								}

								.plan-body {
									background: url('/assets/arrow-plan-2.png') no-repeat top center #efefef;
								}

								ul {
									color: #a4bf6c;
								}

								.cents {
									color: #7c9942;
								}

								.value {
									color: #7c9942;
									font-size: 35px;
									line-height: 40px;
								}
								
								.button {
									border: 1px solid #749544;
									background: #94b15b;
									@include background(linear-gradient(top, #94b15b, #70953d));
									@include box-shadow(inset 0px 1px 0px #b0c687);
								}
							}

							&.plan-unlimited {
								.plan-header {
									background: url('/assets/bg-plan-3.jpg') repeat 0 0 transparent;

									p {
										color: #ffd89a;
									}
								}

								.plan-body {
									background: url('/assets/arrow-plan-3.png') no-repeat top center #efefef;
								}

								ul {
									color: #eeb08d;
								}

								.cents {
									color: #f46f37;
								}

								.value {
									color: #f46f37;
									font-size: 35px;
									line-height: 40px;
								}
								
								.button {
									border: 1px solid #f05f34;
									background: #f57a3c;
									@include background(linear-gradient(top, #f57a3c, #f15428));
									@include box-shadow(inset 0px 1px 0px #f89d71);
								}
							}

							&.plan4 {
								.plan-header {
									background: url('/assets/bg-plan-4.jpg') repeat 0 0 transparent;

									p {
										color: #89bffd;
									}
								}

								.plan-body {
									background: url('/assets/arrow-plan-4.png') no-repeat top center #efefef;
								}

								ul {
									color: #90baec;
								}

								.cents {
									color: #2e68d3;
								}

								.value {
									color: #2e68d3;
									font-size: 35px;
									line-height: 40px;
								}
								
								.button {
									border: 1px solid #3664bd;
									background: #4088de;
									@include background(linear-gradient(top, #4088de, #2b61d0));
									@include box-shadow(inset 0px 1px 0px #74a7e7);
								}
							}

							&.bigger {
								width: 190px;
								margin: 0 -5px;
								z-index: 11;
								@include box-shadow(8px 0px 5px -2px rgba(0, 0, 0, 0.1), -8px 0px 5px -2px rgba(0, 0, 0, 0.1));
								@include border-radius(4px);

								.plan-header {
									padding: 25px 0;
								}

								.plan-body {
									background: #fff;
								}

								.plan-footer {
									padding: 20px 15px;
								}
							}
						}
					}

					.pay-as-you-go {
						margin-left: 30px;

						h4 {
							font-weight: normal;
							margin: 0 0 20px 0;
						}

						p {
							margin-bottom: 3px;
							font-size: 12px;
						}

						.description {
							margin-bottom: 30px;
						}

						.price-box {
							margin: 8px 0 0 40px;
							color: #999999;
						}

						ul.price {
							margin: 0 0 -5px 0;

							.value, .cents {
								color: #444444;
							}
						}

						.button {
							width: 130px;
							height: auto;
							padding: 10px 0;
							margin-bottom: 10px;
							font-size: 12px;
							border: 1px solid #545454;
							background: #7a7a7a;
							@include background(linear-gradient(top, #7a7a7a, #545454));
							@include box-shadow(inset 0px 1px 0px #9d9d9d);
						}

						.details {
							display: inline-block;
							margin-left: 15px;
							color: #515151;
							font-size: 12px;
							font-weight: bold;
						}
					}

					.doubts {
						width: 390px;
						margin-left: 30px;

						.balloon {
							position: relative;
							padding: 20px;
							background: #fff9dd;
							border: 1px solid #e8dead;
							color: #333333;
							@include border-radius(5px);

							p {
								margin: 0;
							}

							.arrow {
								position: absolute;
								bottom: -23px;
								left: 90px;
							}
						}

						.logo {
							margin: 20px 35px -13px 120px;
						}

						.button {
							width: 130px;
							height: auto;
							padding: 10px 0;
							margin-bottom: 10px;
							color: #666666;
							font-size: 12px;
							border: 1px solid #a9a9a9;
							background: #ededed;
							@include box-shadow(inset 0px 1px 0px #f2f2f2);
						}
					}

					.highlight {
						margin-top: 30px;
						padding: 26px 0;
						background: none;
						border-top: 1px solid #f5f5f5;
						border-bottom: 1px solid #f5f5f5;
						@include box-shadow(inset 0 8px 12px -8px #f5f5f5, inset  0 -8px 12px -8px #f5f5f5);

						h4 {
							margin: 0 0 10px 0;
						}

						p {
							margin: 0;
						}
					}

					.addons {
						.addon {
							width: 33.33%;
							padding: 40px 0 30px 0;
							background: url(/assets/bg-dotted-line.png) repeat-y right top transparent;

							&:last-child {
								background: none;
							}

							.price {
								margin: 0;

								li:first-child {
									color: #bebebe;
								}
							}

							.button {
								height: auto;
								padding-top: 12px 20px;
								margin-top: 10px;
								font-size: 12px;
							}

							.more {
								display: block;
								margin-top: 15px;
								font-size: 12px;
								color: #515151;
							}
						}
					}

					&.columns-2 {
						.pay-as-you-go {
							margin-left: 15px;
							margin-top: 15px;

							.description {
								margin-bottom: 25px;
							}
						}

						.doubts {
							width: 345px;
							margin-left: 15px;
							margin-top: 20px;

							.balloon {
								.arrow {
									left: 40px;
								}
							}

							.logo {
								margin: 20px 35px -13px 75px;
							}
						}
					}

					&.columns-3 {
						.plan {
							width: 240px;
						}
					}
				}
			}
		}
	}
}

@media(max-width: 980px) {
	section[role=account] #account .box-menu .body .usage .progress {
		width: 85%;
	}

	section[role=account] #account .box-menu .body .user-info {
		padding-right: 50px;

		.inline {
			width: auto;
			float: none;
		}

		.upload-photo {
			margin-left: 0px;

			li:first-child {
				margin-left: 0;
			}
		}
	}
}
