@import "compass/css3";

#add-service {
	color: #fff;

	h5 {
		font-size: 18px;
		font-weight: normal;
		line-height: 30px;
		color: inherit;
		margin: 0;
	}

	.modal-header {
		position: relative;
		background: #4981ca;
		padding: 15px 0;

		.close-reveal-modal, .close-modal {
			position: absolute;
			display: block;
			top: 14px;
			right: 20px;
			border: 1px solid #254165;
			@include background(linear-gradient(top, #4980c9, #3a67a1));
		}
	}

	.modal-body {
		padding: 60px 0;
		background: #3e6ba8;
		border-top: 1px solid #28476f;
		@include box-shadow(inset 0px 1px 2px #2f5180);

		h5 {
			margin-bottom: 35px;
			font-weight: bold;

			.big {
				font-size: 23px;
			}
		}

		.providers {
			list-style: none;

			li {
				display: inline-block;

				a {
					position: relative;
					display: block;
					width: 190px;
					padding: 40px 0 18px 0;
					margin: 0 20px;
					background: #5fb754;
					color: inherit;
					@include box-shadow(1px 3px 2px #2c5593);
					@include border-radius(2px);

					p {
						margin: 12px 0 0 0;
						font-weight: bold;
					}

					&:hover, &.selected {
						background-image: url('/assets/icon-check.png');
						background-position: 160px 10px;
						background-repeat: no-repeat;
					}
				}
			}
		}

		form {
			width: 350px;
			margin: 40px auto 0 auto;
			text-align: left;

			label {
				color: #fff;
				margin: 20px 0 10px 0;
			}

			input[type=text] {
				height: auto;
				padding: 10px;
				border: 1px solid #345e92;
				box-shadow: none;
				@include border-radius(2px);
			}

			button {
				margin-top: 18px;
				padding: 15px 20px;
				height: auto;
			}
		}
	}
}

section[role=dashboard] {
	
	#dashboard {

		.eight {
			width: 70.4%;
		}

		.four {
			width: 29.6%;
		}

		.box {
			background: #fff;
		}

		.updates {
			margin-top: 20px;

			.date {
				color: #999999;

				b {
					color: #666666;
				}
			}
		}

		.steps {
			background: #cfd6df;
			font-size: 15px;
			@include border-radius(4px);

			.col1 {
				width: 275px;
				padding: 40px 30px 0 30px;
				font-size: 15px;
				color: #494949;

				h3 {
					font-size: 25px;
					margin: 0 0 10px 0;
					color: inherit;
				}

				p {
					font-size: inherit;
					color: inherit;
				}
			}

			.col2 {
				position: relative;
				width: 675px;
				min-height: 120px;
				padding: 23px;
				background: #fff;
				border: 1px solid #345e92;
				@include border-radius(4px);

				.arrow {
					position: absolute;
					top: 20px;
					left: -1px;
				}

				ul.navigation {
					position: absolute;
					bottom: 10px;
					left: 150px;
					list-style: none;
					z-index: 99;

					li {
						display: inline-block;

						a {
							display: block;
							width: 8px;
							height: 8px;
							background: #cfcfcf;
							border: 1px solid #fff;
							@include border-radius(4px);

							&.active {
								background: #508dcb;
								border: 1px solid #3761b7;
							}
						}
					}
				}

				.step {
					display: none;

					h4 {
						color: #416ea7;
						font-size: 16px;
						margin: 0 0 12px 0;

						[class^="picon"] {
							margin-right: 10px;
						}
					}

					p {
						min-height: 44px;
						margin-bottom: 10px;
						color: #666666;
					}

					.more {
						border: 1px solid #31496b;
						background: #4c88d3;
						@include background(linear-gradient(top, #4c88d3, #3462c1));
						@include box-shadow(inset 0px 1px 0px #7ca7df);
					}

					&.active {
						display: block;
					}
				}
			}
		}

		.projects {
			.header {
				padding-left: 0;

				ul.menu {
					list-style: none;
					height: 100%;

					li {
						position: relative;
						display: inline-block;
						height: 100%;
						border-right: 1px solid #345e92;
						vertical-align: top;

						a {
							position: relative;
							display: inline-block;
							margin: 13px 15px 0 15px;
							color: #fff;
							font-weight: bold;

							[class^="icon-"] {
								margin-right: 5px;
							}
						}

						&.active {
							a {
								bottom: 4px;
								padding: 7px 15px 20px 15px;
								background: #fff;
								color: #345e92;
								@include border-top-radius(4px);
							}
						}
					}
				}
			}

			.body {
				padding: 20px;
			}

			.box-tab {
				display: none;

				&.active {
					display: block;
				}
			}

			ul.list {
				list-style: none;

				li.project {
					margin: 10px;
					border: 1px solid #e9e9e9;
					@include border-radius(5px);
					@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));

					&:hover {
						border-color: #9c9c9c;
						background: none;
					}

					ul.content {
						list-style: none;
						margin: 0;
						height: 100%;

						> li {
							display: inline-block;
							float: left;
							vertical-align: top;
							height: 100%;
						}

						.info {
							width: auto !important;
							padding: 7px 0 0 15px;

							.name {
								margin-right: 8px;
								color: #000;
								font-weight: bold;
							}

							.date {
								display: block;
								font-size: 12px;
								color: #9f9f9f;
							}
						}

						.files {
							min-height: 60px;
							position: relative;
							padding: 17px 20px 0 10px;
							margin-right: 10px;
							float: right;
							border-right: 1px solid #dfdfdf;
							@include box-shadow(#fff 1px 0px 1px);

							a {
								color: #666666;
							}
						}

						.actions {
							position: relative;
							padding-top: 17px;
							float: right;

							> a {
								display: inline-block;
								padding: 0 10px;
							}
						}

						[class^="tooltip-"] {
							display: block;
							position: absolute;
							top: 15px;
							left: 50%;
							z-index: 20;
							background: none;
							text-align: center;
							font-size: 12px;
						}

						.tooltip-files {
							width: 224px;
							top: 45px;
							left: -92px;
							padding: 0;

							.arrow {
								display: block;
								margin-left: 106px;
							}

							ul {
								list-style: none;
								margin: 0;
								background: #272727;
								padding: 3px;
								@include border-radius(4px);

								li {
									padding: 3px;

									a {
										display: block;
										color: #bfbfbf;
										padding: 6px 25px 6px 6px;
										text-align: left;
										font-size: 11px;
										@include border-radius(4px);

										&:hover {
											color: #fff;
											background: url(project-folder-dropdown-arrow-right.png) no-repeat 195px center #3c3c3c;
										}
									}
								}
							}
						}

						.tooltip-code {
							width: 390px;
							top: 5px;
							left: -225px;

							span {
								padding: 10px;
								background: #4d89d6;
								border-color: #4d89d6;
							}

							input {
								width: 335px;
								margin: 0;
								padding: 10px 6px;
								height: auto;
								border-color: #4d89d6;
								box-shadow: none;
							}
						}

						.tooltip-tag {
							top: 35px;
							text-align: left;
							width: 212px;
							margin-left: -188px;

							span {
								display: block;
								padding: 7px 9px;
								@include border-radius(4px);
								color: #fff;
								margin-top: -4px;
								background: #4c87d3;
								border: 1px solid #3563a1;
							}

							.arrow {
								margin-left: 177px;
							}

							.input-append {
								input {
									height: 25px;
								}
								button {
									height: 25px;
									padding-top: 5px;
									padding-right: 5px;
								}
							}

							.tags {
								.tag {
									position: relative;
									display: inline-block;
									color: #fff;
									font-size: 13px;
									margin: 5px 2px 0 2px;

									//a {
									//	display: none;
									//	position: absolute;
									//	top: 0;
									//	right: -20px;
									//	z-index: 10;
									//}
								}
							}
						}
					}
				}
			}
		}

		.overview	{
			.body {
				padding: 0;
			}
		}

		.usage {
			padding: 20px;
			background: #f6f6f6;
			border-bottom: 1px solid #e4e4e4;
			@include box-shadow(inset 0px 5px 4px -4px #5a5a5a);

			.progress {
				position: relative;
				margin-bottom: 15px;
			}

			.percent {
				position: absolute;
				top: -4px;
				padding: 4px 6px;
				color: #fff;
				font-size: 12px;
				background: #474747;
				@include border-radius(4px);

				&.to-left {
					margin-left: 10px;

					&:before {
						content: "";
						display: inline-block;
						margin: 1px 6px 0 -11px;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-right: 5px solid #474747;
					}
				}

				&.to-right {
					margin-left: -70px;

					&:after {
						content: "";
						display: inline-block;
						margin: 1px -11px 0 6px;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 5px solid #474747;
					}
				}
			}

			.earn-embeds {
				font-size: 12px;

				a {
					color: #666666;
				}
			}
		}

		.current-plan {
			padding: 30px 20px 25px 20px;

			h4 {
				margin: 10px 0 30px 0;
				color: #49ab3d;
				font-size: 24px;
			}

			ul {
				margin: 0 0 20px 0;
				list-style: none;
			}

			.button {
				height: auto;
				margin-bottom: 10px;
				font-size: 12px;
				border: 1px solid #f26136;
				background: #f57a3c;
				@include background(linear-gradient(top, #f57a3c, #f26136));
				@include box-shadow(inset 0px 1px 0px #f89d71);
			}
		}

		.details {
			display: block;
			font-size: 12px;
			font-weight: bold;
			color: #515151;
		}
	}
}

@media(max-width: 980px) {
	section[role=dashboard] #dashboard .steps .col1 {
		width: 37%;
		padding-top: 20px;
	}

	section[role=dashboard] #dashboard .steps .col2 {
		width: 63%;
	}

	section[role=dashboard] #dashboard .columns {
		float: none;
		width: 100%;
	}

	section[role=dashboard] #dashboard .current-plan {
		text-align: center;
	}	
}