@import "compass/css3";
section[role=dropzone] {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #254267;
	background: #2c4d79;
	z-index: 99;

	.tab-dropzone {
		position: absolute;
		top: -30px;
		left: 10px;
		width: 85px;
		height: 30px;
		background: url('/assets/caret.png') no-repeat 60px 10px #2c4d79;
		border: 1px solid #1e3856;
		font-weight: bold;
		color: #dbdbdb;
		padding: 8px 0 0 10px;
		@include border-top-radius(3px);
		@include box-shadow(inset 0px 1px 1px #3b5c86);
		cursor: pointer;

		&.caret-up {
			background-image: url('/assets/caret-up.png');
		}
	}

	.dropzone {
		padding: 15px 10px;

		.upload-box {
			position: relative;
			@include border-radius(5px);
			border: 2px dashed #c6cfdb;
			padding: 10px;
			height: 55px;

			.upload-action {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				cursor: pointer;
				margin: 0;
			}

			.upload-icon {
				margin-bottom: -5px;
			}

			span {
				vertical-align: middle;
			}

			.button	{
				padding: 10px 7px;
				font-size: 12px;
				@include box-shadow(#264268 0px 1px 3px);

				&.pc {
					margin: 0 5px;
				}

				&.csn {
					position: relative;
					z-index: 2;
				}
			}	

			.upload-queue {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 3;
				width: 400px;
				padding: 18px 10px;
				font-size: 11px;
				font-weight: bold;

				.progress {
					width: 160px;
					display: inline-block;
					margin: 0 0 -4px 5px;
					@include box-shadow(inset 0px 0px 3px #1a2d47, #3c5d87 0px 1px 1px);
					background: #28456d;
					border: none;

					.meter {
						@include box-shadow(inset 0px 1px 1px #89c581, #3c5d87 0px 1px 6px);
					}
				}

				[class^=picon-] {
					margin-left: 20px;
				}
			}
		}
	}
}