@import "compass/css3";
@import "compass/utilities/general/clearfix";
section[role=my-projects] {
	#my-projects {
		&.outside {
			.folder {
				position: relative;
				width: 224px;
				height: 198px;
				margin: 0 auto;

				.back {
					width: 100%;
					height: 100%;
					background: url(project-folder.png) no-repeat 0 0 transparent;

					.papers {
						width: 100%;
						height: 100%;
						background: url(project-folder.png) no-repeat 0 -669px transparent;
						@include transition(all 0.25s);


						.front {
							width: 100%;
							height: 100%;
							background: url(project-folder.png) no-repeat 0 -228px transparent;

							.content {
								padding: 45px 20px 0 20px;

								.title {
									display: block;
									height: 100px;
									color: #fff;
									font-size: 12px;

									&:hover {
										background: url(project-folder-arrow.png) no-repeat right 10px transparent;
									}

									h2 {
										font-size: 25px;
										color: inherit;
										margin: 0;
									}
								}

								.btn-audio, .btn-video {
									background: #295da0;
									padding: 10px;
									color: #fff;
									@include box-shadow(inset 0px 2px 3px #234e87, #4c8ed7 0px 1px 1px);
									@include border-radius(4px);

									&:hover, &.selected {
										color: #000;
										background: #fff;
										box-shadow: none;
									}
								}

								.btn-audio {
									&:hover, &.selected {
										[class^="picon"] {
		                  background-position: -52px -156px;
		                }
									}
								}

								.btn-video {
									&:hover, &.selected {
										[class^="picon"] {
		                  background-position: -52px -208px;
		                }
									}
								}

								.lists {
									display: none;
									position: absolute;
									top: 180px;
									left: 0;
									width: 100%;
									z-index: 10;

									.arrow {
										position: relative;
										width: 13px;
										height: 7px;
										background: url(project-folder-dropdown-arrow-up.png) no-repeat 0 0 transparent;
									}

									> ul {
										list-style: none;
										margin: 0;
										border: 1px solid #2e5a9c;
										@include border-radius(2px);

										 > li {
											> a {
												display: block;
												font-size: 12px;
												padding: 15px;
												background: #f6f6f6;
												color: #000;
												border-bottom: 1px solid #e2e2e2;

												.count {
													color: #b0b0b0;
												}

												div {
													font-size: inherit;
												}

												&:hover, &.selected {
													background: #ededed;
													color: #195eb5;

													.count {
														color: #000;
													}
												}
											}

											&:first-child {
												a {
													@include border-top-radius(2px);
												}
											}

											&:last-child {
												a {
													border-bottom: none;
													@include border-bottom-radius(2px);
												}
											}

											.files {
												display: none;

												.actions {
													background: #171717;

													&:before {
														content: "";
														display: block;
														width: 0;
														height: 0;
														margin: -1px 0 0 16px;
														border-right: 6px solid transparent;
														border-left: 6px solid transparent;
														border-top: 5px solid #ededed;
													}

													a {
														display: inline-block;
														padding: 8px 12px 8px 13px;
													}
												}

												ul {
													width: 100%;
													list-style: none;
													margin: 0;
													background: #272727;
													padding: 3px;

													li {
														padding: 3px;

														a {
															display: block;
															color: #bfbfbf;
															padding: 6px 25px 6px 6px;
															font-size: 11px;
															@include border-radius(4px);

															&:hover {
																color: #fff;
																background: url(project-folder-dropdown-arrow-right.png) no-repeat 195px center #3c3c3c;
															}
														}
													}
												}
											}
										}
									}
								}

								.list-audio {
									.arrow {
										margin: 0 0 -1px 60px;
									}
								}

								.list-video {
									.arrow {
										margin: 0 0 -1px 150px;
									}
								}
							}
						}
					}
				}

				&:hover {
					.papers {
						background-position: 0 -684px;

						.front {
							background-position: 0 -456px;
						}
					}
				}
			}

			.add-folder {
				margin-top: 40px;
				height: 37px;
			}
		}

		&.inside {
			.folder-default {
				background: image-url("tree-folder-default.png");
				width: 38px;
				height: 28px;
			}

			.folders {
				width: 20.8%;
				background: #2e5a9c;
				border: 1px solid #2e5a9c;
				@include border-radius(4px);

				.new-project {
          padding: 12px;
					background: image-url('sidebar-texture.png') repeat 0 0 transparent;
					@include box-shadow(inset 0px 1px 1px #599bda);
					@include border-top-radius(4px);

					.button {
            margin: 0;
          } 
          
          .add-project {
            width: 140px;
            @include border-right-radius(0px);
          }

          .show-projects {
            padding-right: 10px;
            padding-left: 10px;
            border-left: none;
            @include border-left-radius(0px);
            transition: none;

            &.open {
              background: #62b956;
              border-bottom: 1px solid #62b956;
              box-shadow: none;
              @include border-bottom-radius(0px);
            }

            .arrow {
              position: relative;
              top: -1px;
             }
          }

          .projects-list {
            display: block;
            position: absolute;
            left: 28px;
            width: 170px;
            border: 1px solid #3F7838;
            border-top: none;
            background: #62b956;
            z-index: 99;

            a {
              display: block;
              color: #fff;
              padding: 7px 15px;

              &:hover {
                background: #5aaa4f;
              }
              
              &.disabled, &.disabled:hover {
                background: #52a946;
                color: #ddd;
                cursor: not-allowed;
              }
						}
					}
				}

				ul {
					display: none;
					list-style: none;

					a {
						color: #b6d6ff;
					}
				}

				ul.main-csn {
					display: block;
					font-size: 3px;
					padding: 0 0 0 0;
					margin: 0;
					border-top: 1px solid #376dbe;
					background: url('sidebar-texture.png') repeat 0 0 transparent;
					@include box-shadow(inset 0px 1px 1px #599bda);

					&.transparent {
						background: transparent;
						@include box-shadow(inset 0 8px 8px -8px #16325f, inset  0 -8px 8px -8px #16325f);
            ul {
              display: block;
            }
					}

					&:last-child {
						@include border-bottom-radius(4px);
					}

					ul {
						margin-left: 0px;

						li {
							padding-left: 13px;
							background-image: url('tree-line-subfolder.png'), url('tree-line-subfolder-repeat.png');
							background-repeat: no-repeat, repeat-y;
							background-position: 0 0, 0 0;
							background-color: transparent, transparent;

							&:last-child {
								background-image: url('tree-line-subfolder-last.png');
							}
						}
					}

					> li {
						padding: 10px 13px 8px 13px;

					  &.transparent {
						  background: transparent;
						  @include box-shadow(inset 0 8px 8px -8px #16325f, inset  0 -8px 8px -8px #16325f);
				  	}

						> .folder {
							font-weight: bold;
							color: #fff;
              cursor: pointer;

							.count {
								font-weight: normal;
							}
						}
					}

					.file {
						display: none;
					}

					.folder {
						position: relative;
						display: block;
						padding-top: 3px;
            cursor: pointer;

						&.current {
							color: #fff;
						}

						.expand {
							display: inline-block;
							width: 11px;
							height: 11px;
							margin-top: 8px;
							@include background(url(tree-expand.png));
						}

						.minus {
							@include background(url(tree-contract.png));
						}

						.icon {
							display: inline-block;
							@include background(url(tree-folder.png));
							width: 16px;
							height: 14px;
							margin-left: 5px;
						}

						span {
							display: inline-block;
							margin-top: 2px;
						}

						.delete {
							display: none;
							position: absolute;
							right: 5px;
							top: 50%;
							margin-top: -8px;
							cursor: pointer;
						}
					}

					.main-folder {
						height: 32px;

						.expand {
							vertical-align: top;
						}

						span {
							margin-left: 10px;
						}
					}
				}
			}

			.folder-content {
				width: 79.2%;
				margin-left: -2px;
				background: #fff;
				@include border-radius(5px);
				@include box-shadow(#444 -3px 2px 10px);

				.box {
					margin-top: 0;

					&.projects {
						border: none;
						background: none;
						box-shadow: none;
					}

					.header {
						height: auto;
						color: #666666;
						padding: 20px;
						border-bottom: 1px solid #e5e5e5;
						@include border-top-radius(5px);
						@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));
						box-shadow: none;

						.button {
							padding: 7px 10px;
						}

						.type {
							padding-top: 17px;
							border-right: 1px solid #28476f;
							width: 53px;
							height: 100%;
						}

						ul {
							margin: 0;

							li {
								margin-left: 15px;

								i {
									display: inline-block;
								}
							}
						}

						.folder-default {
							margin-top: 5px;
						}

						.name {
							color: #3d68a8;
							font-size: 19px;
							line-height: 19px;
							font-weight: bold;
            }

						.count {
							color: #3d68a8;
							font-size: 13px;
						}
					}

					.body {
						padding: 10px;
					}
				}
			}

			.box {
				ul.list {
					list-style: none;

					.ui-highlight {
						margin: 10px;
						height: 60px;
						background: #f3f3f3;
					}

					li.project {
						height: 60px;
						margin: 10px;
						border: 1px solid #e9e9e9;
						@include border-radius(5px);
						@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));

						&:hover {
							border-color: #9c9c9c;
							background: white;
						}

						ul.content {
							list-style: none;
							margin: 0;
							height: 100%;

							> li {
								display: inline-block;
								float: left;
								vertical-align: top;
								height: 100%;
							}

							
							.info {
								padding-top: 7px;

								.name {
									margin-right: 8px;
									color: #000;
									font-weight: bold;
									cursor: pointer;
								}

								form {
									margin: 0;
									padding: 0;
									display: inline-block;

									input {
										display: inline-block;
										width: 200px;
										margin: 0;
										height: 20px;
										margin-right: 8px;
										color: #000;
										font-weight: bold;
									}
								}

								.date {
									display: block;
									font-size: 12px;
									color: #9f9f9f;
								}
							}

							.files {
								position: relative;
								padding: 17px 20px 0 10px;
								margin-right: 10px;
								float: right;
								border-right: 1px solid #dfdfdf;
								@include box-shadow(#fff 1px 0px 1px);

								a {
									color: #666666;
								}
							}

							.actions {
								position: relative;
								padding-top: 17px;
								float: right;

								> a {
									display: inline-block;
									padding: 0 10px;
								}
							}

							[class^="tooltip-"] {
								display: none;
								position: absolute;
								top: 15px;
								left: 50%;
								z-index: 20;
								background: none;
								text-align: center;
								font-size: 12px;
							}

							.tooltip-files {
                display: block;
								width: 224px;
								top: 45px;
								left: -92px;
								padding: 0;

								.arrow {
									display: block;
									margin-left: 106px;
								}

								ul {
									list-style: none;
									margin: 0;
									background: #272727;
									padding: 3px;
									@include border-radius(4px);

									li {
										padding: 3px;

										a {
											display: block;
											color: #bfbfbf;
											padding: 6px 25px 6px 6px;
											text-align: left;
											font-size: 11px;
											@include border-radius(4px);

											&:hover {
												color: #fff;
												background: url(project-folder-dropdown-arrow-right.png) no-repeat 195px center #3c3c3c;
											}
										}
									}
								}
							}

							.tooltip-code {
                display: block;
								width: 480px;
								top: 3px;
								left: -295px;
            
                .input-prepend {
                  border: 1px solid #4d89d6;
                  background: white;
									@include border-radius(4px);
                  
                  span {
                    padding: 10px;
                    background: #4d89d6;
                    border-color: #4d89d6;
									  @include border-radius(4px);
                    @include border-right-radius(0px);
                    margin-left: -1px;
                  }

                  input {
                    width: 430px;
                    margin: 0;
                    padding: 10px 6px;
                    height: auto;
                    border: none;
                    box-shadow: none;
                  }
                }
							}

							.tooltip-tag {
                display: block;
								top: 35px;
								text-align: left;
								width: 212px;
								margin-left: -188px;

								span {
									display: block;
									padding: 7px 9px;
									@include border-radius(4px);
									color: #fff;
									margin-top: -4px;
									background: #4c87d3;
									border: 1px solid #3563a1;
								}

								.arrow {
									margin-left: 177px;
								}

								.input-append {
									input {
										height: 25px;
									}
									button {
										height: 25px;
										padding-top: 5px;
										padding-right: 5px;
									}
								}

								.tags {
									.tag {
										position: relative;
										display: inline-block;
										color: #fff;
										font-size: 13px;
										margin: 5px 2px 0 2px;

										//a {
										//	display: none;
										//	position: absolute;
										//	top: 0;
										//	right: -20px;
										//	z-index: 10;
										//}
									}
								}
							}

						}

						.project-files {
							display: none;
							position: relative;
							top: -17px;

							.sub-box {
								position: relative;
								display: inline-block;
								margin: 2px 0 0 150px;
								min-width: 370px;

								.hooks {
									position: absolute;
									width: 100%;
									height: 30px;
									background: url('hooks-my-projects.png') no-repeat center center transparent;
									z-index: 10;
								}

								.sub-header {
									height: 15px;
									padding: 0;
									margin-top: 18px;
									border: 1px solid #707070;
									border-bottom: 1px solid #3d3d3d;
									@include border-top-radius(4px);
									@include background(linear-gradient(top, #fd794f, #d66643));
								}

								.sub-body {
									padding: 0;
									border: 1px solid #707070;
									border-top: none;
									@include border-bottom-radius(4px);

									ul {
										list-style: none;
										margin: 0;

										li {
											@include background(linear-gradient(top, #f5f5f5, #e0e0e0));
											border-bottom: 1px solid #979797;

											&:last-child {
												@include border-bottom-radius(4px);
											}

											.csn {
												padding: 5px 20px;
												border-right: 1px solid #979797;
											}

											.play {
												padding: 5px 20px;
												border-right: 1px solid #979797;
											}

											.name {
												padding: 5px 20px;
											}
										}
									}
								}
							}

							&.white {
								top: 0px;

								.sub-box {
									margin-top: 0;
									.sub-header {
										display: none;
									}

									.sub-body {
										ul {
											li {
												background: #fff;

												.csn {
													padding: 10px 20px;
												}

												.play {
													padding: 10px 20px;
												}

												.name {
													padding: 10px 20px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media(max-width: 980px) {
	section[role=my-projects] #my-projects.inside .folders {
		width: 200px;
	}

	section[role=my-projects] #my-projects.inside .folder-content {
		width: auto;
	}

	section[role=my-projects] #my-projects.inside .box ul.list li.project ul.content .info {
		margin-right: 30px;
	}
}

// TODO: It's too big file and needs refator
// but will monkey patch now

section[role=my-projects] #my-projects .folders {
  li {
    @include clearfix();    
    .button {
      color: white !important;
      &.gray {
				@include background(#000 linear-gradient(center top, #99a, #889));
        border: 1px solid #3F7838;
      }
    }
  
    .folder {
      .folder-remove {
        display: none;
      }
      &:hover .folder-remove {
        display: block;
      }
      
      .folder-pcount {
        display: block;
        font-weight: normal;
      }
      &:hover .folder-pcount {
        display: none;
      }

      form {
        margin-bottom: 0px;
      }
    }
    
    .subfolder {
      color: #8AE;
      cursor: pointer;

      &.current {
        color: white;
      }

      .subfolder-remove {
        display: none;
      }
      &:hover .subfolder-remove {
        display: block;
      }


      .subfolder-pcount {
        display: block;
        font-weight: normal;
      }
      &:hover .subfolder-pcount {
        display: none;
      }
      
      form {
        margin-bottom: 5px;
      }
    }
  }
}

// Bulk actions

.projects {
  .bulk-actions {
    margin-right: 0;

    span {
      display: none;
      text-align: center;
      font-weight: normal;
      padding-top: 8px;
    }

    &.active {
      height: 65px;
      margin-bottom: -21px;
      background: #2e5a9c;
      border-color: #2e5a9c;
      box-shadow: none;
      @include border-bottom-radius(0px);

      span {
        display: block;
      }
    }
  }

  .bulk-actions-content {
    > ul {
      margin: -10px 10px 0px 10px;
      padding: 15px 0 12px 0;
      background: #2e5a9c;
      color: #fff;

      > li {
        &:first-child {
          line-height: 38px;
        }

        .button {
          width: 125px;
        }

        .dk_label {
          padding-left: 25px;
          background: url(folder-small-blue.png) no-repeat left center transparent;
        }
      }
    }

    > ul:last-child {
      margin-bottom: 20px;
      @include border-bottom-radius(5px);
    }
  }

  ul .project {
    li.checkbox {
      display: none;
      padding: 14px 0px 0 14px;

      label {
        display: none;
      }
    }

    .handle {
      visibility: hidden;
      width: 45px;
      text-align: center;
      cursor: move;
      padding-top: 17px;
      &.draggable {
        visibility: visible;
      }
    }

    &.active-green {
      border-color: #8FC400 !important;

      .info .name {
        color: #8FC400 !important;
      }
    }
  }

}

.projects.favorites {
  .info {
    width: 340px !important;
  }
}
