#new-project {
  min-height: 745px;
  margin: 35px auto;
  width: 950px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  article {
    margin-left: 88px;
  }
  section {
    h3 {
      color: #6A6A6A;
      font-weight: normal;
      margin-top: 70px;
      text-align: center;
    }
  }
}

#new-project-tabs {
  background: #344555;
  border: 2px solid #1E5A7E;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  margin: 0;
  padding: 0;
  width: 88px;
  li {
    display: block;
    height: 70px;
    list-style: none;
    a {
      display: block;
      height: 100%;
      background: url(/assets/new-project-tabs.png) no-repeat 0 0;
      &.tab-1 {
        background-position: 23px 20px;
      }
      &.tab-2 {
        background-position: 23px -33px;
      }
      &.tab-3 {
        background-position: 23px -86px;
      }
      &.tab-4 {
        background-position: 23px -139px;
      }
    }
    &.selected {
      a {
        background-color: white;
        margin-left: 10px;
        margin-right: -2px;
        border-radius: 10px 0 0 10px;

        &.tab-1 {
          background-position: -43px 20px;
        }
        &.tab-2 {
          background-position: -43px -33px;
        }
        &.tab-3 {
          background-position: -43px -86px;
        }
        &.tab-4 {
          background-position: -43px -139px;
        }
      }
    }
  }
}

.csn-form {
  margin: 30px auto;
  width: 290px;
}

#upload-new-video {
  width: 410px;
  margin-left: -205px;
  padding: 30px;

  label {
    margin: 20px 0 8px 0;
    font-size: 16px;
  }

  .dk_container {
    width: 100%;
    float: none;

    .dk_toggle {
      width: 100% !important;
      font-size: 15px;
      font-weight: normal;
      color: #A3A3A3;
      border: 1px solid #d8d8d8;
      background-color: #f8f8f8;
      background-image: url(/assets/dropdown-arrow-gray.png);
      background-position: 320px 14px;
    }
  }

  .input-file {
    position: relative;

    input[type="file"] {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9;
      opacity: 0;
      cursor: pointer;
    }

    input[type="text"] {
      width: 240px;
      margin: 0;
      padding: 7px;
      height: auto;
      border: 1px solid #d8d8d8;
      background: #f8f8f8;
      color: #a3a3a3;
    }
  }

  .checkbox {
    label {
      margin: 10px 20px 0 6px;
      font-size: 14px;
      font-weight: 300;
      color: #a3a3a3;
    }
  }

  .percentage {
    margin-top: 20px;
    font-size: 12px;
    color: #a4a9aa;
  }

  .progress-container {
    width: 310px;
    height: 2px;
    margin-top: 7px;
    background: #dee6e7;

    .progress-bar {
      height: 100%;
      background: #85bd40;
    }
  }

  .button.upload {
    margin-top: 15px;
  }
}