@import "compass/css3";
section[role=projects] {
	&#edit-project {
		position: relative;

		.input-prepend {
			margin-top: 15px;
			color: #eaeaea;

			.add-on {
				height: 50px;
				width: 13%;
				text-align: center;
				padding-top: 12px;
				background: #fff;
				border-color: #c9c9c9;
				
				&:first-child {
					width: 7%;
				}
			}

			input[type=text] {
				width: 87%;
				height: 50px;
				font-size: 14px;
				margin: 0;
				border-color: #c9c9c9;
				border-left: none;
				box-shadow: none;
			}

			&.textarea {
				.add-on {
					height: 96px;
				}
			}

			textarea {
				width: 87%;
				height: 96px;
				padding-top: 15px;
				padding-bottom: 15px;
				box-shadow: none;
				border-left: none;
				border-radius: 0;
				@include border-right-radius(5px);
			}

			&.input-append {
				.add-on {
					&:last-child {
						padding-top: 12px;
					}
				}
			}
		}
	
		min-height: 700px;
		&.controls { min-height: 1000px; }
		&.branding { min-height: 1400px; }
		&.visual   { min-height: 1400px; }
		&.statics  { min-height: 875px; }

		.urls, .tags {
			.input-append {
				height: auto;
				position: relative;
				width: 80%;
				input {
					border-radius: 3px;
					height: 38px;
					width: 100%;
					border-color: #cccccc;
				}
				.add-on {
					position: absolute;
					right: 5px;
					top: 5px;
					.button {
						padding: 0px 9px;
						height: 25px;
						line-height: 23px;
					}
				}
			}
		}

		.list-tags {
			list-style: none;
			margin: 0;
			li {
				display: inline-block;
				position: relative;
				margin-right: 12px;
				margin-top: 8px;
				> span, > a {
					background: #F4F7FB;
					padding: 3px;
					border: 1px solid #BEC2C8;
				}
				a {
					color: #BEC2C8;
					border-left: none;
					border-right: none;
					display: inline-block;
					width: 28px;
					padding: 0;
					height: 25px;
					padding: 1px;
					text-align: center;
					position: relative;
					&:hover {
						color: white;
						background: #498BD0;
						border-color: #498BD0;
						&:before, &:after {
							border-left-color: #498BD0;
						}
					}
					&:before, &:after {
						position: absolute;
						content: " ";
						right: -18px;
						top: -1px;
						bottom: -1px;
					}
					&:after {
						border: 12px solid transparent;
						border-left: 7px solid #F4F7FB;
					}
					&:before {
						border: 12px solid transparent;
						border-left: 7px solid #BEC2C8;
						right: -19px;
					}
				}
				
			}
		}

		.video-menu {
			font-size: 11px;
			position: absolute;
			top: 88px;
			right: 0;
			width: 330px;
			z-index: 99;
			
	    transition: width 0.5s;
      -webkit-transtion: width 0.5s;
      -o-transition: width 0.5s;
      -ms-transition: width 0.5s;
      -moz-transition: width 0.5s;

			&.closed {
				width: 100px;
			}

			.accordion {
				display: block;
				margin-bottom: 12px;
			}

			h4 {
				padding: 12px 0;
				font-size: 19px;
				font-weight: normal;
				color: #383838;
				margin: 0;
				max-height: 50px;
				white-space: nowrap;
			}
			
			.save-project {
			  border: none;
			  background: none;
			  font-size: 19px;
			  font-weight: normal;
			  padding: 0;
			  margin-top: 0px;
			  margin-left: 150px; 
			  color: #4d89d6;
			}
			
			.save-project[disabled=disabled] {
			  color: graytext;
			}
			
			label {
				font-size: 12px;
				font-weight: bold;
			}

			.show-options {
				cursor: pointer;
				display: block;
				margin: -10px 0 0 0;
				padding: 10px 15px;
				& + .side-block {
					margin-top: 8px;
				}
			}

			.active > .show-options h4 {color: white;}

			.visual.active .show-options { background: #00BC9E;}
			.statics.active .show-options { background: #5FA845;}
			.branding.active .show-options { background: #EF695B;}
			.controls.active .show-options { background: #498BD0;}
			

			ul.customize-menu {
				width: 330px;
				list-style: none;
				border-top: 1px solid #d6d6d6;
				border-left: 1px solid #d6d6d6;

				> li {
					position: relative;
					padding: 10px 0 0 0;
					background: #fff;
					border-bottom: 1px solid #d6d6d6;
					&.active .side-block {
						display: block;
					}

					h4 {
						padding-left: 90px;
						background: url('/assets/video-menu-icons.png') no-repeat 0 0 transparent;
					}

					&.visual h4 { background-position: 0px 0px; }
					&.branding h4 { background-position: 0px -59px; }
					&.controls h4 { background-position: 0px -118px; }
					&.statics h4 { background-position: 0px -177px; }
					&.option h4 { background-position: 0px -236px; }
					&.buttons h4 { background-position: 0px -295px; }
					&.html h4 { background-position: 0px -354px; }

				}

				&.cta-menu {
					> li {
						padding-bottom: 10px;
						padding-left: 15px;
					}
					.button.blue {
						margin: -5px 50px -5px 0;
						color: #4d85cf;
						background: #f4f7fb;
						border: 1px solid #4d85cf;
						box-shadow: none;
					}
				}
			}
		}
		
		.side-block {
			border-bottom: 1px solid #d6d6d6;
			position: relative;
			padding: 0 15px;
			display: none;
			&:last-child {
				border-bottom: none;
				margin-bottom: 18px;
			}
		}

		ul.checkboxes-list {
			clear: both;
			margin: 0;
			> li {
				list-style: none;
				float: left;

				&.width-full {
					width: 100%;
				}
			}
		}

		.dimensions .checkboxes-list {
			& + .checkboxes-list {
				li {
					margin-bottom: 10px;
				}
			}
			> li {
				margin-right: 14px;
			}
		}

		.media-controls .checkboxes-list {
			clear: none;
			float: left;
			width: 50%;
			> li {
				width: 100%;
				a + label {
					margin-left: 12px;
				}
				label:first-child {
					margin-top: 6px;
					margin-bottom: 4px;
				}
				.dk_container {
					margin-bottom: 17px;
				}
				[type=number] {
					border: 2px solid #cdcdcd;
					border-radius: none;
					-mox-border-radius: none;
					box-shadow: none;
					background: white;
					width: 85%;
				}
			}
		}

		.maximum-dimensions-values {
			list-style: none;
			margin: 0px 8px 12px 23px;
			li { 
				float: left;
			}
			li:first-child input {
				border-radius: 2px 0 0 2px;
				border-right: none;
			}
			li:last-child input {
				border-radius: 0 2px 2px 0;
			}
			input {
				margin: 0;
				width: 65px;
				box-shadow: none;
			}
		}

		.custom-dimensions-values {
			position: absolute;
			bottom: 7px;
			right: 23px;
			li { 
				float: left;
			}
			li:first-child input {
				border-radius: 2px 0 0 2px;
				border-right: none;
			}
			li:last-child input {
				border-radius: 0 2px 2px 0;
			}
			input {
				margin: 0;
				width: 65px;
				box-shadow: none;
			}
		}
		
		/* BRANDING */
		.side-block.upload-block {
			padding-bottom: 20px;
			.progress {
				height: 5px;
				border: none;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				.meter {
					background: #EF695B;
					border-color: #EF695B;
				}
			}
			.button.filezile {
				position: absolute;
				right: 15px;
				top: 10px;
			}
		}

		.colors-controls {
			.color-picker-label {
				line-height: 28px;
				margin-right: 10px;
			}
			.color-picker {
				height: 28px;
				margin-left: 4px;
				width: 77px;
			}
		}

		.skins {
			height: 210px;
			margin: 0 -15px 0px -15px;
			list-style: none;
			overflow-y: scroll;
			overflow-x: hidden;
			li {
				border-top: 1px solid #d6d6d6;
				padding: 15px;
				h6 {
					color: #545454;
					margin-top: 10px;
				}
				&.selected_true {
					background: #4D89D5;

					.use-this {
						background: none;
						border: none;
						color: #fff;
					}
				}
			}
		}
		
		.banner {
		  a {
		    color: #4d89d6;
		  }
		}
		/* END BRANDING */

		.page-header {
			.video-title {
				padding: 5px 0px 5px 50px;
				color: #4d89d6;
				font-size: 24px;
				font-weight: 600;
				background: url(/assets/icon-play-blue.png) no-repeat left center transparent;
			}

			.button {
				height: auto;
				padding: 11px 18px 11px 40px;
				background: url(/assets/icon-embed-white.png) no-repeat 12px center #4d85cf;
				&.expanded {
					padding-top: 0;
					padding-bottom: 0;
				}
				input {
					margin: 0;
					height: 32px;
					width: 700px;
				}
			}
		}

		.page-body {
			position: relative;
			z-index: 0;
			padding: 35px 0;


			.cta-preview.inside {
				display: block !important;
			}

			.cta-overlay {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0,0,0,0.8);
			}

			.optin-specific-time {
				position: relative;
				ul {
					list-style: none;
					margin: 0;
				}
			}
			
			.cuepoints {
				float: left;
				width: 185;
				margin-bottom: 10px;
				clear: both;
				.input-prepend {
					float: left;
					width: 50%;
					input, .add-on {
						height: 32px;
					}
					.add-on {
						padding: 5px 14px;
					}
					input {
						width: 45px;
					}
				}
			}

			.add-cuepoint {
				position: absolute;
				left: 174px;
				bottom: 14px;
			}

			.video-options-content {
				position: relative;
				clear: both;
				margin-bottom: 250px;
				padding: 30px 40px;
				border: 2px solid #cbd5df;
				background: #fff;

				h2 {
					margin-top: 0;
					font-size: 22px;
				}
			}

			.cta-visual-controls {
				> ul > li {
					&:first-child {
						width: 145px;
						font-weight: bold;
					}

					&:last-child {
						float: right;
					}

					.color-picker {
						width: 80px;
					}
				}

				a.dk_toggle {
					width: 95px !important;
					background-position: 60px center; 
				}

				.optin-font-size {
					line-height: 32px;
					width: 70px;
					input {
						float: left;
						height: 36px;
						margin-right: 7px;
						width: 32px;
						border: 1px solid #cdcdcd;
						@include border-radius(4px);
					}
				}
			}

			.button.cancel {
				margin-right: 10px;
			}
		}
		.five .cta-visual-controls {
			> ul {
				margin: 25px 12px 17px 0;
				> li {
					margin-left: 0;
					margin-right: 8px;
					float: right;
					&:first-child {
						float: left;
						margin-right: 0;
						width: 35px;
						font-weight: bold;
					}
					&.optin-font-weight a.dk_toggle {
						width: 68px !important;
						background-position: 34px center; 
					}
				}
				.dk_container {
					font-weight: normal !important;
				}
				a.dk_toggle {
					width: 105px !important;
					padding-right: 22px;
				}
			}

		}
	}
}
