@import "compass/css3";

#sign-in {
	background: #354557 !important;
	
	section[role="sign-in"] {
		
		form {
			width: 450px;
			margin: 100px auto 0 auto;
			padding: 40px 45px;
			background: #fff;
			font-family: 'Open Sans', sans-serif;

			h6 {
				margin-bottom: 26px;
				font-size: 15px;
				font-weight: normal;
				color: #727272;
			}

			.email_content, .password_content {
				position: relative;

				.alert-box {
					position: absolute;
					bottom: 46px;
					left: 0px;
					margin: 0;
					padding: 9px 12px;
					font-weight: 300;
					color: #fff;
					background: #c35555;
					border: none;

					&:after {
						content: "";
						display: block;
						position: absolute;
						bottom: -3px;
						left: 20px;
						width: 0;
						border-top: 3px solid #c35555;
						border-right: 3px solid transparent;
						border-left: 3px solid transparent;
					}
				}

				&.error {
					> .input {
						border-color: #cc7676;
					}
				}
			}

			.input.email, .input.password {
				height: 38px;
				margin-bottom: 16px;
				background: #fff;
				border: 1px solid #d3d3d3;
				@include border-radius(2px);

				&:after {
					display: block;
				  clear: both;
				  visibility: hidden;
				  line-height: 0;
				  height: 0;
				  
				  content: ' ';
				}

				label.control-label {
					float: left;
					height: 100%;
					width: 12%;
					margin: 0;
					font-size: 0;
				}

				label.email {
					background: url(/assets/bg-input-email-gray.png) no-repeat center center transparent;
				}

				label.password {
					background: url(/assets/bg-input-password-gray.png) no-repeat center center transparent;
				}

				input {
					float: left;
					width: 88%;
					margin: 0;
					height: 100%;
					border: none;
					background: none;
					box-shadow: none;
					+ .error {
						display: none;
					}
				}
			}

			.button {
				height: auto;
				padding: 15px 0;
				font-size: 15px;
				box-shadow: none;
			}

			.links {
				margin-top: 30px;
			}

			.forgot-password {
				color: #596e86;
				font-size: 15px;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

		}
	}
}