@import "compass/css3";

#video_preview {
  .pure-head {
    h1 {
      border-bottom: 1px solid #fff;
      margin-bottom: 1px;
      img {
        width: 100px;
      }
    }
  }
  .content {
    background: #fff;
    width: 760px;
    margin: 0 auto;
    padding: 30px 25px;
    position: relative;


    .widgets-layout-bg {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 400px;
      background: url(/assets/video-page-bg.png) repeat 0 0 transparent;
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -20px 40px -20px);
    }

    &.layout-1 .widgets-layout-bg {
      display: none;
    }

    &.layout-2 .widgets-layout-bg {
      display: block;
    }

    &.layout-3 .widgets-layout-bg {
      display: block;
    }

    &.layout-4 .widgets-layout-bg {
      display: block;
      width: 700px;
      height: 100% !important;
      left: 50%;
      margin-left: -350px;
      background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;
      box-shadow: none;
    }

    &.layout-5 .widgets-layout-bg {
      display: block;
      height: 100% !important;
      border: 4px solid #3e8ac5;
      background: #fff;
      box-shadow: none;
    }

    &.layout-6 {
      background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;

      .widgets-layout-bg {
        display: block;
        background: #fff;
        @include box-shadow(rgba(0, 0, 0, 0.5) 0px 20px 40px -20px);
      }
    }

    .widgets-container {
      position: relative;
      // overflow: hidden;

      li {
        list-style: none;
        position: absolute;
        // width: 660px;

        h1,h2,h3,h4,h5,h6 {
          margin-top: 0;
        }
      }

      .widget-wrapper {
        padding: 20px 0px;
        // border: 1px solid red;
        float: left;
        margin-left: 25px;
        // margin: 15px 5px;


        &.widget-title {
          text-align: center;
        }
      }

    }

  }

  footer {
    margin:0;
  }

  [data-col="1"] {
    clear: left;
  }
}