@import "compass/css3";

.veil {
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	bottom: 0;
	width:100%;
	cursor: not-allowed;
	filter: alpha(opacity=100);
	opacity: 1;
	background: #fff;
	z-index: 9999;
}
.feedLoading {
	position: absolute;
	top:200px;
	width:100%;
	height:50px;
	text-align: center;
	font-size: 4em;
	color:#000;
	// text-shadow: 2px 2px 2px #021124;
	background: #fff url(/assets/spinner.gif) no-repeat center;
	z-index: 10000;
}
.spinner {
	top: 80px;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	background-color: #000000;
	@include opacity(0.3);
}
.custom-modal {
	// display: none;
	position: absolute;
	left: 80px;
	top: 100px;
	width: 350px;
	z-index: 99;
	border: 1px solid #bdbdbd;
	@include box-shadow(#999 0px 0px 30px);

	.head {
		height: auto;
		color: #666666;
		padding: 20px;
		border-bottom: 1px solid #e5e5e5;
		font-size: 20px;
		@include background(#fff linear-gradient(top, #fff, #f3f3f3));
		box-shadow: none;
	}

	.body {
		background: #fff;
		border-radius: 0;
		padding: 20px;
		position: relative;
		border-top: 1px solid #ebebeb;
		font-size: 12px;
		color: #939292;

		form {
			margin: 0;

			.bg-gray {
				background: #f3f3f3;
				margin: 10px -20px;
				padding: 20px 20px 10px;
			}

			label {
				margin-bottom: 10px;
				font-weight: bold;
				font-size: 13px;
			}

			.input-color {
				input[type=text]{
					&.color-picker {
						display: inline-block;
						width: 130px;
						padding-right: 30px;
					}
				}

				.color-preview {
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-left: -30px;
					vertical-align: middle;
					background: #000;
				}
			}

			.actions {
				margin-top: 10px;
			}

			.preview-image {
				margin: 10px 0;
			}
		}
	}

	.redactor_box {
		width: 340px;
		height: 200px;
		margin-left: -16px;

		.redactor_paragraph-redactor {
			color: #000;
		}
	}

	.font-family .dk_toggle {
		width: 115px !important;
		background-position: 75px center;
		margin-right: 6px;
	}

	.font-weight .dk_toggle {
		width: 95px !important;
		background-position: 55px center;
		margin-right: 6px;
	}

	.font-size {
		font-size: 13px; font-weight: bold; line-height: 25px;

		.px-label{
			float: right; margin: 5px;
		}

		.font-size-box {
			overflow: hidden;

			.font-size-edit {
				width: 40px; height: 36px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
			}
		}
	}


	.dk_toggle {
		width: 85px !important;
		background-position: 45px center;
	}

	ul.nav-tabs {
		position: relative;
		margin: 0 0 -1px 0;
		z-index: 20;

		li {
			width: 100px;
			margin: 0 1px 0 0;
			padding: 13px 0;
			text-align: center;
			background: #f5f5f5;
			border: 1px solid #c9c9c9;
			@include border-top-radius(4px);

			a {
				color: #000;
				font-size: 13px;
				font-weight: bold;

				&:hover {
					color: #3e5779;
				}
			}

			&.active {
				background: #fff;
				border-bottom: 1px solid #fff;

				a {
					color: #3e5779;
				}
			}
		}
	}

	ul.list-tags {
		list-style: none;
		margin: 5px 0 12px 0;

		li {
			display: inline-block;
			margin-bottom: 4px;
			padding: 5px 10px;
			border: 1px solid #e0e0e0;
			color: #666666;
			@include border-radius(4px);
			@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));

			a.myTagRemover {
				color: #c9c9c9;
				font-weight: bold;
			}
		}
	}

	.tagManager {
		margin-bottom: 5px;
	}

	.tab-content {
		position: relative;
		height: 345px;
		margin: 0 -20px;
		border-top: 1px solid #c9c9c9;

		.tab-pane {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			opacity:0;
			filter:alpha(opacity=0);
			z-index: 10;

			.tab-wrapper {
				height: 320px;
				overflow: auto;

				ul{
					li {
						text-align: center;
						padding: 9px;
						&.active {
							background: #ededed;
						}
					}
				}

			}



			&.active {
				opacity:1;
				filter:alpha(opacity=100);
				z-index: 15;
			}
		}
	}
}


section[role="video-page"] {
	#video-page {
		.settings {
			width: 20%;
			border: 1px solid #b9b9b9;
			@include border-radius(4px);

			.header {
				padding: 30px 20px;
				background: url(/assets/bg-setting-header.png) repeat 0 0 transparent;
				border-bottom: 1px solid #d2d2d2;

				&:first-child {
					@include border-top-radius(4px);
				}

				h5 {
					margin: 0;
					font-size: 16px;
					color: #323232;

					img, i {
						margin-right: 15px;
					}
				}
			}

			.body {
				position: relative;
				padding: 20px;
				background: url(/assets/bg-setting-body.png) repeat 0 0 transparent;
				border-top: 1px solid #ebebeb;
				font-size: 12px;
				color: #939292;

				&:last-child {
					@include border-bottom-radius(4px);
				}

				p {
					font-size: inherit;
					margin: 0;
				}



				// #box-select {
				// 	ul {
				// 		text-align: center;

				// 		li {
				// 			label {
				// 				background: #fff;
				// 				position: relative;
				// 				margin: -20px 0 0 0;
				// 				padding: 20px 0;
				// 			}

				// 			input:checked + label{
				// 				background: #ededed;
				// 			}
				// 		}
				// 	}
				// }

				#widgets-button {
					.tab-pane {
						padding: 20px 0 20px 20px;
					}

					.scrollbar-menu .viewport {
						width: auto;
						height: 315px;
					}
				}

				#widgets-seo {
					top: -285px;

					p {
						font-size: 12px;
					}
				}
			}

			.widgets {
				margin: 10px 0 0 0;

				li {
					position: relative;
					margin: 10px 0 0 0;

					&.spacing {
						margin-left: 10px;
						margin-right: 10px;
					}

					&:hover .tooltip {
						display: block;
					}

					.tooltip {
						display: none;
						white-space: nowrap;
						bottom: 50px;
					}

					.tooltip:after {
						content: "";
						display: block;
						position: absolute;
						bottom: -6px;
						left: 50%;
						width: 0;
						height: 0;
						margin-left: -6px;
						border-top: 6px solid #000;
						border-top: 6px solid rgba(0, 0, 0, 0.85);
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
					}

					a {
						display: inline-block;
						width: 40px;
						line-height: 40px;
						text-align: center;
						background: #eaeaea;
						border: 1px solid #a3a3a3;
						@include border-radius(4px);

						&.selected, &:hover {
							border: 1px solid #666666;
							background: #fff;
						}

						img {
							vertical-align: middle;
						}
					}
				}
			}

			.layouts {
				margin: 10px 0 0 0;

				li {
					margin: 10px 0 0 0;

					&:nth-child(odd) {
						margin-right: 15px;
					}

					a {
						display: inline-block;
						width: 65px;
						border: 2px solid transparent;
						@include border-radius(4px);

						&.selected, &:hover {
							border: 2px solid #64ba58;
						}

						img {
							display: block;
						}
					}
				}
			}

			.tools {
				margin: 0;
				list-style: none;

				li {
					margin: 10px 0 0 0;

					a {
						display: block;
					}
				}
			}
		}

		.page-content {
			position: relative;
			width: 80%;
			margin-left: -2px;
			background: #fff;
			@include border-radius(5px);
			@include box-shadow(#444 -3px 2px 10px);

			.wg-content-wrapper {
				// padding: 10px;

				&.widget-title {
					text-align: center;
					margin-right: 40px;
				}
				.widget-paragraph {
					// text-align: center;
					margin-right: 40px;
				}
			}

			.widget-content-null {
				h2 {
					margin: 0;
				}
			}

			.header {
				height: auto;
				color: #666666;
				padding: 20px;
				border-bottom: 1px solid #e5e5e5;
				@include border-top-radius(5px);
				@include background(#fff linear-gradient(top, #fff 70%, #f3f3f3));
				box-shadow: none;

				.name {
					color: #3d68a8;
					font-size: 25px;
					line-height: 25px;
					font-weight: bold;
				}

				form, input[type=text] {
					margin: 0;
				}

				input[type=text] {
					border-radius: 0px;
					width: 250px;
				}

				.button {
					padding: 8px 10px;
				}

				ul {
					margin: 0;

					li {
						margin-left: 8px;
						line-height: 30px;

						i {
							display: inline-block;
						}
					}
				}
			}

			.body {
				position: relative;
				padding: 0 50px 30px 50px;

				form {
					margin: 0;

					.actions {
						position: relative;
						margin-top: 20px;
						z-index: 10;

						.button {
							margin-left: 15px;
						}
					}
				}

				.widgets-layout-bg {
					display: none;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 400px;
					background: url(/assets/video-page-bg.png) repeat 0 0 transparent;
					@include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -20px 40px -20px);
				}

				&.layout-1 .widgets-layout-bg {
					display: none;
				}

				&.layout-2 .widgets-layout-bg {
					display: block;
				}

				&.layout-3 .widgets-layout-bg {
					display: block;
				}

				&.layout-4 .widgets-layout-bg {
					display: block;
					width: 700px;
					height: 100% !important;
					left: 50%;
					margin-left: -350px;
					background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;
					box-shadow: none;
				}

				&.layout-5 .widgets-layout-bg {
					display: block;
					height: 100% !important;
					border: 4px solid #3e8ac5;
					background: #fff;
					box-shadow: none;
				}

				&.layout-6 {
					background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;

					.widgets-layout-bg {
						display: block;
						background: #fff;
						@include box-shadow(rgba(0, 0, 0, 0.5) 0px 20px 40px -20px);
					}
				}

				.gridster {
					width: 660px;
					padding-top: 30px;

					ul {
						list-style: none;

						li {
							position: absolute;
							padding: 10px;
							background: #fffbe3;
							border: 2px dashed #d1c895;
							z-index: 10;

							&.preview-holder {
								@include opacity(0.5);
							}

							&.not-resizable {
								.gs-resize-handle {
									display: none;
								}
							}

							&.dragging {
								z-index: 99999;
							}

							.widget-buttons {
								height: 15px;
								float: right;
							}

							&.video {
								background: transparent;
								border: none;
								padding: 0;

								.remove {
									display: none;
								}
							}

							&.widgets-face-comment {
								text-align: center;
							}

							.remove {
								position: absolute;
								top: 10px;
								right: 10px;
								line-height: 14px;
								color: #d1c895;
								z-index: 99;
							}

							.edit {
								position: absolute;
								top: 11px;
								right: 24px;
								line-height: 14px;
								color: #d1c895;
								z-index: 99;
							}
						}
					}
				}


				.gridster > * {
					margin: 0 auto;
					-webkit-transition: height .4s;
					-moz-transition: height .4s;
					-o-transition: height .4s;
					-ms-transition: height .4s;
					transition: height .4s;
				}

				.gridster .gs-w {
					z-index: 2;
					position: absolute;
				}

				.ready .gs-w:not(.preview-holder) {
					-webkit-transition: opacity .3s, left .3s, top .3s;
					-moz-transition: opacity .3s, left .3s, top .3s;
					-o-transition: opacity .3s, left .3s, top .3s;
					transition: opacity .3s, left .3s, top .3s;
				}

				.ready .gs-w:not(.preview-holder),
				.ready .resize-preview-holder {
					-webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
					-moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
					-o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
					transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
				}

				.gridster .preview-holder {
					z-index: 1;
					position: absolute;
					background-color: #fff;
					border-color: #fff;
					opacity: 0.3;
				}

				.gridster .player-revert {
					z-index: 10!important;
					-webkit-transition: left .3s, top .3s!important;
					-moz-transition: left .3s, top .3s!important;
					-o-transition: left .3s, top .3s!important;
					transition:  left .3s, top .3s!important;
				}

				.gridster .dragging,
				.gridster .resizing {
					z-index: 10!important;
					-webkit-transition: all 0s !important;
					-moz-transition: all 0s !important;
					-o-transition: all 0s !important;
					transition: all 0s !important;
				}


				.gs-resize-handle {
					position: absolute;
					z-index: 1;
				}

				.gs-resize-handle-both {
					width: 20px;
					height: 20px;
					bottom: -8px;
					right: -8px;
					background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
					background-position: top left;
					background-repeat: no-repeat;
					cursor: se-resize;
					z-index: 20;
				}

				.gs-resize-handle-x {
					top: 0;
					bottom: 13px;
					right: -5px;
					width: 10px;
					cursor: e-resize;
				}

				.gs-resize-handle-y {
					left: 0;
					right: 13px;
					bottom: -5px;
					height: 10px;
					cursor: s-resize;
				}

				.gs-w:hover .gs-resize-handle,
				.resizing .gs-resize-handle {
					opacity: 1;
				}

				.gs-resize-handle,
				.gs-w.dragging .gs-resize-handle {
					opacity: 0;
				}

				.gs-resize-disabled .gs-resize-handle {
					display: none!important;
				}

				[data-max-sizex="1"] .gs-resize-handle-x,
				[data-max-sizey="1"] .gs-resize-handle-y,
				[data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
					display: none !important;
				}


			}
		}
	}

	#video-page-preview {
		&.grid-content {
			width: 740px;
			margin: 0 auto;
			padding-bottom: 20px;
			background: #fff;
			@include border-radius(4px);
			overflow: hidden;

			.row {
				width: 660px;
				min-width: 0px;

				.grid-box {
					float: left;
					margin-bottom: 20px;
					line-height: 22px;
				}

				.grid-type-title {
					margin-bottom: 0px;
					padding: 40px 0;
				}

				.grid-type-video {
					margin-bottom: 30px;
					padding-bottom: 32px;
					border: 8px solid #ececec;
					@include border-radius(4px);
				}

				.grid-type-image {
					img {
						display: block;
						width: 100%;
						border: 8px solid #ececec;
					}
				}

				.grid-type-face-comment {
					text-align: center;
				}
			}
		}

		&.layout-1 {

		}

		&.layout-2 {
			padding-top: 0;

			.dark-bg {
				margin-bottom: 30px;
				background: url(/assets/video-page-bg.png) repeat 0 0 transparent;
				@include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -20px 40px -20px);
			}

			.grid-type-video {
				border-color: rgba(0,0,0,0.2) !important;
			}
		}

		&.layout-3 {
			padding-top: 0;

			.dark-bg {
				margin-bottom: 215px;
				background: url(/assets/video-page-bg.png) repeat 0 0 transparent;
				@include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -20px 40px -20px);
			}

			.grid-type-video {
				margin-bottom: -170px !important;
				border-color: rgba(0,0,0,0.2) !important;
			}
		}

		&.layout-4 {
			padding-top: 0;

			.row {
				width: 700px;
				padding-left: 20px;
				background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;

				&:first-child {
					padding-top: 20px;
				}
			}
		}

		&.layout-5 {
			border: 6px solid #3e8ac5;

			.dark-bg {
				.row {
					border-bottom: none;
				}
			}
		}

		&.layout-6 {
			padding-top: 0;
			background: url(/assets/video-page-bg-light.png) repeat 0 0 transparent;

			.dark-bg {
				margin-bottom: 30px;
				background: #fff;
				@include box-shadow(rgba(0, 0, 0, 0.5) 0px 20px 40px -20px);
			}

			.grid-type-video {
				border-color: #d9d9d9 !important;
			}

			.grid-type-image img {
				border-color: #ffffff !important;
			}
		}

		&.layout-7 {
			width: 100%;
			padding-top: 0;

			.dark-bg {
				margin-bottom: 30px;
				background: url(/assets/video-page-bg.png) repeat 0 0 transparent;
				@include box-shadow(inset rgba(0, 0, 0, 0.5) 0px -20px 40px -20px);
			}

			.grid-type-video {
				border-color: rgba(0,0,0,0.2) !important;
			}
		}
	}
}