@import "compass/css3";	

#wp-layout {
	font-family: "Open Sans", sans-serif;
	background: #fff;

	header {
		background: #252525;
		position: fixed;
		width: 100%;
		z-index: 99;
		top: 0;
		height: 69px;

		-webkit-box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
		-moz-box-shadow: 0 6px 6px rgba(0,0,0, 0.2);
		box-shadow: 0 6px 6px rgba(0,0,0, 0.2);

		> div {
			-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
			box-shadow: 0 1px 10px rgba(0,0,0,0.1);	
		}

		.topbar {
			background: none;
		}
		.brand {
			display: block;
			float: left;
			padding: 0px 20px 10px;
			margin-left: -20px;
			font-size: 20px;
			font-weight: 200;
			color: #777;
			text-shadow: 0 1px 0 #fff;
		}

		nav {
			margin: 0;

			h1 {
				padding-top: 28px;
				padding-left: 5px;
				display: inline-block;
				float: left;
				margin: 0;
			}

			ul.menu {
				display: inline-block;
				float: right;
				margin: 0;
				list-style: none;

				li {
					float: left;

					line-height: 69px;
					a {
						display: block;
						padding: 0 20px;
						color: #fff;
						font-size: 15px;
						font-weight: normal;
						border-left: 1px solid #161616;
						@include box-shadow(inset 1px 0 1px rgba(255,255,255,0.05));

						&:hover, &:focus {
							background: #2c2c2c;
						}
					}

					&.active {
						a {
							background: #2c2c2c;
						}
					}

					&:last-child {
						a {
							border-right: 1px solid #161616;
						}
					}
				}
			}

			a.button {
				display: inline-block;
				float: right;
				height: auto;
				margin: 15px 0 12px 20px;
				font-weight: bold;
				box-shadow: none;
				line-height: 20px;
				font-size: 14px;
				padding: 9px 15px;
				@include box-shadow(inset 0 1px 1px rgba(255,255,255,0.05));
				@include background(linear-gradient(top, #91c530, #5da51f));
				text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
			}
		}
	}

	section[role="sign-up"] {
		margin-top: 69px;
		ul.price {
			position: relative;
			margin: 15px 0 10px 0;
			list-style: none;
			color: #d3d3d3;

			li {
				display: inline-block;
				vertical-align: top;
				font-size: 18px;
				font-weight: bold;

				.value {
					margin: 0;
					font-size: 36px;
					line-height: 40px;
				}

				.cents {
					display: block;
					text-align: left;
					font-size: 16px;
				}

				.month {
					display: block;
					line-height: 0;
					font-size: 13px;
					font-weight: normal;
				}
			}
		}

		.free-trial {
			padding: 35px 0 45px 0;
			background: url('/assets/wp-layout/texture-footer.png') repeat 0 0  transparent;
			color: #fff;

			h1, h4 {
				font-family: "Open Sans", sans-serif;
				font-weight: 300;
				color: #fff;
			}

			h1 {
				font-size: 55px;
			}

			h4 {
				font-size: 22px;
			}
		}

		.plans-tabs {
			padding-top: 50px;

			ul.price {
				margin: 0;

				.dash {
					position: absolute;
					top: 10px;
					left: 50%;
					width: 88px;
					height: 24px;
					margin-left: -55px;
				}
			}

			ul.navigation {
				margin: 0;

				> li {
					margin: 5px 1px 0 0;
					width: 33%;

					a {
						display: block;
						width: 100%;
						padding: 25px 0 15px 0;
						text-align: center;
						background: #eaeaea;
						@include border-top-radius(4px);
					}

					h3 {
						margin: 0 0 15px 0;
						font-family: "Open Sans", sans-serif;
						font-size: 30px;
					}

					&.plan-1 h3 {
						color: #7c9942;
					}

					&.plan-2 h3 {
						color: #fa7f37;
					}

					&.plan-3 h3 {
						color: #1165a0;
					}

					&.active {
						margin-top: 0;

						a {
							padding-top: 31px;
							background: #f4f4f4;
						}
					}
				}
			}
		}

		.plans-tabs-content {
			background: #f4f4f4;
			padding: 50px 0;

			.tab-content {
				display: none;

				&.active {
					display: block;
				}
			}

			ul.itens {
				margin: 30px 0 0 0;
				height: 54px;

				li {
					margin: 0 20px 0 0;

					&:first-child {
						width: 50px;
						padding-top: 12px;
						text-align: center;

						div:first-child {
							font-size: 20px;
						}
					}

					&:last-child {
						font-size: 14px;

						div:first-child {
							font-size: 20px;
						}
					}
				}
			}

			ul.price {
				margin: 95px 0 0 0;

				li {
					font-size: 35px;
				}

				.value {
					font-size: 72px;
					line-height: 77px;
				}

				.cents {
					font-size: 35px;
				}

				.month {
					font-size: 23px;
				}

				.dash {
					position: absolute;
					top: 17px;
					left: 50%;
					width: 165px;
					height: 49px;
					margin-left: -95px;
				}
			}

			.sticker {
				margin-top: 55px;
			}

			.arrow {
				margin-top: 180px;
			}

			form {
				h4 {
					margin-top: 0;
					font-family: "Open Sans", sans-serif;
					font-size: 30px;
					font-weight: 300;
				}

				h6 {
					margin-bottom: 28px;
					font-family: "Open Sans", sans-serif;
					font-size: 13px;
					font-weight: normal;
				}

				.input {
					height: 68px;
					margin-bottom: 20px;
					background: #fff;
					border: 1px solid #d0d0d0;
					@include border-radius(2px);

					&:after {
						display: block;
					  clear: both;
					  visibility: hidden;
					  line-height: 0;
					  height: 0;
					  
					  content: ' ';
					}

					label.control-label {
						float: left;
						height: 100%;
						width: 17%;
						margin: 0;
						font-size: 0;
					}

					label.name {
						background: url(/assets/wp-layout/bg-input-user.png) no-repeat center center transparent;
					}

					label.email {
						background: url(/assets/wp-layout/bg-input-email.png) no-repeat center center transparent;
					}

					label.password {
						background: url(/assets/wp-layout/bg-input-password.png) no-repeat center center transparent;
					}

					input {
						float: left;
						width: 83%;
						margin: 0;
						height: 100%;
						border: none;
						background: none;
						box-shadow: none;
					}
				}

				.terms-conditions {
					margin: 0;

					li {
						margin: 0;

						label {
							font-weight: normal;
						}

						a {
							display: inline-block;
						}

						&:last-child {
							margin: 6px 5px;
						}
					}
				}

				.button.green {
					height: auto;
					margin: 20px auto 0 auto;
					padding: 19px 25px;
					font-size: 20px;
					line-height: 20px;
					@include background(linear-gradient(top, #91c530, #5da51f));
					box-shadow: none;
				}
			}
		}

		.depoiments {
			padding: 50px 0 80px 0;

			h1 {
				font-family: "Open Sans", sans-serif;
				margin-bottom: 40px;
				font-size: 40px;
				font-weight: 300;
				color: #223548;
			}

			.photo {
				margin-top: 40px;
				border: 7px solid #f5f5f5;
				@include border-radius(200px);
			}

			.speak {
				position: relative;
				margin-top: 30px;
				padding: 40px 20px 30px 20px;
				border: 1px solid #e7e7e7;

				.arrow {
					position: absolute;
					top: -29px;
					left: 35px;
				}

				p {
					color: #666666;
					font-size: 17px;
					margin: 0;

					&.name, &.company {
						font-size: 15px;
						color: #999999;
					}

					&.name {
						margin-top: 40px;
					}
				}
			}
		}
	}

	section[role="footer"] {
		padding: 60px 0 80px 0;
		background: url('/assets/wp-layout/texture-footer.png') repeat 0 0 transparent;

		h4 {
			margin: 20px 0 0 30px;
			font-size: 20px;
			font-weight: normal;
			color: #fff;
		}

		.three.columns:last-child {
			h4 {
				margin: 20px 0 0 0;
			}
		}

		ul.links {
			list-style: none;
			margin: 0 0 0 30px;

			li {
				margin: 20px 0 0 0;

				a {
					color: #75c8fc;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		ul.contact {
			font-family: Arial;
			margin: 20px 0 30px 0;

			li {
				margin: 0 10px 0 0;
				color: #fff;
				
				&:first-child {
					width: 30px;
					margin-top: -2px;
					text-align: center;
					font-size: 40px;
					line-height: 40px;
					color: #75c8fc;
				}

				&:last-child {
					div {
						line-height: 13px;
						font-size: 12px;
					}

					a {
						font-size: 15px;
						font-weight: bold;
						color: #fff;
					}
				}
			}

			&.phone {
				li:last-child div:last-child {
					font-size: 23px;
					font-weight: bold;
					line-height: 27px;
				}
			}

			&.email {	
			 	li:first-child {
					font-size: 30px;
				}
			}

			&.map {
			 	li:last-child div {
					font-size: 14px;
					line-height: 19px;
				}	
			}
		}

		.button.green {
			height: auto;
			width: 100%;
			margin: 35px auto 0 auto;
			padding: 19px 10px;
			font-size: 20px;
			line-height: 20px;
			@include background(linear-gradient(top, #91c530, #5da51f));
			box-shadow: none;
		}

		.button.blue {
			height: auto;
			padding: 15px 35px;
			font-size: 15px;
			font-weight: normal;
			background: #02538b;
			box-shadow: none;
		}
	}

	footer {
		margin: 0;
		padding: 30px 0;
		font-size: 12px;
		color: #75c8fc;
		background: url('/assets/wp-layout/texture-foot.png') repeat 0 0 transparent;

		.columns:first-child {
			padding-top: 20px;
		}

		div, a, li {
			font-size: 12px;
			color: #75c8fc;
		}

		ul.social {
			font-family: Arial;
			margin: 0 0 0 30px;

			li {
				margin: 0 10px 0 0;
				
				&:first-child {
					a {
						margin-top: -2px;
						font-size: 40px;
						line-height: 40px;
					}
				}

				&:last-child {
					div {
						line-height: 13px;
					}

					a {
						font-size: 18px;
						font-weight: bold;
					}
				}
			}
		}
	}
}