%section(role="dropzone")
  .tab-dropzone HIDE
  .dropzone
    .upload-box
      %form.upload-action(action="/dashboard" enctype="multipart/form-data" method="post")
        %input(name="token" type="hidden" value="")/
      %span
        = image_tag('/assets/icon-upload-white.png', :class => 'upload-icon')
        Drag your files to upload or
      %a.radius.button.blue.pc(href="#") Select from PC
      %a.radius.button.blue.csn(data-reveal-id="modal-csn" href="#" onclick="fileDestination='TESTE';")
        Select from CSN
      .upload-queue
        %span Uploading 1 of 3
        .progress.large-6.success.round
          %span.meter(style="width: 40%")
        %a(href="#")
          %i.picon-queue
        %a(href="#")
          %i.picon-new-white
        %a(href="#")
          %i.picon-close-white
