%header(role="banner")
  .top-menu
    .row.wrapper
      .twelve.columns
        %nav
          .clearfix
            %ul.inline-list.pull-left
              %li
                %a.logo(href="/" ng-click="reloadRoot()")= image_tag "logo-small.png"
              %li
                .input-append.form-search.clearfix
                  %form(action="/projects" method="get")
                    %button(type="submit")
                      %i.picon-search
                    %input(name="search" placeholder="Search" type="text" value="#{@search}")/
            %ul.inline-list.pull-right
              %li
                %a.radius.button.green.more-embeds(href="#") Earn more embeds
              %li(user-dropdown="")
                %a.open-user-dropdown(href="")= gravatar_image_tag("#{current_user.email}".gsub('spam', 'mdeering'), :alt => "#{current_user.name}" , :gravatar => { :size => 31 })
                / a href class="open-user-dropdown"><haml_loud> image_tag &quot;temp-profile.png&quot;, width: &quot;25&quot; </haml_loud></a
                .user-dropdown
                  %ul
                    %li
                      %a(href="/account")
                        %i.picon-user-gray
                        Profile
                    - if current_user.owner
                      %li
                        %a(href="/account/billing")
                          %i.picon-billing-gray
                          Billing
                      %li
                        %a(href="/account/team")
                          %i.picon-team-gray
                          Teams
                      %li
                        %a(href="/csns")
                          %i.picon-connection-gray
                          Connections
                    %li
                      = link_to destroy_user_session_path do
                        %i.picon-logout-gray
                        Logout
  .main-menu 
    .row.wrapper
      .twelve.columns       
        %nav
          %ul.inline-list
            %li
              = link_to "Dashboard", dashboard_path, class: ("active" if current_page?(dashboard_path))
            %li
              %a(href="#") My Projects
              %ul
                %li.all-projects
                  = link_to "All Projects", projects_path, class: ("active" if current_page?(projects_path))
                %li.new-project
                  = link_to "New Project", new_project_path, class: ("active" if current_page?(new_project_path))
                %li.split-testing
                  %a(href="#") Split Testing

            %li
              %a(href="#") Analytics
            %li
              = link_to "Help", help_path, class: ("active" if current_page?(help_path))
            
            - if current_page? new_project_path
              %li#upload-button
                %a(href="#" data-reveal-id="upload-new-video") Upload Video

