!!!
%html.no-js(ng-app="optimizePlayer")
  %head
    %meta(charset="utf-8")/
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")/
    %title
    %meta(content="" name="description")/
    %meta(content="width=device-width" name="viewport")/
    = stylesheet_link_tag    "application", :media => "all"
    
    %link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css")
    
    = csrf_meta_tags
    = yield :head
  %body
    = render partial: 'layouts/header'
    
    #main-content
      = yield
      
    = javascript_include_tag "application"
    %script(src="https://js.stripe.com/v2/" type="text/javascript")
    :javascript
      Stripe.setPublishableKey('STRIPE_PUBLIC_KEY');
