!!!
%html
  %head
    %meta(charset="utf-8")/
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")/
    %title
    %meta(content="" name="description")/
    %meta(content="width=device-width" name="viewport")/
    = stylesheet_link_tag "application", :media => "all" #FIXME
    = csrf_meta_tags
    = yield :head
  %body
    = yield
