!!!
%html(ng-app="optimizePlayer")
  %head
    - if !@preview_page.blank?
      - if !@preview_page[:videopage][:seo].blank? && !@preview_page[:videopage][:seo][:title].blank?
        %title #{@preview_page[:videopage][:seo][:title]}
      - else
        %title Video preview
      - if !@preview_page[:videopage][:seo].blank? && !@preview_page[:videopage][:seo][:keywords].blank?
        %meta{:name => "keywords", :content => @preview_page[:videopage][:seo][:keywords].join(", ") }
      - if !@preview_page[:videopage][:seo].blank? && !@preview_page[:videopage][:seo][:description].blank?
        %meta{:name => "description", :content => @preview_page[:videopage][:seo][:description]}
    = stylesheet_link_tag "application", :media => "all"
    - fonts_array = default_google_fonts
    - unless fonts_array.blank?
      - fonts_array.each do |font|
        = google_font_link_tag font
    = csrf_meta_tags
  / %body#video_preview(ng-controller="ProjectCtrl" role="projects")

  %body#video_preview{ :style=>"background: #{@preview_page and @preview_page[:videopage][:settings] and @preview_page[:videopage][:settings][:backgroundColor] ? @preview_page[:videopage][:settings][:backgroundColor] : '#fff' };"}
    = yield
    %footer
    = javascript_include_tag "application"