.add-account(ng-show="!!csn")
  %h4(ng-hide="csn.id") Add new Connection to your account
  #err
  %br/
  %form.form-horizontal(action method="post" name="newCsnProvider")
    .group.clearfix
      %label Provider
      .input
        %select#provider.dropkick(ng-model="csn.provider" required select-service-provider="")
          %option(value="") Choose provider
          %option(value="aws") Amazon
          %option(value="rackspace") Rackspace
    .group
      %label Name
      .input
        %input(name="name" ng-model="csn.name" required="" type="text")/
    .group
      %label(ng-hide="csn.provider=='rackspace'") Bucket name
      %label(ng-show="csn.provider=='rackspace'") Container name
      .input
        %input(name="name" ng-model="csn.bucket" required="" type="text")/
    .group
      %label(ng-hide="csn.provider=='rackspace'") API Key
      %label(ng-show="csn.provider=='rackspace'") Username
      .input
        %input(name="key" ng-model="csn.access_key" required="" type="text")/
    .group
      %label(ng-hide="csn.provider=='rackspace'") Secret key
      %label(ng-show="csn.provider=='rackspace'") API key
      .input
        %input(name="secret_key" ng-model="csn.secret_key" required="" type="text")/
    .group(ng-hide="csn.provider=='rackspace'")
      %label Use Cloudfront
      .input
        %span(checkbox ng-model="csn.use_cloudfront" label="")
    .group
      .input
        %input.radius.button.green(ng-click="save()" ng-disabled="isSaving" ng-hide="newCsnProvider.$error.required" type="submit" value="Update Details")/
