- content_for :title, "Settings"
%section(jquery-plugins ng-controller="CsnCtrl" role="account")
  .page-body
    .row
      .twelve.columns
        #account
          .box-menu
            = render 'account/shared/sidenav', { active: 'connections' }
            .right-content
              .header.clearfix
                .pull-left
                  %h3
                    = image_tag "icon-connections.png"
                    Connections
                .pull-right
                  %a.help(href="#") ?
              / div ng-show="loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20" />LOADING...</div
              .body.connections
                #tooltip-delete-csn
                  = image_tag('/assets/tooltip-error-arrow.png')
                  %span
                    %i.picon-trash
                    Delete Connection?
                %ul.inline-list.clearfix.csns
                  %li(ng-repeat="csn in csns" ng-cloak)
                    .csn
                      .icon
                        %img(ng-src="/assets/logo-{{ csn.provider }}.png")/
                      .actions
                        %a.edit(href="" ng-click="view(csn)")
                          %i.picon-edit-lightgray
                        %a.use-tooltip.close(data-tooltip="delete-csn" ng-click="remove(csn)")
                          %i.picon-close-lightgray
                    %span {{csn.name}}
                  %li.add
                    .csn
                      %a.add(ng-click="add()")
                        %i.picon-plus-green
                    %span Add CSN Account
                = render 'csns/form'
